[2016-02-04 05:38] jxson commented on #1118
@asadovsky I think we should remove the JS content and tests since it is unsupported, we can always resurrect from history later...

[2016-02-04 05:41] asadovsky commented on #1082
Done by @tatatodd in these CLs:
https://vanadium-review.googlesource.com/#/c/19133/
https://vanadium-review.googlesource.com/#/c/19251/

[2016-02-04 05:41] #1082 closed, assigned to asadovsky

[2016-02-04 05:43] asadovsky commented on #1084
Settled on keeping {Send,Await}Vars as the one simple builtin for child->parent messaging; for anything else, do it yourself a la `v.io/x/ref/test/expect`.
https://vanadium-review.googlesource.com/#/c/19156/
https://vanadium-review.googlesource.com/#/c/19192/

[2016-02-04 05:43] #1084 closed, assigned to asadovsky

[2016-02-04 05:47] asadovsky commented on #1118
https://vanadium-review.googlesource.com/#/c/19540/ fixed the npm issue before seeing @jxson's comment. I am inclined to agree that we should drop the JS stuff. I'll start a separate issue to see if others might opine.

The only remaining issue is the `PATH` one:
https://veyron.corp.google.com/jenkins/job/vanadium-website-tutorials-external/OS=darwin/1480/console
https://veyron.corp.google.com/jen

[2016-02-04 05:56] asadovsky opened #1123 "Website: drop JS content"
@jxson @cosnicolaou @nadava @nlacasse

Jason proposed, and I'm inclined to agree, that we should remove the JS tutorials and tests from vanadium.github.io for now.

There are number of reasons for this:
- JS is no longer under active development/support, and is not well-maintained
- JS has various performance and usability issues, i.e. it's not in a good state
- The JS tutorials lead tutees down a

[2016-02-04 17:20] #1116 closed, assigned to ankurtaly

[2016-02-04 22:37] afandria opened #1124 "copyright: Use 2016 for new files"
`jiri copyright fix` should start putting 2016 in the copyright headers instead of 2015.

The copyright test should accept 2015 and 2016, however.

@ivanpi-mtv @nadava

Assigned to @nlacasse since it's jiri-related, but it doesn't seem very hard to do at first glance. If I have some time, I may do this instead.

[2016-02-04 23:54] asadovsky commented on #1117
I think there are other unrelated cases where there's a need/desire for domain-specific annotations to VDL structs. E.g. another place this has come up is schemas, where we might wish to specify what is the primary key, which fields should be indexed, etc.

We get @tatatodd's thoughts on this - perhaps a solution already exists. For example, one can imagine a VDL-like config language allowing deve

[2016-02-05 00:08] asadovsky opened #1125 "gosh: refactor BuildGoPkg to be a standalone helper function"

[2016-02-05 00:10] asadovsky opened #1126 "gosh: respect Shell.Vars["PATH"] in Cmd's LookPath"
Currently Cmd uses exec.LookPath, which consults the "PATH" env var. Cmd's LookPath results should reflect changes to Shell.Vars["PATH"]. We should probably just start depending on `v.io/x/lib/envvar`, which gives us a suitable LookPath implementation and can also replace some of our envvar munging logic.

[2016-02-05 00:11] asadovsky opened #1127 "gosh: print Cmd stdout/stderr on failure by default"
More specifically: Buffer stdout and stderr if Logf is non-nil; log these on Cmd.Wait failure.

[2016-02-05 00:13] asadovsky opened #1128 "gosh: passing t.Fatalf to Shell.Opts.Fatalf gives unintuitive output"
The line number that gets printed is misleading (it's the place where t.Fatalf was passed, not where it's called), you don't get a stack trace, etc. We need to improve usability here somehow.

[2016-02-05 00:14] asadovsky opened #1129 "gosh: restore bufferedPipe.{WriteTo,ReadFrom}"
CL https://vanadium-review.googlesource.com/#/c/19347/ somehow caused v.io/x/ref/lib/signals test to hang, so we rolled it back: https://vanadium-review.googlesource.com/#/c/19389/

Need to investigate why, and hopefully re-enable the optimizations.

[2016-02-05 01:28] spetrovic77 commented on #1119
The issue here is that in advertiseStop(), you're canceling mServerCtx, which is derived from mV23Ctx in makeServerContext().  The unfortunate thing is that canceling mServeCtx does cancel mV23Ctx as well.  Sigh.

This was intentional (see comments for VContext.withValue()), because unlike Go we don't want to return both VContext and cancelation function on VContext.withCancel() and hence we keep

[2016-02-05 01:28] #1119 closed, assigned to spetrovic77

[2016-02-05 04:45] asadovsky commented on #1118
Fixed the last issue in https://vanadium-review.googlesource.com/#/c/19564/

[2016-02-05 04:45] #1118 closed, assigned to asadovsky

[2016-02-05 16:43] monopole commented on #820
obsolete

[2016-02-05 16:43] #820 closed, assigned to monopole

[2016-02-05 16:43] monopole commented on #747
obsolete

[2016-02-05 16:43] #747 closed

[2016-02-05 16:43] monopole commented on #748
obsolete

[2016-02-05 16:43] #748 closed

[2016-02-05 16:44] monopole commented on #899
obsolete

[2016-02-05 16:44] #899 closed, assigned to bjornick

[2016-02-05 16:44] monopole commented on #819
obsolete

[2016-02-05 16:44] #819 closed, assigned to monopole

[2016-02-05 16:45] monopole commented on #746
obsolete

[2016-02-05 16:45] #746 closed

[2016-02-05 17:34] asadovsky commented on #660
Don't think we can do this with GitHub pages unless we made everything a directory with an index.html.
I'll go ahead and close this since it doesn't seem like a big deal and there's not much we can do with the current setup.

[2016-02-05 17:34] #660 closed

[2016-02-05 20:48] monopole opened #1130 "java discovery - clarify successful completion of advertising"
AFAICT, there are two ways to end discovery; deliberate, asychronous context cancellation (as the result of a button click) and context "deadline expiration".

Both throw a CancellationException, so both wind up executing the "onFailure" clause of a callback passed to the future returned by the future returned by [VDiscovery.advertise](https://vanadium.googlesource.com/release.java/+/master/lib/sr

[2016-02-05 23:26] monopole opened #1131 ""jiri cl mail -d" (draft mode) sends email"
Would like to use "jiri cl" to push changes to gerrit without triggering emails.

My understanding of "-d" was that this was a 'draft' mode, not triggering an email.  When ready for review, the submitter would visit Gerrit and hit [Publish] to trigger normal email.  Possibly i misunderstood this, or perhaps Gerrit or jiri changed.

[2016-02-05 23:30] nlacasse commented on #1131
The emails are sent by gerrit, and I'm not sure how to tell gerrit not to email for draft CLs.

I'll look into this.

[2016-02-07 15:23] jeffallen opened #1132 "panic in readRemoteAuth"
When talking to a Vanadium server with a misbehaving client, I made this panic happen. The misbehaving client sent an invalid Setup message (API = 14 but no endpoint name), and then stopped talking. I expected the server close the connection after a while, not panic.

So there's probably two issues, that a no endpoint Setup message does not cause an error, and that this panic happens.

E0207 21:20

[2016-02-07 15:34] jeffallen commented on #1132
The problem is that at this point in the handshake c.remote == nil.

[2016-02-07 16:10] jeffallen opened #1133 "a malicious client can send a 16 meg Setup message"
In TCP, the largest frame is 0xffffff bytes long, or 16 megs. A malicious client could fill those 16 megs with uninterpreted options, ensuring that the corresponding Setup message in the server was that big. Now stall the connection until timeout (15 seconds?) and repeat 1000 more times. Probably results in out of memory.

[2016-02-07 16:29] jeffallen commented on #1132
See v.io/c/19670

[2016-02-07 18:23] ankurtaly opened #1134 "[Vanadium-go-bench] v.iov23/nosql test failing"
The following test seems to be timing out:

jiri go test -tags=leveldb -timeout 1h -v -bench . -run "^(BenchmarkTinyPut|BenchmarkTinyGet|BenchmarkTinyDelete|BenchmarkTinyScan|BenchmarkTinyExec|BenchmarkTinyWatchPuts|BenchmarkTinyWatchOnePut|BenchmarkHugePut|BenchmarkHugeGet|BenchmarkHugeDelete|BenchmarkHugeScan|BenchmarkHugeExec|BenchmarkHugeWatchPuts|BenchmarkHugeWatchOnePut)$" v.io/v23/syncbase/

[2016-02-07 19:21] suharshs commented on #1132
Nice find!

Yes, we should probably also be checking that the client is sending a complete setup message. Out of curiosity, what is the error given by the server after using the fix? I want to make sure that we are throwing an error because the client is using an invalid Setup message, and not accidentally failing for some other reason.

Also could you upload your repro code, we should adapt it in

[2016-02-07 23:18] ghost commented on #1134
Actually this has been happening ever since @asadovsky  checked in his change:

https://vanadium-review.googlesource.com/#/c/19129/

But his changed was committed during the unfortunate period when we stopped running jenkins tests accidentally.  I'll try to figure this out tomorrow.

[2016-02-08 06:15] jeffallen commented on #1132
With my fix, the server logs a timeout error in readRemoteAuth, which is correct.

My misbehaving client is an experiment and would not be useful to you to write a test. It will also soon be behaving correctly, so... :)

[2016-02-08 07:02] suharshs commented on #1132
Ok. Sounds good to me.

[2016-02-08 17:40] afandria commented on #1110
@ivanpi-mtv and I ran into this too on Friday. We didn't realize our test setup didn't include Resolve until after trying a bunch of other (complex) security-related things to debug the problem.

[2016-02-08 18:20] #685 closed

[2016-02-08 19:11] afandria commented on #911
Already split up

[2016-02-08 19:11] #911 closed, assigned to bprosnitz

[2016-02-08 20:09] jxson opened #1135 "website: add curl commands"
Now that http://vanadium.github.io/ is online it is possible for tutorial readers to use `curl` instead of downloading a script and sourcing it in bash.

/cc @asadovsky @monopole

[2016-02-08 23:51] #1132 closed, assigned to suharshs

[2016-02-09 01:33] ankurtaly opened #1136 "Vanadium release-candidate tests failing"
The tests started failing on: Feb 6, 2016 4:18:09 AM
https://veyron.corp.google.com/jenkins/job/release-candidate-1-snapshot/356/

It seems to be a jiri tool issue that Nick is working on to fix.

[2016-02-09 01:44] ankurtaly commented on #1136
Tests to track:
vanadium-go-snapshot
release-candidate-1-snapshot
release-candidate-2-test

[2016-02-09 01:58] nlacasse opened #1137 "jiri path errors"
Looks like this occurs when the init-vanadium.sh fails before the binaries are built.

java.io.IOException: Cannot run program "" (in directory "/home/veyron/jenkins/workspace/vanadium-js-build-extension"): error=2, No such file or directory

https://veyron.corp.google.com/jenkins/job/vanadium-js-build-extension/1576/console

[2016-02-09 02:00] ankurtaly commented on #1137
Can you also track: third-party-go-build? (it has a similar error with init-vanadium.sh failing)
https://veyron.corp.google.com/jenkins/job/third_party-go-build/

[2016-02-09 04:28] nlacasse commented on #1137
Should be fixed by go/vcl/19720

[2016-02-09 04:28] #1137 closed, assigned to nlacasse

[2016-02-09 05:26] nlacasse commented on #1136
Fixed by v.io/c/19736

[2016-02-09 05:26] #1136 closed, assigned to nlacasse

[2016-02-09 20:08] ankurtaly opened #1138 "Website tests failing"
Creating this issue to track the following failing tests:
- vanadium-website-tutorials-core
- vanadium-website-tutorials-external

[2016-02-09 22:56] ankurtaly opened #1139 "Vanadium-go-race is flaky"
The two problematic tests seems to be:
- v.io/x/ref/lib/raft.TestElection
- v.io/x/ref/lib/discovery/global.TestVisibility

[2016-02-09 23:34] monopole commented on #1131
I don't see anything obvious in https://gerrit-review.googlesource.com/Documentation/user-notify.html

[2016-02-10 00:41] #1138 closed, assigned to jxson

[2016-02-10 02:22] ankurtaly opened #1140 "Vanadium-go-test is failing on linux"
There seems to be a problem with
v.io/x/devtools/jiri-test/internal/test.TestGoTestWithTimeout [GoTest - linux,amd64]

https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1654/ARCH=amd64,OS=linux/console

[2016-02-10 03:16] asadovsky commented on #1134
Here are two log files, the first from running on my local Linux workstation, and the second from running on a Jenkins node (jenkins-node42):
[local_log.txt](https://github.com/vanadium/issues/files/124144/local_log.txt)
[jenkins_log.txt](https://github.com/vanadium/issues/files/124143/jenkins_log.txt)

From these logs, it appears that most of the benchmarks take approximately the same amount of t

[2016-02-10 18:13] caprita opened #1141 "device debug on an app instance causes a STDERR/STDOUT file pair to be created"

[2016-02-10 18:21] #1103 closed, assigned to nobody

[2016-02-10 19:16] jxson commented on #1138
@ankurtaly just to follow up, the build is green now. Seems like 15mins is the new magic number. I have a CL in review that increases the timeout to an hour for the external tutorial tests only. Hopefully we won't see this problem again for this test target after that is submitted.

[2016-02-10 19:25] asadovsky commented on #1134
Attaching the log from another node42 run:
[jenkins_log2.txt](https://github.com/vanadium/issues/files/125378/jenkins_log2.txt)

This one stalls in `BenchmarkTinyWatchOnePut` (more specifically, at the same place as the previous run, in `benchmark_test.go`):
https://github.com/vanadium/go.v23/blob/b14e0cf35be200dc7c47202b4bbd2ca4ecda7d73/syncbase/nosql/benchmark_test.go#L239

Btw, I think I unders

[2016-02-11 18:21] #1123 closed, assigned to jxson

[2016-02-11 21:57] yyoon opened #1142 "Better explanation of the Vanadium context in tutorials"
@asadovsky @jxson

I was chatting with @cosnicolaou about my previous onboarding experience with Vanadium, and I remembered that the tutorials on v.io didn't explain anything about Vanadium context.

Vanadium context is probably one of the first things programmers would interact with, and we should explain it better in the tutorials.

[2016-02-11 22:05] jxson commented on #1142
Really good point /cc @aghassemi

[2016-02-11 22:47] aghassemi commented on #1142
I agree. My opinion has been that developers should not need to interact with things until they actually need to use them. We force developers to pass context around without really knowing (yet) what it is for so we can tie our own stuff together. I understand that changing this behaviour (by maybe having an implicit singleton root context and having ctx be an optional arg for when developer actua

[2016-02-11 22:58] ghost commented on #1142
@yyoon Yes we should have better documentation for sure.

@aghassemi Your approach fundamentally breaks what the context is trying to do.  If people don't add it from the beginning the chances of ever getting meaningful traces is very low.  Libraries will evolve to ignore context, and it's extremely difficult to address after you have a program running.

Having a global singleton is simply not use

[2016-02-11 23:39] AsturaPhoenix commented on #1142
The Baku Toolkit in Java attempts to address this issue by taking an OO approach to context management, where wrapper classes have their own Vanadium contexts and pass them around as appropriate and allowing modification where desirable. Contexts are thus bound to semantic task units, facilitating lifecycle management while allowing most developers to disregard them unless they need different time

[2016-02-11 23:48] jxson commented on #1142
@aghassemi

I agree that a detailed explanation would be wrong in that particular context (no pun intended).

There are a lot of details that become necessary once you pass that first tutorial stage though. Ideally in a "Hello World" scenario we could very briefly mention what the `context` is and why its necessary while providing a link to deeper documentation. Anyone retracing their steps would

[2016-02-11 23:48] ghost commented on #1142
I don't fully understand what you mean, but embedding contexts in other objects is an anti-pattern.  The reason is then it becomes difficult to decide if you have a context available or not.  It works best when the context is just the first param to every function.

[2016-02-11 23:51] AsturaPhoenix opened #1143 "Android instrumentation tests fail on Lollipop"
Since upgrading to V Android 1.6 (and perhaps affecting earlier versions), Android Instrumentation Tests of the Baku Android Toolkit fail on Lollipop devices, with:

[code]

This happens when starting Syncbase at
`io.v.impl.google.services.syncbase.Syncbase#withNewServer(VContext, Params), line 32`
and can be traced to
[`io.v.android.libs.discovery.ble.BlePlugin#hasPermission(String), line 155`](h

[2016-02-11 23:51] ghost commented on #1142
This is good background reading:

https://blog.golang.org/context

[2016-02-11 23:59] AsturaPhoenix opened #1144 "Regression in V Android: CancellationException swallows timeouts"

[2016-02-12 00:12] AsturaPhoenix commented on #1142
The background content mostly pertains to request handling though; for client code it's a lot less applicable. I see this in my code as well; on the server-style handlers I fully appreciate the context, but for client-style logic I only use it for timeouts/cancellation and, indirectly, instrumentation.

I don't understand what you mean by it being difficult to decide if you have a context availabl

[2016-02-12 00:47] cosnicolaou commented on #1142
We're not going to change our APIs now, for better or worse, it is what it
is. I resisted a 'forced 1st parameter' for the longest time, but the more
apps and tests we built the more I realised that my resistance was utterly
futile. Without the context many things become very difficult/impossible.
Examples include:
- being sure that all library code can be run with a different identity
  which is

[2016-02-12 01:20] aghassemi commented on #1142
I am not arguing against usefulness of context, I am arguing that the "if you don't do this from the start, you will regret it later" part is not a strong enough case to justify enforcement of it. Not being able to trace nested RPCs is something that 1- Some developers may never encounter 2- When they do, they will go and add it (sure it is a bit late, but, whatever, they missed one chance to debu

[2016-02-12 01:23] ghost commented on #1142
Yeah, I'll try to write up a better explanation of why the context is the way it is.  I've done a bad job at this.

@aghassemi Adding logging later is really easy.  Adding context is REALLY hard.  You have to change your function signature and the signature of EVERY function above you in the call chain.  Basically adding context after the fact means completely changing all your APIs.  It's virtual

[2016-02-12 01:34] cosnicolaou commented on #1142
On Thu, Feb 11, 2016 at 5:23 PM, Matt Rosencrantz notifications@github.com
wrote:

I made a lot of the changes to add the context and can attest that it was
very, very, arduous a year ago and today would be impossible. This is
absolutely an all or nothing thing. You can't add 'tracing rpcs' since it
would require changing code that you don't control, so again, this is
something we very explicitly

[2016-02-12 06:10] aghassemi commented on #1142
Fair points. I think this sort of explanation (specifically the part about it being hard to be added after the fact based on real experience) goes a long way justifying why context is not optional and should be included somewhere in the documentation of context.

[2016-02-12 07:52] jeffallen opened #1145 "vom spec version is out of date"
VOMs now start with version 0x81. https://vanadium.github.io/designdocs/vom-spec.html says 0x80.

(Are there other things that need to be updated too?)

[2016-02-12 07:53] jeffallen opened #1146 "docs for v.io/v23/rpc.Client still mention NoRetry"
...even though NoRetry doesn't exist anymore.

[2016-02-12 16:31] aghassemi opened #1147 "Website: Needs auto deploy"

[2016-02-12 18:50] ghost opened #1148 "RPC: publisher.Status is surprisingly blocky"
@spetrovic77 noticed that calling publisher.Status tends to block until a server is mounted.  Upon investigating I realized that this is because there is a synchronous loop inside the publisher that is doing all the work.  When a server starts it issues a Mount command which blocks that loop.  If a user calls status they have to wait for that loop to become unblocked before their status request ca

[2016-02-12 18:51] ghost commented on #1148
@suharshs

[2016-02-12 20:02] suharshs commented on #1148
Its seems like we should allow read access to the pubstate while the mount call is happening, just not while we are updating the state's values. This would involve adding a mutex though... want me to go ahead and do that?

[2016-02-12 21:06] ghost commented on #1148
Sure.  We might uncover some accidentally passing tests too.

[2016-02-12 21:07] ghost commented on #1089
Resolved by https://vanadium-review.googlesource.com/#/c/19268/

[2016-02-12 21:07] #1089 closed, assigned to nobody

[2016-02-12 21:08] ghost commented on #1079
Resolved by https://vanadium-review.googlesource.com/#/c/19268/

[2016-02-12 21:08] #1079 closed, assigned to nobody

[2016-02-12 21:15] ghost commented on #1134
I got a different stack than Adam.  For me, if I run a bunch of tests first, then sometimes the HugePuts benchmark hangs after receiving only 90-something of the 100 results it was expecting.  @hpucha Do you have any tips for me to figure out where this is getting hung up?

[out.txt](https://github.com/vanadium/issues/files/128711/out.txt)

[2016-02-12 22:00] bprosnitz opened #1149 "Remove vdl.RawBytesTargetFunc"
This exists to break a dependency cycle, but it is really hacky and isn't great.

@tatatodd @afandria

[2016-02-12 22:28] ghost commented on #1003
The latency has fallen dramatically below 1ms.  This happened on Feb 1st between 3 and 4pm.

The only relevant looking CL is:
https://vanadium-review.googlesource.com/#/c/19400/
Perhaps we were somehow making lots of new connections due to the caching issue?

I'm going to close this bug.

[2016-02-12 22:28] #1003 closed, assigned to nobody

[2016-02-12 22:29] afandria opened #1150 "BeamActivity build error in Java"
VBeam.EXTRA_VBEAM_PAYLOAD should probably be VBeamManager.EXTRA_VBEAM_PAYLOAD

I think this came from v.io/c/19573

@spetrovic77 @ribrdb

[2016-02-12 22:31] spetrovic77 commented on #1150
Fixed.

[2016-02-12 22:49] caprita commented on #1150
Can you please explain how this got past presubmits? If there is something we need to fix in the presumbits, there should be an issue filed to follow-up.

[2016-02-12 22:51] spetrovic77 commented on #1150
We switched off the presubmits because of some profile installation issues.  I'm working on re-enabling them...

[2016-02-12 23:06] caprita commented on #1150
Thanks Srjdan.

[2016-02-13 00:02] nlacasse commented on #1140
This has been fixed.

[2016-02-13 00:02] #1140 closed, assigned to nlacasse

[2016-02-13 01:34] AsturaPhoenix commented on #1091
I am observing this from Java as well. Sync does not start happening until anywhere from 10 to 70 seconds after initial blessings are available. The distribution seems to be bimodal, with most delays being more like 60-70s and a few being 10-15s.

I have observed continued EOFs even after sync has started in cases where sync starts 10-15s from startup.

As long as the remote syncbase is not cleane

[2016-02-13 01:35] AsturaPhoenix commented on #1091
Also, this does not seem restricted to watch. Puts to the mobile syncbase don't sync back to the GCE syncbase either while this is going on.

[2016-02-13 05:07] jeffallen opened #1151 "VarUint128 length encoding is weakly documented"
The VOM spec is not clear enough on the way the length is encoded. It says, "len in range [1, 16]" and in the first column it gives examples FF=1, FE=2, etc. But it would be easier to understand if that info was clearly spelled out one time only, in the bottom right box of the table, IMHO.

[2016-02-14 05:25] suharshs commented on #1146
NoRetry still exists on master:
https://vanadium.googlesource.com/release.go.v23/+/master/options/options.go#129

Is it not supposed to exist?
I know there was some talk of potentially getting rid of it, but didn't think it had been removed yet.

[2016-02-17 00:45] #986 closed, assigned to suharshs

[2016-02-17 18:58] asadovsky commented on #1129
Looks like @caprita tracked down the issue and restored the optimizations - thanks Bogdan!
https://vanadium-review.googlesource.com/#/c/19704/
https://vanadium-review.googlesource.com/#/c/19481/

[2016-02-17 18:58] #1129 closed, assigned to tatatodd

[2016-02-17 19:02] asadovsky commented on #1087
Seems reasonable to me. I'll plan on making this change soon, but I'll take on #1125, #1127, and #1128 first since they're somewhat related (in terms of options defaulting behavior).

[2016-02-17 19:03] asadovsky commented on #1126
Sent https://vanadium-review.googlesource.com/#/c/19924/ for this.

+cc @cosnicolaou @tatatodd (Cos pointed out this problem)

[2016-02-17 20:40] afandria commented on #1109
I've renamed Update to be ScanUpdate in v.io/c/19928, which should solve this problem.

[2016-02-17 20:42] afandria commented on #1111
It turns out that my android sdk was being drawn from mojo/third_party instead of being taken from a local installation. I'm not 100% sure about why, but upgrading mojo/third_party's android sdk manager to have the support libraries was enough.

There's a little more fixing/README'ing to do, but I am able to build now.

[2016-02-17 20:50] afandria opened #1152 "mojo/discovery: Android build should not depend on $MOJO_DIR"
Right now, we depend on some JAR files found in the $MOJO_DIR's out/android_Debug. It's possible that we need to download these in our next mojo profile (v7) to avoid this dependency.

[2016-02-17 20:54] afandria opened #1153 "Live Dart packages (syncbase and discovery) are untested"
We do not have tests with the live versions of these packages. Because of that, we can sometimes fail to update them when we need to. These tests should verify that they are compatible with our production services. (However, they shouldn't be presubmits.)

For example, the recent vom81 change was not compatible with the latest version of these Dart packages, so for a short period, our apps stopped

[2016-02-17 20:57] afandria opened #1154 "mojo/discovery: Needs dartanalyzer check during build"
We currently don't do any linting of our Dart client code. This should be added to the Makefile during the Android build.

@aghassemi @jhahn21

[2016-02-17 21:56] aghassemi opened #1155 "Syncbase: A nicer way to create a "Now" resume marker in Dart"
Currently `watch(table, prefix, UTF8.encode("now"))`
Maybe `watch(table.prefix, ResumeMarker.Now)`

Same with empty resume maker:
Maybe `watch(table.prefix, ResumeMarker.All)`

[2016-02-17 23:32] afandria opened #1156 "croupier: Group mojo binaries into the same bucket subdirectory"
Croupier's Mojo binaries and flx file are placed in my `gs://mojo_services` bucket under various subdirectories. It would be better to group them in the same subfolder `gs://mojo_services/croupier` to avoid cluttering the area and allowing each Mojo example app to have its own subspace (without interference/conflict).

[2016-02-17 23:58] asadovsky opened #1157 "jiri runutil.LookPath should be replaced with (or use) v.io/x/lib/lookpath"
The jiri tool has its own implementation of LookPath:
https://github.com/vanadium/go.jiri/blob/master/runutil/lookpath.go

Seems we should have it use `v.io/x/lib/lookpath` instead.
(pending CL https://vanadium-review.googlesource.com/#/c/19924/)

Btw, note that some jiri code already uses the v.io/x/lib/lookpath lib, indirectly:
https://github.com/vanadium/go.jiri/blob/master/profiles/profilescmd

[2016-02-18 01:08] afandria opened #1158 "mojo/syncbase: Syncgroup Create in benchmark takes up to 1 minute?"
I noticed this in my pingpong benchmark. It's possible that I miswrote it, but it seems to be very slow at creating a syncgroup. About a 1 minute delay occurs before the syncgroup creator is able to continue. (This happens on both Linux and Android.)

@aghassemi

[2016-02-18 01:13] aghassemi commented on #1158
Is there a mounttable specified for the Syncgroup? Do you know if peers manage to mount properly on that mounttable when they join?

[2016-02-18 02:10] asadovsky commented on #1126
Fixed.

[2016-02-18 02:10] #1126 closed, assigned to asadovsky

[2016-02-18 02:40] vr00n commented on #914
This is still happening for me. I tried the clean slate install and then using vanadium-install.sh.

[code]

[2016-02-18 03:04] tatatodd commented on #1157
Hmm, I just realized something.

The signature for our version of LookPath is the following.  The idea is that the user passes in the PATH directories to search in, and we look for the executable with the given name.

[code]

This signature makes sense for unix and plan9.  But it doesn't make sense for windows, since we also need to consult PATHEXT in order to find the allowed extensions (e.g. ".c

[2016-02-18 17:35] asadovsky opened #1159 "Duplicated files in 'jiri' repo"
I noticed that there are some duplicated files, e.g.:

https://github.com/vanadium/go.jiri/blob/master/cmd/jiri/which_test.go
https://github.com/vanadium/go.jiri/blob/master/which_test.go

https://github.com/vanadium/go.jiri/blob/master/cmd/jiri/which.go
https://github.com/vanadium/go.jiri/blob/master/which.go

Is this intentional? Maybe it's done for backwards compatibility while deploying change

[2016-02-18 17:54] nlacasse commented on #1159
This is intentional.  The jiri commands are moving to jiri/cmd, and are currently duplicated during the transition.

The CL in v.io/c/19936 deletes the toplevel files, leaving the ones in jiri/cmd.  I'll close this ticket once that CL is submitted.

[2016-02-18 17:56] asadovsky commented on #1157
Hmm, yes, that is a good point.

My inclination would be to change the signature to what you suggest, and to include a comment indicating that users may find `v.io/x/lib/envvar` useful for producing the vars map. The packages don't explicitly depend on one another, and their functionalities are somewhat divergent, so this approach keeps them separate while making it clear how `v.io/x/lib/envvar` c

[2016-02-18 20:39] ghost commented on #1133
@tatatodd @suharshs

Yes, we have many DOS vectors like this.  Another one is, encode a few 1GB VOM objects as part of your request.  The server will OOM.

We need to generate a comprehensive plan around these things.

[2016-02-18 20:50] #1146 closed, assigned to suharshs

[2016-02-18 20:51] #932 closed, assigned to suharshs

[2016-02-18 21:58] suharshs commented on #995
The three timeouts described in the doc have now been implemented.

[2016-02-18 21:58] #995 closed, assigned to nobody

[2016-02-19 20:06] spetrovic77 opened #1160 "Proxy fails when two servers are proxied in the same process (on Darwin only)"
[delme.txt](https://github.com/vanadium/issues/files/138625/delme.txt)

[2016-02-19 20:06] asadovsky commented on #1128
+cc @tatatodd @cosnicolaou

So, the problem with `Fatalf` and `Logf` is that the intuitive use of these in tests, `gosh.NewShell(gosh.Opts{Fatalf: t.Fatalf, Logf: t.Logf})`, results in incorrect line numbers, which is really bad for usability.

I filed this Go issue, but I am not confident that it's fixable: https://github.com/golang/go/issues/14415

I propose that we switch the API from taking `F

[2016-02-19 21:20] shinykitten opened #1161 "Jiri: combine revision and remotebranch attributes into one"
Jiri now checks to make sure that if revision is specified, that SHA exists on the specified remotebranch.  Considering this, in addition to the previous concept that revision should always supersede remotebranch (i.e. you sync to the SHA, not to HEAD) I propose we combine the two attributes.  The new attribute would be described as "the foo in `git checkout foo`".

[2016-02-19 21:24] nlacasse commented on #1161
cc @tatatodd

[2016-02-20 01:26] afandria commented on #1158
I was using /ns.dev.v.io:8101/tmp/benchmarks/pingpong, and they seem to appear there without any problems. (The same seems to happen on the syncslides network.)

Interestingly, even though my benchmark is affected, Croupier is not.

[2016-02-22 19:25] afandria opened #1162 "mojo syncbase benchmark: Join retries needed?"
Could be related to #1158

[2016-02-22 19:26] afandria commented on #1162
AFAIK, this used to work without needing retries, but soon after submitting the code, I started to notice that join would fail. Usually 1 retry is enough to succeed, but it occasionally takes more than 1.

[2016-02-23 04:13] ivanpi-mtv commented on #693
Fixed by v.io/c/19952

[2016-02-23 04:13] #693 closed

[2016-02-23 04:22] ivanpi-mtv commented on #917
v.io/c/{19947,19948,19949,19951,19952} implement watch from empty resume marker (with initial state). Remaining work is returning the resume marker from BeginBatch and possibly adding RunInReadOnlyBatch.

[2016-02-23 18:30] tatatodd commented on #1161
I'm in favor of this in general.  I'd just call it "revision", and when someone is using git, we'll let them set "revision" to what they normally can - i.e. a commit hash, a branch name, or a label name.

Note that in git parlance this is called "commit".  But also note that we want to leave open the possibility of supporting other revision control systems in the future, so "revision" seems more g

[2016-02-23 18:59] tatatodd commented on #1128
One thought: when using gosh in tests, it's nicer to use t.Log (or t.Logf) since that only shows output if -v is set, or if the test fails.  Also note that implies that t.Log output is buffered by the testing framework, so when a test uses a combination of t.Log and stdout/stderr output, the output ends up in a weird order.  I think that's an even stronger argument to at least have the option of u

[2016-02-23 20:55] cosnicolaou commented on #1128
calling panic is unfriendly since it produces so much output..... I'd
suggest capturing the calling file/line at the same time that the error is
generated. I know Todd hates wrapping errors, but the current situation is
strictly worse in my opinion.

Cheers, Cos.

On Tue, Feb 23, 2016 at 10:59 AM, Todd Wang notifications@github.com
wrote:

[2016-02-23 20:55] nlacasse opened #1163 "jiri: "jiri update" should copy scripts/ dir to JIRI_ROOT/.jiri_root/scripts"

[2016-02-23 21:08] tatatodd commented on #1128
I think all proposals for fixing this bug involve capturing the calling
file/line number that caused the failure.  The proposals here are just fine
tuning the details of what the API looks like.

Todd
On Feb 23, 2016 12:55, "cosnicolaou" notifications@github.com wrote:

[2016-02-23 21:56] asadovsky commented on #1128
I think your suggestion of (a) manipulating the unavoidable PC entry and (b) adding the correct PC entry to the log line is a pretty good idea if we stick with the current API. On the other hand, the unavoidable PC entry is still kinda ugly, and I worry about the brittleness of the code around producing these PC entries in log messages. (E.g. what if Go changes the hard-coded `skip` value as part

[2016-02-23 22:01] azinman opened #1164 "Circular typedefs in VDL are not compatible with Swift 2.0"
It is possible to define a circular typedef in VDL that does not have a legal equivalent in Swift.

For example this legal typedef in VDL:

`type RetA []RetA`

is equivalent to this _illegal_ typealias in Swift:

`typealias RetA = [RetA]`

The compiler will complain "Type alias 'RetA' circularly references itself". The reason is a typealias [by definition](https://developer.apple.com/library/ios/d

[2016-02-24 00:03] tatatodd commented on #1128
Using my previous example, let's call the "gosh.go:10" part the bad PC entry, and the "foo_test.go:123" part the good PC entry.

The bad PC entry is added by the call to `t.Log` itself, so any solution that uses `t.Log` (to get the nice buffered-output behavior) will end up with the bad PC entry.  In non-test code, we'll never end up with the bad PC entry.  I think we want the good PC entry to be

[2016-02-24 00:47] asadovsky commented on #1128
I should've clarified: the reason for my suggestion of a `Logger` to replace the individual `FailNow` and `Logf` functions was that (a) it makes test usage a bit less verbose (just pass `Logger: t`) and (b) it avoids the need for injecting extra functions: in tests, passing `t` (as `Logger`) means that the bad PC entries will point to the true locations of `t.Logf` and `t.Fatalf` invocations withi

[2016-02-24 00:47] nlacasse commented on #1161
One issue with combining remotebranch and revisions (SHAs) in a single field is that we do different things with a remotebranch vs. a SHA.

For example, when we reset the project, if we have a remotebranch we do `git reset origin/<remotebranch>`, but for SHAs we do `git reset <sha>` (no leading "origin/").

This is the first example I encountered where we treat remotebranches different that SHAs.

[2016-02-24 00:59] tatatodd commented on #1161
I also don't want to sniff the string to determine whether it's a branch, tag or sha.  I was hoping we'd just pass it along to git, and let git figure it all out for us.

The reset is interesting.  I would have expected that "git reset <remotebranch>" would just do what we expect.  I.e. can we just change the reset to just reset directly to whatever "revision" the user has set?

[2016-02-24 01:03] nlacasse commented on #1161
Unfortunately `git reset master` is different that `git reset origin/master`.

So if the revision is a branch name (without the leading "origin/"), we can't just pass it to reset.

We could maybe say that for branches, the revision must be `origin/<branch>`, rather than just `<branch>`, but that's kind of ugly, and I suspect we will end up stripping the leading "origin/" in some cases.

[2016-02-24 01:55] tatatodd commented on #1128
Ah, I see your point that using a gosh.Logger interface avoids the "really bad PC entries"; at least they point to the actual calls to t.Logf in the gosh implementation.

Now that I'm thinking about it, I don't think my "inject extra functions" trick actually works.  The anonymous function is created when we call gosh.Opts{Logf: t.Logf}, which is always in the user's code, which is why we end up w

[2016-02-24 03:30] asadovsky commented on #1128
Hmm, yes, I think you're right that "inject extra functions" wouldn't work anyways.

I agree with your criticisms about `gosh.Logger`, but if we name it `gosh.T` (with comments indicating that it's meant to be used for tests) and we make it so it cannot be overridden after Shell creation (per my previous reply), I think we may be better off than with the "separate FailNow and Logf interfaces" appr

[2016-02-24 03:37] asadovsky commented on #1128
Another quick thought: We could change the signature of `gosh.NewShell` to take only a `gosh.T`, and have clients manipulate any exposed Shell options directly on the Shell, as they currently do for Cmd. These options could get initialized to default values by `gosh.NewShell`, same as done currently. (This is made possible by https://v.io/c/19964, which eliminates the possibility of `gosh.NewShell

[2016-02-24 19:55] asadovsky commented on #1128
@tatatodd and I discussed in person, and we'll go with my last proposal in this thread, including the changes to drop the `Opts` struct. So, we'll end up with:

[code]

We'll update gosh's internal error logging to include the "good PC entry" in every error message: the line of user code that invoked gosh code that resulted in the error.

As for logging command failures, we'll adopt a strategy sim

[2016-02-24 19:55] asadovsky commented on #1127
Discussed extensively in #1128.

[2016-02-24 22:43] tatatodd opened #1165 "Update gosh.Pipeline for go 1.6 broken pipe semantics"
@asadovsky

From https://golang.org/doc/go1.6

"On Unix-like systems, when a write to os.Stdout or os.Stderr (more precisely, an os.File opened for file descriptor 1 or 2) fails due to a broken pipe error, the program will raise a SIGPIPE signal. By default this will cause the program to exit; this may be changed by calling the os/signal Notify function for syscall.SIGPIPE. A write to a broken pip

[2016-02-25 00:32] afandria opened #1166 "v23proxy: Mismatches with Mojo"
- [ ] The method ordinal isn't computed on the client side; it is found on the server-side by method name matching. Would be nice if we could put that in the context.
- [ ] Union tags and enum labels aren't numerical with gaps (we assume they're all sequential from 0)
- [ ] Field Name matching occurs on Vanadium but its ordinals for Mojo, which could make some response structs swap the order when

[2016-02-25 00:46] jinjingforever opened #1167 "timeout in vanadium-mojo-syncbase-test"
For example:

https://veyron.corp.google.com/jenkins/job/vanadium-mojo-syncbase-test/457/console

[code]

Could you increase this 60s timeout value?

Thanks!

[2016-02-25 00:50] jinjingforever opened #1168 "Data race/timeout in TestDeviceManagerUpdateAndRevert"
Please see here (search for "WARNING: DATA RACE")

https://veyron.corp.google.com/jenkins/job/vanadium-go-race/1642/OS=linux,P=0/consoleFull

It also says:

...
16:29:00 I0224 15:59:06.578827   21981 device_service.go:263] [testDeviceManager stderr] Found 1 data race(s)
16:29:00 I0224 15:59:06.578941   21981 device_service.go:263] [testDeviceManager stdout] READY
16:29:00 I0224 15:59:06.579004   2

[2016-02-25 01:46] nlacasse commented on #1163
v.io/c/20175

[2016-02-25 01:46] #1163 closed, assigned to nlacasse

[2016-02-25 05:04] caprita opened #1169 ""jiri go" commands should not refer to tools in "$PATH""
The jiri tool builds and squirrels away a set of tools it needs (e.g. vdl); when it comes time to use these tools, it should pull them from the location it knows about, instead of letting the user's PATH dictate where the tools come from.

For example, if I have $JIRI_ROOT/release/go/bin as the first thing in my PATH, and run "jiri go build", it should _not_ use the version of the vdl tool from $J

[2016-02-25 05:42] nlacasse commented on #1169
If you run the jiri _script_ rather than running the jiri _binary_ directly, then the PATH will be set such that those "squirreled away" binaries are at front.  See v.io/c/20086.

We should be encouraging users to put $JIRI_ROOT/.jiri_root/scripts in their path, rather than $JIRI_ROOT/.jiri_root/bin, so that things will "just work" for them.

[2016-02-25 05:52] nlacasse commented on #1169
The Vanadium installation correctly instructs users to add `$JIRI_ROOT/.jiri_root/scripts` to their PATH.  So we are encouraging the correct behavior.

However, lots of current Vanadium devs still have devtools/bin in their PATH, but we need to phase that out.

[2016-02-25 06:03] caprita commented on #1169
The instructions I could dig up (https://vanadium.github.io/community/contributing.html) suggest:

export PATH=$PATH:$JIRI_ROOT/devtools/bin

That places $JIRI_ROOT/devtools/bin (which I'm guessing you'll soon replace with $JIRI_ROOT/.jiri_root/scripts?) at the _end_ of the PATH. It's still possible (and likely) that folks have $JIRI_ROOT/release/go/bin earlier in the PATH.

[2016-02-25 07:35] caprita commented on #1169
I just saw your first reply, which made your second reply make more sense :-) Perhaps we can add some logic in the jiri tool to warn people if the jiri tool was invoked directly instead of via the script you mention?

[2016-02-25 21:41] bprosnitz commented on #1169
There is a go test that regenerates the vdl tree using the vdl binary in your path. I'm not sure exactly what test it is, but I have noticed it when developing vdl. I think this test should probably not do this in general, but if it must we should make sure that it is straightforward to use your own built version of vdl when it regenerates the tree.

[2016-02-26 00:17] tatatodd opened #1170 "CONTRIBUTORS files are out of date"
@nlacasse

Jeff Allen (jra@nella.org) pointed out that he's agreed to the CLA, and already submitted CLs in some of our repositories, but isn't listed in the CONTRIBUTORS files for those repositories.

Looks like we don't have an automatic process that ensures our CONTRIBUTORS files are up-to-date.  We have "jiri contributors <projects>" which lists all of the committers for a particular project (

[2016-02-26 00:44] #1125 closed, assigned to asadovsky

[2016-02-26 01:02] jinjingforever opened #1171 "TestV23GroupServerAuthorization in groupsd is flaky"
It timed out several times in the last a few days. Here is the related log:

fail v.io/x/ref/services/groups/groupsd
...
--- FAIL: TestV23GroupServerAuthorization (63.35s)
    expect.go:119: util.go:45: ExpectVar: NAME=/@6@wsh@127.0.0.1:33883@@983c81fbd1ca98e05894762e1b3ff3f2@m@root:child@@
    expect.go:119: groupsd_v23_test.go:256: Expect: SET OK
    expect.go:119: groupsd_v23_test.go:258: Expec

[2016-02-26 01:04] jinjingforever opened #1172 "v.io/x/ref/services/agent/internal/ipc.TestBadConnect is flaky"
It failed a couple of times with the same error in the last few days. Here is the related log:

--- FAIL: TestBadConnect (0.01s)
  ipc_test.go:127: write unix @->/tmp/sock317425984/sock: write: broken pipe

Could you please take a look? Thanks!
- Jing

[2016-02-26 01:06] jinjingforever opened #1173 "vanadium-java-test on darwin is flaky"
It timed out a couple of times with the same error:

:lib:test (Thread[main,5,main]) started.
:lib:test
Executing task ':lib:test' (up-to-date check took 0.012 secs) due to:
  Task.upToDateWhen is false.
Starting process 'Gradle Test Executor 3'. Working directory: /Users/veyron/jenkins/root/1/release/java/lib Command: /Users/veyron/jenkins/tools/hudson.model.JDK/Java_8/bin/java -Djava.library.pat

[2016-02-26 02:15] suharshs commented on #1172
Assigned @ribrdb since it seems to be an issue with the Agent closing the unix fd for some reason.

[2016-02-26 05:41] caprita commented on #1069
Done by @cosnicolaou :
https://vanadium-review.googlesource.com/#/c/19663/
https://vanadium-review.googlesource.com/#/c/20114/

[2016-02-26 05:41] #1069 closed, assigned to caprita

[2016-02-26 17:46] asadovsky commented on #1171
Ack, will take a look and probably just bump the timeout.

[2016-02-26 17:48] asadovsky opened #1174 "vanadium-mojo-v23proxy-integration-test and vanadium-mojo-syncbase-test flaky"
Looks like perhaps a Jenkins configuration issue?
+cc @afandria @aghassemi

https://dashboard.v.io/?arch=amd64&class=vanadium-mojo-syncbase-test&job=vanadium-mojo-syncbase-test&n=20763&os=linux&part=0&suite=vanadium-mojo-syncbase-test&test=Make+test&type=presubmit

https://dashboard.v.io/?arch=amd64&class=vanadium-mojo-v23proxy-integration-test&job=vanadium-mojo-v23proxy-integration-test&n=20763&o

[2016-02-26 18:00] aghassemi commented on #1174
I think issues is "jiri v23-profile list" no longer prints out targets which the `mojo/shared/mojo.mk` depends on to ensure mojo profile for the particular target is installed.

[2016-02-26 18:04] nlacasse commented on #1174
Yeah, the mojo profile is definitely being installed, as the console shows:

[code]

This may be caused by the transition from `jiri v23-profile` to `jiri profile-v23`.

I'll investigate further.

[2016-02-26 18:06] jxson commented on #1170
@tatatodd there is a way, let's talk about it offline.

[2016-02-26 18:23] aghassemi commented on #1174
should be fixed by https://vanadium-review.googlesource.com/#/c/20221/

[2016-02-26 18:23] #1174 closed, assigned to nlacasse

[2016-02-26 19:15] jinjingforever opened #1175 "v.io/x/ref/lib/discovery.TestVisibility is flaky"
It failed several  times in go-race test:

--- FAIL: TestVisibility (16.34s)
  discovery_test.go:163: Match failed; got [], but wanted [{6(2!hti7h9w^  v.io/v23/a map[a1:v1 a2:v2] [/h1:123/x /h2:123/y] map[]}]
discovery_test.go:170: Match failed; got [], but wanted [{6(2!hti7h9w^  v.io/v23/a map[a1:v1 a2:v2] [/h1:123/x /h2:123/y] map[]}]

Could you please take a look? Thanks!
- Jing

[2016-02-26 19:41] ivanpi-mtv commented on #918
After discussion with @rdvg, @hpucha, @m3b, it was decided to deprioritize this issue.

Sorting by original timestamp was determined to be meaningless, failing to preserve causality even on a single device, because of the clock sync implementation (can move forward or backward in time).

A possible approach for preserving causality (in the absence of conflict resolution and partial visibility) is

[2016-02-26 19:45] ivanpi-mtv commented on #910
If implemented, clarification is needed that the clock is a best effort real time approximation and not offering guarantees on synchronization or monotonicity (see #918) (although likely to be more accurate and synchronized than native device clock).

[2016-02-26 19:48] jhahn21 opened #1176 "can't add a new vdl with a new copyright year"
When adding a new vdl file with a new copyright year to an existing package, it fails:

[code]

Shouldn't we loosen the compileFileDoc() to ignore copyright year?

[2016-02-26 20:20] afandria commented on #1107
I forgot to close this. I pushed out a working version of discovery this last week.

[2016-02-26 20:20] #1107 closed, assigned to jhahn21

[2016-02-26 20:23] afandria commented on #1176
One of the reasons this requirement is in place is because JS places all *.vdl files from the same vdl package into the same file.

Because of that, we could do these things:
- Update all vdl files in that package to have the same copyright year (2015 or 2016)
- Modify the vdl generator code to parse the copyright year out of the header and use the highest value for JS.

[2016-02-26 21:04] asadovsky commented on #1128
Fixed in v.io/c/20217 and co.

[2016-02-26 21:04] #1128 closed, assigned to asadovsky

[2016-02-26 21:06] asadovsky commented on #1087
Done in https://v.io/c/20205 - gosh.Opts is gone, and all options are now fields in Shell.

[2016-02-26 21:06] #1087 closed, assigned to asadovsky

[2016-02-26 21:12] caprita commented on #1175
MOVED TO https://github.com/vanadium/build/issues/8

[2016-02-26 21:12] #1175 closed, assigned to jhahn21

[2016-02-26 21:25] caprita commented on #1173
Is this still an issue?

[2016-02-26 22:20] caprita commented on #1168
Moved to https://github.com/vanadium/build/issues/10

[2016-02-26 22:20] #1168 closed, assigned to caprita

[2016-02-26 22:45] #1109 closed, assigned to afandria

[2016-02-26 23:14] caprita commented on #1172
Moved to https://github.com/vanadium/build/issues/11

[2016-02-26 23:14] #1172 closed, assigned to ribrdb

[2016-02-26 23:45] tatatodd commented on #1176
I agree with Alex's analysis.  One minor fix: I think we might want to use the _lowest_ value for JS.  E.g. if we have vdl files written from 2015 and 2016, the generated file copyright should say 2015, since artifacts from that file were first written then.

That said, for now I actually think we should just update the vdl files to all say 2015 (or whatever the earliest year was).  That seems sim

[2016-02-27 00:13] jinjingforever commented on #1173
Yes I think so.

https://veyron.corp.google.com/jenkins/job/vanadium-java-test/7428/OS=darwin/testReport/junit/(root)/vanadium-java-test/Internal_Error/

[2016-02-27 00:32] nlacasse opened #1177 "jiri profiles: Test `update` when multiple targets for the same profile are installed"
When running "jiri v23-profile update", the code loops through all installed targets, and if a newer target is available, it will install that target.

But consider if you have two versions of a profile installed with versions "6" and "7", and "7" is the default.

The code will encounter version "6" and try to update to "7", but "7" is already installed, so it will crash.

The error was triggered

[2016-02-27 01:07] nlacasse commented on #1124
dupe of #1176

[2016-02-27 01:07] #1124 closed, assigned to nlacasse

[2016-02-27 01:12] nlacasse commented on #1161
WONTFIX.

[2016-02-27 01:12] #1161 closed, assigned to nlacasse

[2016-02-27 01:12] nlacasse commented on #1159
v.io/c/19936 has landed.  duplicate files are gone

[2016-02-27 01:12] #1159 closed, assigned to nlacasse

[2016-02-27 01:30] nlacasse commented on #1169
v.io/c/20235

[2016-02-27 04:47] asadovsky opened #1178 "TestCrConnectionReestablish flaky"
Test appears to be flaky, e.g. from a recent presubmit:
https://dashboard.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Fnosql&job=vanadium-go-test&n=20839&os=darwin&part=0&suite=v.io%2Fv23%2Fsyncbase%2Fnosql&test=TestCrConnectionReestablish+%5BGoTest+-+darwin%2Camd64%5D&type=presubmit

[2016-02-27 04:48] asadovsky opened #1179 "v.io/x/ref/services/agent/internal/ipc TestBadConnect flaky"
Test appears to be flaky, e.g. from a recent presubmit:
https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&job=vanadium-go-race&n=20839&os=linux&part=1&suite=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&test=TestBadConnect+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-02-27 04:48] asadovsky opened #1180 "TestBarrier test flaky"
Test appears to be flaky, e.g. from a recent presubmit:
https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Flib%2Fdiscovery&job=vanadium-go-race&n=20839&os=linux&part=4&suite=v.io%2Fx%2Fref%2Flib%2Fdiscovery&test=TestBarrier+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-02-27 05:42] caprita commented on #1179
Looks like the same issue as https://github.com/vanadium/build/issues/11
Marking as duplicate.

[2016-02-27 05:42] #1179 closed, assigned to caprita

[2016-02-28 16:16] cosnicolaou opened #1181 "flaky: services/agent/internal/ipc::TestBadConnect [GoRace - linux,amd64]"
this test has been flaky in presubmits for a while now.

[2016-02-28 16:16] cosnicolaou opened #1182 "flaky: vanadium-js-browser-integration::Timeout"
this test has been flaky in presubmits for a while now.

https://dashboard.v.io/?arch=amd64&class=vanadium-js-browser-integration&job=vanadium-js-browser-integration&n=20905&os=linux&part=0&suite=vanadium-js-browser-integration&test=Timeout&type=presubmit

[2016-02-28 17:21] asimshankar commented on #1181
Duplicate of vanadium/build#11

[2016-02-28 17:21] #1181 closed, assigned to asimshankar

[2016-02-29 15:55] jeffallen opened #1183 "agent gives EOF if you talk to it too soon after startup"
The following sequence shows the problem:

$ ./mounttabled
ERROR: dial unix /Users/jra/vanadium/cred/jra/agent.sock: connect: no such file or directory
$ agentd -v23.credentials=`dirname $V23_AGENT_PATH`&
[1] 39920
$ ./mounttabled
ERROR: EOF
$ ./mounttabled

I ran mounttabled, remembered that I forgot to start the agent. Ran the agent and started mounttabled again immediately (via "up arrow, up ar

[2016-02-29 16:00] jeffallen commented on #1183
Sorry, invalid issue. I had a version mismatch between my agentd and the agent clients.

[2016-02-29 16:01] #1183 closed, assigned to nobody

[2016-02-29 18:39] nlacasse commented on #762
Closing: OBSOLETE

Unfortunately those links don't work any more.

The www-tutorials core task no longer exists, and I haven't seen any flakes in go-depcop in a while, so that issue should be resolved.

[2016-02-29 18:39] #762 closed, assigned to nlacasse

[2016-02-29 19:12] nlacasse commented on #1167
v.io/c/20291

[2016-02-29 19:43] asadovsky commented on #1171
Just took a look at this. This test builds several binaries (using v23test.BuildGoPkg), starts a couple servers, then runs client code and checks expectations. In my local runs, starting servers and running client code takes approximately 3 seconds (I tried several times). Nearly all of the test running time is spent building binaries. It's unfortunate that our Jenkins machines are so slow. I'll s

[2016-02-29 20:35] aghassemi opened #1184 "Syncbase docs: Website Infrastructure"
- [x] Syncbase sub-site with its own navigation and layout ( vanadium.github.io/syncbase )
- [x] Different color theme for the sub-site
- [ ] Language selector support

[2016-02-29 20:49] aghassemi opened #1185 "Syncbase docs: Java API docs"
- [ ]  Setup for generating and publishing Dart documentation.
- [ ]  Cleaning up documentation in the code.
- [ ]  Ensuring VDL generated types that are exposed are somehow documented as well.
- [ ] Hosting the docs manually or on `jcenter`
- [ ] Referencing the hosted API doc from the website

@aghassemi + @spetrovic77

[2016-02-29 20:50] nlacasse commented on #1167
submitted

[2016-02-29 20:50] #1167 closed, assigned to nlacasse

[2016-02-29 20:57] aghassemi opened #1186 "Syncbase docs: Go API docs"
- [ ] Cleaning up documentation in the code.
- [ ] Referencing the hosted API doc from the website
  Already generated and hosted at https://godoc.org/v.io/v23/syncbase

[2016-02-29 21:00] aghassemi opened #1187 "Syncbase docs: Website landing page"
Design doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU
- [ ] 30-Second Pitch - The biggest value proposition should be covered very clearly in a single sentence and/or diagram and/or <10 second animated GIF here. (P2)
- [x] Syncbase Summary - In more details, we should cover various aspects of Syncbase and explain why they add benefit to your project. (P1)

@ag

[2016-02-29 21:34] jinjingforever commented on #1171
Sent you a CL to bump the timeout. Thanks

[2016-02-29 21:48] jinjingforever commented on #1171
See logs here:

https://veyron.corp.google.com/jenkins/job/vanadium-integration-test/1768/OS=linux/console

The other thing is: at the time we were using 32 workers to run all go related tests. If many of them happen to be scheduled on a single virtual machine, it might cause cpu starvation. I've reduced the number of workers to 4 after that. I haven't seen any timeout in this test ever since.

[2016-02-29 22:03] asadovsky commented on #1171
Thanks. Hmm, it's too bad - it doesn't look like there's a way there to see the actual output from the child process, so there's no easy way to debug this. Perhaps that's what I should've added in my CL instead of the Infof logging - in hindsight (given what's timing out is the session) I don't think my Infof logs are particularly useful. I'll send you a CL to revert those...

OK, let's reopen thi

[2016-02-29 22:03] #1171 closed, assigned to jinjingforever

[2016-02-29 22:38] aghassemi opened #1188 "Syncbase docs: Quick Start - Java"
Design Doc https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.32iq0sy9gxs4
- [ ] Installation and hello syncbase code and content
- [ ] Automated testing of the steps to ensure it is always up-to-date
- [ ] User testing

@aghassemi + @spetrovic77 + @kenashcraft

[2016-02-29 22:39] aghassemi opened #1189 "Syncbase docs: Quick Start - Go"
Design Doc https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.32iq0sy9gxs4
- [ ] Installation and hello syncbase code and content
- [ ] Automated testing of the steps to ensure it is always up-to-date
- [ ] User testing

@asadovsky + @aghassemi

[2016-02-29 23:05] aghassemi opened #1190 "Syncbase docs: Guides - Data Modeling"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@asadovsky + @aghassemi

[2016-02-29 23:07] aghassemi opened #1191 "Syncbase docs: Guides - Data Flow"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@aghassemi + @asadovsky

[2016-02-29 23:08] aghassemi opened #1192 "Syncbase docs: Guides - Batches"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@ivanpi-mtv + @asadovsky

[2016-02-29 23:08] aghassemi opened #1193 "Syncbase docs: Guides - Blobs"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@m3bm3b + @rdvg

[2016-02-29 23:09] aghassemi opened #1194 "Syncbase docs: Guides - SyncQL Queries"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@kenashcraft + @ivanpi-mtv

[2016-02-29 23:10] aghassemi opened #1195 "Syncbase docs: Guides - Synchronization"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@hpucha + @rdvg

[2016-02-29 23:10] aghassemi opened #1196 "Syncbase docs: Guides - Conflict Resolution"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@jatinlodhia + @hpucha

[2016-02-29 23:11] aghassemi opened #1197 "Syncbase docs: Guides - Access Control"
Design Doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.sv2de67l143
- [ ] Content
- [ ] Java code snippets
- [ ] Go code snippets
- [ ] User testing

@razvanm + @ivanpi-mtv

[2016-02-29 23:11] #1122 closed, assigned to ivanpi-mtv

[2016-02-29 23:12] aghassemi opened #1198 "Syncbase docs: Guides - Schemas and Upgrades"
Design Doc https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.32iq0sy9gxs4
- [ ] Installation and hello syncbase code and content
- [ ] Automated testing of the steps to ensure it is always up-to-date
- [ ] User testing

@jatinlodhia + @asadovsky

[2016-02-29 23:13] aghassemi opened #1199 "Syncbase docs: Guides - Cloud Syncbase"
Design Doc https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.32iq0sy9gxs4
- [ ] Installation and hello syncbase code and content
- [ ] Automated testing of the steps to ensure it is always up-to-date
- [ ] User testing

@razvanm + @kenashcraft

[2016-02-29 23:16] aghassemi opened #1200 "Syncbase docs: Example Apps"
Design doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.52ro74jb1ayd
- [ ] Short list of example apps to include
- [ ] Cleanup and review the code for each
- [ ] Add detailed README for each
- [ ] Include link, description and screanshots/video in the website for each

@aghassemi + @asadovsky

[2016-02-29 23:17] aghassemi opened #1201 "Syncbase docs: FAQ"
Design doc: https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.els4fi2cv7so

[2016-02-29 23:22] aghassemi opened #1202 "Syncbase docs: Tutorial - Java"
Design doc: https://docs.google.com/document/d/1VVB7LM9TYcVA4TAqsHscK4804egwsZIChufNlJ6vKdE
- [ ] Initial content and implementation of few steps
- [ ] Initial user testing of the rough few steps
- [ ] Automated tests for Tutorial
- [ ] Complete content and implementation
- [ ] Complete user testing of the rough few steps

@aghassemi + @kenashcraft + @spetrovic77

[2016-02-29 23:30] ghost commented on #1134
Well, nobody ever fixed this bug, we just disabled the test.  I haven't had time to investigate more why this would happen.  Do you have time?

[2016-02-29 23:32] aghassemi commented on #1134
oh I thought it was fixed (since it has been green) and we forgot to close the bug. I will take it.

[2016-03-01 05:30] SagarPuneria commented on #851
Am closing this issue.

[2016-03-01 05:30] #851 closed, assigned to nobody

[2016-03-01 16:23] cosnicolaou opened #1203 "flaky vanadium-mojo-v23proxy-integration-test::Make test-integration"
the above test appears to be flaky in presubmits:

https://dashboard.v.io/index.html?type=presubmit&n=21050&arch=amd64&os=linux&job=vanadium-mojo-v23proxy-integration-test

[2016-03-01 16:28] cosnicolaou opened #1204 "flaky vanadium-regression-test::Internal Error"
I've seen this vbinary flake several times this week....

https://dashboard.v.io/?arch=amd64&class=vanadium-regression-test&job=vanadium-regression-test&n=21048&os=linux&part=0&suite=vanadium-regression-test&test=Internal+Error&type=presubmit

[2016-03-01 17:14] caprita commented on #1203
Same as https://github.com/vanadium/build/issues/18

[2016-03-01 17:14] #1203 closed, assigned to nlacasse

[2016-03-01 18:12] rthellend commented on #1204
It's getting a 503 from googleapis

failed to download binary: failed to download file linux_amd64/2016-02-28T05:12:38-08:00/gosh_example: got StatusCode https://www.googleapis.com/download/storage/v1/b/vanadium-binaries/o/linux_amd64%2F2016-02-28T05%3A12%3A38-08%3A00%2Fgosh_example?alt=media for download 503

It looks like we're already retrying the downloads. It might just be a matter of retryin

[2016-03-01 18:24] rthellend commented on #1204
Actually, I think the retry logic isn't quite right. It looks like the download succeeded after the retry, but then we got errors writing the downloaded files to disk.

Attempt 2/3:
failed to download binary: cmd.go:349: WriteFile(/home/veyron/tmp/vanadium-regression-test/260234639/regtest/2016-02-28/.done, ,  -rwxr-xr-x): open /home/veyron/tmp/vanadium-regression-test/260234639/regtest/2016-02-28

[2016-03-01 18:39] afandria opened #1205 "pubspec.yaml names may not allow - anymore"
works with dart .13 but not .14 from what we can tell

Check all Dart repos for this problem. Potential solution is to replace with _ or camelcase

[2016-03-01 19:16] #1204 closed, assigned to rthellend

[2016-03-01 19:17] afandria commented on #1205
https://github.com/dart-lang/web-components/issues/36

This appears to be the case.
My version of Dart is `Dart VM version: 1.13.0-dev.3.1 (Thu Sep 17 10:54:54 2015) on "linux_x64"`, but they decided to remove support in November last year.

So I should change any pubspec.yaml that uses `-` to use `_` instead.

[2016-03-01 20:18] bprosnitz opened #1206 "Changes to vdl are not reflected in presubmits"
Likely related to https://vanadium-review.googlesource.com//#/c/20235/3/jiri/x.go

After changing the vdl output, I now have errors in nearly all of my presubmits https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/21083/

If I put my modified vdl binary in devtools/bin, I don't see these errors but if I build locally with the version of vdl from jiri update I get an identical error

[2016-03-01 21:17] nlacasse commented on #1206
The presubmit-test binary pulls the CL changes builds all tools into a "tmpBinDir", and adds that to the PATH.

The CL in v.io/c/20235 prepends .jiri_root/bin to the PATH, so the tmpBinDir is ignored, breaking tests that rely on the newly built subcommands.

Todd has fixes in v.io/c/20345 and v.io/c/20346.

[2016-03-01 22:01] #1205 closed, assigned to afandria

[2016-03-02 03:31] tatatodd opened #1207 "Add VDLUnknown semantics to vdl union types"
@razvanm @asadovsky @bprosnitz

Razvan and I had a discussion about backwards and forwards compatibility of the vdl union type.  The current semantics are that you cannot add new fields to a union type.  E.g. here's an example union in vdl:

[code]

If we take a Foo.C value and try to decode that into an old Foo, that doesn't know about the C field, we get a decoding error.  This behavior makes se

[2016-03-02 03:58] asadovsky commented on #1207
Thanks for the nice write-up.

This sounds pretty nice, but I do worry a bit about the "default strict" behavior: I suspect some users will naively expect unions to be evolvable over time, as we did.

Incidentally, this makes me wonder how enums are handled. My guess is that they behave like unions (prior to this proposal). Assuming so, I wonder if people will be surprised that unions would now ha

[2016-03-02 04:01] bprosnitz commented on #1207
I think there are a few ways to do this:
- Add a special any field
type Foo union {
  VDLUnknown any
  A int32
  B string
}

- Always allow unknown but don't show it in the VDL type:
type Foo union {
  A int32
  B string
}
(but generate a way to access unknown)

- Special syntax to allow

[2016-03-02 04:11] bprosnitz commented on #1207
I think there are a few ways to do this:
- Add a special any field
  `type Foo union {
  VDLUnknown any
  A int32
  B string
  }`

or

`type Foo  union {
  A int32
  B string
  default any
}`
- Always allow unknown but don't show it in the VDL type:
  `type Foo union {
  A int32
  B string
  }`
  (but generate a way to access unknown)
- Special syntax to enable unknown types:
  `type Foo extendabl

[2016-03-02 04:38] cosnicolaou commented on #1177
closed by v.io/c/20274

[2016-03-02 04:38] #1177 closed, assigned to cosnicolaou

[2016-03-02 04:39] cosnicolaou opened #1208 "flaky v::io/x/ref/services/agent/internal/ipc::TestBadConnect [GoRace - linux,amd64]"
this test is flaky in presubmits: https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&job=vanadium-go-race&n=21160&os=linux&part=1&suite=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&test=TestBadConnect+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-03-02 04:40] cosnicolaou opened #1209 "flaky v::io/x/ref/lib/discovery::TestVisibility [GoRace - linux,amd64]"
this test is flaky in presubmits: https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Flib%2Fdiscovery&job=vanadium-go-race&n=21160&os=linux&part=4&suite=v.io%2Fx%2Fref%2Flib%2Fdiscovery&test=TestVisibility+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-03-02 05:03] tatatodd commented on #1157
Fixed by https://vanadium-review.googlesource.com/#/q/topic:toddw-lib_lookpath

[2016-03-02 05:03] #1157 closed, assigned to tatatodd

[2016-03-02 05:37] tatatodd commented on #1207
Adam - yeah, as I was driving home I also realized it might be weird that enum doesn't support VDLUnknown.  The problem with enum is that there isn't a good place to hold the "unknown" value.  So I don't have any good ideas there.

Benj - nice, Razvan and I had discussed exactly those points, and also considered similar other options.  :)

IMO the most important thing to decide is whether the "unk

[2016-03-02 05:44] tatatodd commented on #1206
@bprosnitz - can you confirm that the above CLs fix the problem, and if so, close this out?  I didn't write any tests for the above behavior.  :)

[2016-03-02 06:29] asimshankar commented on #1208
Duplicate of vanadium/build#11
Also, please file build related issues at https://github.com/vanadium/build/issues

[2016-03-02 06:29] #1208 closed, assigned to asimshankar

[2016-03-02 06:32] asimshankar commented on #1209
Moved to vanadium/build#22

[2016-03-02 06:32] #1209 closed, assigned to asimshankar

[2016-03-02 17:42] asadovsky commented on #1127
Fixed in https://v.io/c/20244

[2016-03-02 17:42] #1127 closed, assigned to asadovsky

[2016-03-02 18:40] caprita commented on #1018
Fixed by https://vanadium-review.googlesource.com/#/c/20242/

[2016-03-02 18:40] #1018 closed, assigned to caprita

[2016-03-02 18:41] caprita commented on #573
Some race fixes in https://vanadium-review.googlesource.com/#/c/20242/ and https://vanadium-review.googlesource.com/#/c/20162/

[2016-03-02 18:41] #573 closed

[2016-03-02 19:26] aghassemi opened #1210 "Syncbase docs: Search"
We should come up with a ubiquitous search box that can answer simple queries based on a knowledge graph of guides, tutorials, FAQ, Discussion forum posts, Stackoverflow posts, etc.. It should be more than just a keyword search.

e.g. a query like “What does Resolve permission mean?”, should summarize the part of the Access Control guide where Resole permission is defined in a knowledge box. For q

[2016-03-02 20:47] aghassemi opened #1211 "`Syncgroup Join Failed` Error message does not provide enough details."
In the Syncgroup Join Failed Error, there no indication of why it failed and possible ways to fix the issue.

[2016-03-02 22:11] suharshs commented on #1070
Updated doc here: https://docs.google.com/document/d/1ONrnxGhOrA8pd0pK0aN5Ued2Q1Eju4zn7vlLt9nzIRA/edit#

[2016-03-02 22:14] #1070 closed, assigned to suharshs

[2016-03-02 22:41] tatatodd commented on #1063
FYI we decided to rename LineWriter to WrapWriter, but to keep PrefixLineWriter as-is.

[2016-03-02 22:52] #1094 closed, assigned to AsturaPhoenix

[2016-03-02 22:54] caprita opened #1212 "snapshotpath in Jiri manifests to use slash as separator"
It appears that we're using the os-specific filepath separator when constructing manifest snapshot paths. E.g., https://cs.corp.google.com/vanadium/release/go/src/v.io/jiri/cmd/jiri/snapshot.go?l=97
Should we use slash instead? The reason I'm suggesting this is because the manifest snapshot path is really a path inside the repository, and should be system-agnostic (we shouldn't have backslash just

[2016-03-02 23:42] tatatodd commented on #1212
What you're saying makes sense; we should ensure the same manifest may be used across different platforms.  If the manifest file always uses forward-slash, we can ensure this property.

But it's also a bit weird for windows users.  They will need to write their manifest files using forward-slash, even though their local filesystem uses backslashes.  It gets even worse if they try to specify any ab

[2016-03-02 23:55] aghassemi opened #1213 "Syncbase docs: Security Whitepaper"
The white paper (~5 pages) would discuss the security aspects of Syncbase including the challenges around fine-grained ACLs with P2P synchronization and how Syncbase implementation handles those cases.

@m3bm3b + @hpucha

[2016-03-02 23:59] aghassemi commented on #1213
The white paper (~5 pages) would discuss implementation details of Syncbase and is not targeted for developers who just want to use Syncbase but rather for those who like to know the internal details for various reasons such as curiosity or verification purposes.

[2016-03-03 00:45] tatatodd commented on #1063
Fixed by https://vanadium-review.googlesource.com/#/q/topic:toddw-wrapwriter

[2016-03-03 00:45] #1063 closed, assigned to tatatodd

[2016-03-03 00:55] tatatodd commented on #1165
The full behavior in go 1.6 is described here: https://golang.org/pkg/os/signal/#hdr-SIGPIPE

---

"When a Go program writes to a broken pipe, the kernel will raise a SIGPIPE signal.

If the program has not called Notify to receive SIGPIPE signals, then the behavior depends on the file descriptor number. A write to a broken pipe on file descriptors 1 or 2 (standard output or standard error) will c

[2016-03-03 01:47] nlacasse commented on #1169
v.io/c/20235 has been merged.

[2016-03-03 01:47] #1169 closed, assigned to nlacasse

[2016-03-03 05:57] bprosnitz commented on #1206
Yes, the problem is fixed.

[2016-03-03 05:57] #1206 closed, assigned to nlacasse

[2016-03-03 06:01] caprita opened #1214 "agent for V23_CREDENTIALS"

[2016-03-03 06:21] caprita commented on #1214
Umbrella issue for switching to using the security agent for serving any on-disk credentials (https://docs.google.com/document/d/1M5nIXDfOLoke9kddcdH1J7H1QaCWL10cynUzcu6AMMk/edit#heading=h.uttabh5ut486)

This will happen in several steps, roughly:
1. create a dir-locking library that handles stale locks safely (DONE: v.io/c/19275)
2. implement agent variant that can be started as a daemon from any

[2016-03-03 18:50] bprosnitz commented on #1207
The original benefits we discussed for union were:
1. it is clearer what can be sent and what must be understood by clients/servers talking through a protocol
2. it (ideally) would make code simpler because the user could know that they would have one of a few types after decode

It seems that this issue that was brought up really effects no. 2 and how different versions are handled. For no 1., it

[2016-03-03 19:11] cosnicolaou opened #1215 "flaky: vandium-js-doc"
this seems to be timing out intermittently in presubmits:

see https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=vanadium-js-doc/21305/console

[2016-03-03 19:33] yyoon opened #1216 ".jiri_root/scripts/jiri doesn't have execute permission"
@nlacasse

I tried adding `.jiri_root/scripts/jiri` to my path to use the new `jiri` script in favor of `jiri` binary.
Now when I run `jiri`, it says Permission denied.

[code]

It seems like the execute permission is not applied when copying the script from the repo.

[2016-03-03 20:13] asadovsky commented on #1207
Given that RPC is a primary target of VDL, it seems to me that making the enum and union types "unevolvable" by default would be a mistake - unknown values should not cause decoding to fail.

Btw, it's interesting to see how protobuf handles this:
https://developers.google.com/protocol-buffers/docs/proto3#enum
https://developers.google.com/protocol-buffers/docs/proto3#oneof

[2016-03-03 20:16] spetrovic77 commented on #1215
This is JavaScript.

[2016-03-03 20:40] nlacasse commented on #1216
https://vanadium-review.googlesource.com/#/c/20430/

[2016-03-03 20:52] aghassemi opened #1217 "Syncbase docs: Benchmark Results"
Design Doc https://docs.google.com/document/d/14iQKJQXPCe6OPmq3mkn86dxtXiQuhrx2NtC3eD-nBDU/edit#heading=h.32iq0sy9gxs4
- [ ] Find a place withing Syncbase content for publishing benchmark results
- [ ] Include benchmark results and competitor results in a nicely formatted presentation (graph or data grid, etc..)
- [ ] Explain the benchmark process.

@afandria + @aghassemi

[2016-03-03 21:00] bprosnitz commented on #1207
I don't mean that they are unevolvable, I just mean that you only write
code to explicitly handle know cases based on the vdl file that you have.
If you have other unexpected values, it seems like an issue in figuring out
how the client/server should deal with it and does not need to be
explicitly part of the protocol specification.

On Thu, Mar 3, 2016 at 12:13 PM Adam Sadovsky notifications@gith

[2016-03-03 21:05] nlacasse commented on #1131
This is known gerrit behavior, and unfortunately there seems to be no way to configure it.

A bug is filed here: https://code.google.com/p/gerrit/issues/detail?id=3381

According to the following link, you can configure your personal notification settings to ignore draft CLs, but no way to prevent the email from going to others.

http://stackoverflow.com/questions/30380882/gerrit-suppress-draft-em

[2016-03-03 21:05] nlacasse commented on #1131
WONTFIX

[2016-03-03 21:05] #1131 closed, assigned to nlacasse

[2016-03-03 21:15] tatatodd opened #1218 "Ensure go1.6 reflect changes are properly handled"
@bprosnitz @asimshankar @mattr-google

We use the `reflect` package throughout our codebase, most notably in the vdl and rpc packages.  In go1.6 a long-standing inconsistency/bug was fixed, dealing with unexported embedded struct fields that themselves have exported fields (or methods).  Here's an example:

[code]

The actual issue is somewhat involved, and best understood by reading the two links

[2016-03-04 00:45] #1216 closed, assigned to nobody

[2016-03-04 06:03] caprita opened #1219 "Copyright year for autogenerated files"
@asimshankar (who, as usual, stirs up trouble :-))  pointed out that my copyright notice for a new file I added was showing 2015 instead of 2016 as the copyright year. Turns out, the copyright notice we use in jiri-copyright has 2015 hardcoded. I created a CL to fix that by dynamically generating the year (https://vanadium-review.googlesource.com/#/c/20445). That felt like a better solution than h

[2016-03-04 06:16] tatatodd commented on #1219
It's even more complicated than that for VDL.  See #1176

[2016-03-04 16:56] caprita commented on #1176
Do we even need a copyright notice at all, especially for generated files? http://www.copyright.gov/circs/circ03.pdf seems to suggest copyright notices are no longer needed in order to protect creative work, and google3 removed the requirement to add such notices cca 2012.

[2016-03-04 23:46] tatatodd commented on #1218
Looking through the codebase, we don't support unexported embedded struct fields in data objects anyways.  I.e. if you're using vdl or vom to encode/decode/convert values, we never supported unexported embedded struct fields.  Exported embedded struct fields currently behave just as if their field name were the same as their type name.  I've added some TODOs to remind us to revisit this.

I'm not

[2016-03-05 00:22] asadovsky opened #1220 "gosh: revert v.io/c/20483 and resolve the underlying issue (w.r.t. concurrent BuildGoPkg)"
+cc @tatatodd @caprita
See CL description for https://v.io/c/20483, along with my review comment.

[2016-03-05 00:31] caprita commented on #1220
The simplest fix (I was considering doing myself before settling on reverting instead) would be to have each test build its own binaries rather than being shared across all tests run as part of a vanadium-integration-test suite. There's of course the efficiency argument (we'd be rebuilding the same target repeatedly instead of only once), but I don't think it's a huge deal compared to the total ex

[2016-03-05 00:48] asadovsky commented on #1220
Where does the concurrency actually come from? Are we running "go test" with the -parallel flag? Or is it that we run something like "go test ...", which runs different packages' tests concurrently? If it's the latter, I suppose we could write binaries to a package-specific test location to retain binary sharing across tests within a given package.

Orthogonal to that: Resolving [this TODO](https:

[2016-03-05 00:58] caprita commented on #1220
Running with: jiri test run vanadium-integration-test
The parallelism comes from the jiri tool: i goes out of its way to run things simultaneously (https://cs.corp.google.com/vanadium/release/go/src/v.io/x/devtools/jiri-test/internal/test/go.go?l=674)

I reiterate my personal preference for the simplest solution: no sharing of binaries, either across different tests, or the same test across invoca

[2016-03-05 01:00] aghassemi opened #1221 "Discovery: Attachments should not have a size limit"
A a big size restriction like 1GB is okay but current limit is too restrictive. We should be able to support arbitrarily large attachments through RPC I assume.

[2016-03-05 01:13] tatatodd commented on #1220
Yeah, it seems that in general there's no way to make BuildGoPkg concurrency-safe.  In theory, we could succeed if the target already exists _and_ is byte-wise identical to our freshly-built copy.  But there's no guarantee that multiple go builds produce byte-wise identical binaries.

I like the idea of resolving the TODO to reduce BuildGoPkg invocations, and also to not share binaries.

[2016-03-05 01:32] nlacasse commented on #1076
v.io/c/20435

[2016-03-05 01:32] #1076 closed, assigned to nlacasse

[2016-03-05 02:19] caprita opened #1222 "degradation in duration of presubmit tests"
We used to be at a point where presubmits would take on the order of 15 minutes. Now, it's more like half an hour, and often it's longer than that. Can we get on top of this regression and reverse it?
@nlacasse

[2016-03-05 02:23] nlacasse commented on #1222
We are currently throttling our kubernetes clusters significantly, only allowing ~15 pods at a time.

The reason for this is a bug in the jenkins-kubernetes plugin, which sometimes causes huge spikes in the number of scheduled pods, which then leads to more CPU and disk contention, and more test timeouts.

@jinjingforever is working on fixing the bug in the jenkins-kubernetes plugin.

Once that is

[2016-03-05 02:44] caprita commented on #1222
Thanks for that insight.
However, I think there are also tests that take longer even after they get scheduled. For example, vanadium-js-node-integration, vanadium-js-syncbase-test, vanadium-chat-web-test are all taking over 30 mins for me.

[2016-03-05 03:33] azinman opened #1223 "Possible chicken & egg preventing new Swift section in config.vdl"
I'm trying to submit [this small CL](https://vanadium-review.googlesource.com/#/c/20484/) which adds a Swift section to config.vdl, but tests are failing as if the vdl tool hasn't been re-gen'd with these changes (what I have to do on my dev setup).

Here are steps I took to isolate and attempt to mimic jenkins (see [transcript for chicken and egg.txt](https://github.com/vanadium/issues/files/1596

[2016-03-05 03:35] tatatodd commented on #1223
@nlacasse @jinjingforever @bprosnitz

This smells like another one of these presubmit issues where something is causing the autogenerated *.vdl.go files to be overwritten.  I haven't debugged any further.

[2016-03-05 03:41] tatatodd commented on #1164
@bprosnitz @cierniak Adding folks who were interested in the original mailing list post.

[2016-03-05 04:16] nlacasse commented on #1222
It looks like the issue isn't necessarily tests running slower, but the hanging tests.  Mostly the js-browser and mojo tests.

Here's the recent times for js-syncbase:
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=vanadium-js-syncbase-browser/buildTimeTrend

Most are under 10 min, but there are occasional hangs that take 30 min to time out.

[2016-03-05 04:18] nlacasse commented on #1222
Actually, I mostly see the variability in the tests you mentioned, all of which start chrome.

I suspect chrome sometimes fails to start, causing the tests to time out.  This deserves more inspection.

[2016-03-05 16:18] caprita opened #1224 "fix Darwin flakiness for vanadium-java-test and re-enable"
As per https://github.com/vanadium/build/issues/20, I disabled the darwin version for vanadium-java-test in Jenkins.

To re-enable, go to https://veyron.corp.google.com/jenkins/job/vanadium-java-test/configure, and under Configuration Matrix > Node/Label > Labels, check the box next to "darwin".

@cosnicolaou

[2016-03-05 18:41] #1148 closed, assigned to suharshs

[2016-03-07 22:22] asimshankar opened #1225 "bendroid: Standard output and standard error can be out of sync"
<Placeholder: will add details>

[2016-03-08 01:10] ivanpi-mtv commented on #917
RunInBatch now works with readonly batches, making the more complex case less cumbersome.
v.io/c/20270 , v.io/c/20381 , v.io/c/20386 , v.io/c/20498

Returning the resume marker from BeginBatch would likely have a marginal benefit, if any.

[2016-03-08 01:10] #917 closed, assigned to ivanpi-mtv

[2016-03-08 19:20] caprita opened #1226 "de-flake and re-enable vanadium-mojo-v23proxy-integration-test"
Disabled in the Jenkins UI, as per https://github.com/vanadium/build/issues/21
To re-enable, click "Enable" on https://veyron.corp.google.com/jenkins/job/vanadium-mojo-v23proxy-integration-test/

[2016-03-08 22:35] ivanpi-mtv commented on #1192
Reassigned to @razvanm + @ivanpi-mtv + @asadovsky

[2016-03-08 22:35] ivanpi-mtv commented on #1197
Reassigned to @ivanpi-mtv + @razvanm

[2016-03-08 23:12] nlacasse commented on #1182
This test has been disabled.

[2016-03-08 23:12] #1182 closed, assigned to nlacasse

[2016-03-08 23:12] nlacasse commented on #721
This test has been disabled.

[2016-03-08 23:12] #721 closed

[2016-03-08 23:12] nlacasse commented on #665
This test has been disabled.

[2016-03-08 23:12] #665 closed

[2016-03-08 23:41] caprita commented on #1224
@cosnicolaou said the issue was due to profile management and should be gone now.   Re-enabled test on Darwin.

[2016-03-08 23:41] #1224 closed, assigned to spetrovic77

[2016-03-09 02:08] nlacasse commented on #1222
ProTip:  You can see recent presubmit run times (with a nice graph) on this page:
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/buildTimeTrend

[2016-03-09 02:24] yyoon commented on #1222
The trend page is cool, but I noticed that the list includes the builds where only failed tests were run. I think they are expected to take shorter time compared to a full run, and could potentially be misleading when reading the build time trend.

[2016-03-09 07:23] jeffallen opened #1227 "installation: snappy gives distclean error (cosmetic?)"
This happened during a Vanadium installation just now:

Block 'installBaseProfile' (7/8 in test) of content/installation/step-by-step.md
make: **\* No rule to make target `distclean'.  Stop.
Current Directory: /Users/jra/v23_root/third_party/csrc/snappy-1.1.2
Install: base amd64-darwin@1: success

It doesn't seem like that's an error, but it is hard to tell. It would be better if it didn't happen.

[2016-03-09 17:48] nlacasse commented on #1222
The individual tests in presubmit run in parallel, so times in that histogram basically show the longest running individual test.  You are right that if only a fast test need to be (re)run, then the time in the histogram will be relatively short.

To understand what the worst-case scenarios are (which are likely to occur when the full test suite is run, but also when just a single slow test runs),

[2016-03-09 18:20] yyoon commented on #1222
That makes sense. I agree that looking at the recent peaks would help.

[2016-03-11 02:21] tatatodd opened #1228 "Change vdl to always use built-in VDLROOT libraries"
@nlacasse @azinman @mattr-google

The vdl tool needs to access the `VDLROOT` standard libraries when parsing `vdl.config` files.  Strictly speaking, it only needs the `vdltool` package for this purpose.

Currently the vdl tool has the sources for all `VDLROOT` standard libraries built-in to the binary, as an in-memory tarball.  The intention is to untar the sources into a tmp directory, and use th

[2016-03-11 19:00] kenashcraft commented on #1221
Jungho, Jeff Regan, and I discussed this in person quite a while ago.  We felt it was necessary to limit the size of attachments because if attachments get too big, you run into other problems:
- It might take a long time to fetch 1GB of data.  What behavior should Discovery have in the meantime?  Some developers will want to wait before receiving a notification, some will want it to happen in the

[2016-03-11 19:00] #1221 closed, assigned to jhahn21

[2016-03-11 19:01] cosnicolaou opened #1229 "flaky: v::io/x/ref/services/agent/internal/ipc::TestBadConnect"
the following test is flaky:
v::io/x/ref/services/agent/internal/ipc::TestBadConnect [GoRace - linux,amd64]
https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&job=vanadium-go-race&n=21851&os=linux&part=1&suite=v.io%2Fx%2Fref%2Fservices%2Fagent%2Finternal%2Fipc&test=TestBadConnect+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-03-11 19:07] asimshankar commented on #1229
Reopening vanadium/build#11

[2016-03-11 19:07] #1229 closed, assigned to asimshankar

[2016-03-11 19:27] azinman opened #1230 "Identifier shadowing should be illegal in VDL"
When declaring a field name the same name as its typedef name, shadowing forces the other symbol to lose scope and then the (Swift, probably other) compiler explodes and your day is ruined. This is best illustrated with the following real example:

[code]

generates in Swift:

[code]

VDL should make this practice illegal if for no other reason than it's confusing.

[2016-03-11 19:27] azinman commented on #1230
@tatatodd Please assign appropriately :)

[2016-03-11 20:42] tatatodd commented on #1230
@bprosnitz

Having the same Field / Type name is one way shadowing occurs in some generated languages (e.g. C/C++ has the same issue), and I agree we should outlaw this in VDL.  As a general principal, it's reasonable to have VDL enforce stricter semantics than it has to, in order to make codegen simpler, and to save developers pain down the road.

A related shadowing issue occurs across packages.

[2016-03-11 21:07] nlacasse commented on #430
Obsolete.

[2016-03-11 21:07] #430 closed

[2016-03-11 22:11] danafergan opened #1231 "Website installation instructions are incongruent / v23_root and vanadium directory instructions conflict"
Installing Vanadium on a fresh machine...

When I source the vanadium-install script from http://vanadium.github.io/installation/, it installs vanadium to $HOME/v23_root. However, http://vanadium.github.io/community/contributing.html instructs the user to set JIRI_ROOT to $HOME/vanadium.

/devtools/bin is actually a symlink to $HOME/v23_root/.jiri_root/bin, so one can't just rename v23_root to van

[2016-03-11 22:57] azinman opened #1232 "VDL needs additional restricted field names for Swift"
@tatatodd

The following words need to be added to the restricted/illegal **field** names list in the VDL codegen:

[code]

`type` may also have to get added, but let's not assume so just yet (especially since it's a useful field name in many contexts)

[2016-03-12 00:56] nlacasse commented on #1231
One potential fix is to replace $HOME/vanadium with $HOME/v23_root in the contributor guide.
https://vanadium-review.googlesource.com/#/c/20715/

Another idea is to completely remove the redundant (and currently inconsistent) code block at the top of the contributor guide.

[2016-03-12 01:14] bprosnitz opened #1233 "Update vanadium-v23proxy to reflect changes to type names in mojo"
@afandria
https://codereview.chromium.org/1794493002/

[2016-03-12 01:28] jhahn21 opened #1234 "Mojo handle leak in discovery dart clients on Android"
When running mojo apptests on Android, logcat shows the following warnings:

[code]

[2016-03-12 11:29] tatatodd commented on #1228
A small update - I have https://vanadium-review.googlesource.com/#/c/20746 out to fix this.

It turns out that we can't just get rid of VDLROOT, since we still need it to be able to update the vdlroot sources.  I.e. if we got rid of it, there'd be no way to re-generate the vdlroot packages, which obviously wouldn't work.  Only vdl tool developers need to know about VDLROOT though; regular users wi

[2016-03-12 18:41] cosnicolaou opened #1235 "flaky v::io/x/ref/lib/discovery/global::TestVisibility"
I've seen this flake over the past week or so:

v::io/x/ref/lib/discovery/global::TestVisibility [GoRace - linux,amd64]
https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Flib%2Fdiscovery%2Fglobal&job=vanadium-go-race&n=21907&os=linux&part=4&suite=v.io%2Fx%2Fref%2Flib%2Fdiscovery%2Fglobal&test=TestVisibility+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-03-12 18:45] caprita commented on #1235
Moved to https://github.com/vanadium/build/issues/26

[2016-03-12 18:45] #1235 closed, assigned to asimshankar

[2016-03-12 21:07] tatatodd opened #1236 "Change jiri update to always rebuild all tools from clean branches"
@nlacasse @asadovsky

Adam ran into a problem with my latest vdl changes.  I'm not sure exactly what the problem is (I haven't inspected the code), but roughly speaking it's something like this.

I think the current jiri tool only checks out the master branch of "v.io/jiri" when it rebuilds tools.  I.e. I think it only does ApplyToLocalMaster on the release.go.jiri project, and not any of the othe

[2016-03-12 22:55] nlacasse commented on #1236
I just took a look at the code, and it seems to do exactly what @tatatodd suggests it should do.

https://github.com/vanadium/go.jiri/blob/master/project/project.go#L1235

`buildToolsFromMaster` collects all projects from all tools, and then calls `applyToLocalMaster` with those projects and builds the tools.

I put a printf inside `buildToolsFromMaster`, and toolProjects contains devtools, jiri,

[2016-03-12 23:04] nlacasse commented on #1236
I think we do need to set _all_ projects to clean master before building the tools, not just the ones specified in the `<tools>` tags

Here's a CL that does that:
https://vanadium-review.googlesource.com/20752

Another idea might be to make tools specify all the projects they depend on, but this would be difficult to enforce.

[2016-03-12 23:06] tatatodd commented on #1236
Ah nice, thanks for looking Nick!

Yeah, the problem is that the vdl tool depends on the release.go.v23 project.  Ah, you just responded.  :)

I agree, let's set _all_ projects to clean master before building tools.  As you note, an alternative is to try to specify the dependencies, but we're likely to get it wrong, and it seems complicated.

[2016-03-12 23:26] nlacasse commented on #1236
https://vanadium-review.googlesource.com/20752

[2016-03-13 00:23] caprita commented on #1214
Step 2 done (v.io/c/19580)

[2016-03-13 02:40] cosnicolaou opened #1237 "flaky v::io/jiri/project::TestRemoteImportCycle"
another flaky test...
v::io/jiri/project::TestRemoteImportCycle [GoRace - linux,amd64]
https://dashboard.v.io/?arch=amd64&class=v.io%2Fjiri%2Fproject&job=vanadium-go-race&n=21953&os=linux&part=6&suite=v.io%2Fjiri%2Fproject&test=TestRemoteImportCycle+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2016-03-13 17:38] caprita commented on #1237
Are you sure this is not just flakiness in the CL being presubmit-tested?
(asking simply because I haven't seen this flake in the post-submit, and the CL seems to touch the jiri tool which is where the test is)

[2016-03-13 18:04] nlacasse commented on #1237
I've seen this flake once or twice in presubmits. I don't think it's
related to Cos's changes.

I'll investigate this week.
On Mar 13, 2016 10:38, "bogdan caprita" notifications@github.com wrote:

[2016-03-13 18:26] caprita commented on #1237
Sounds good. Moved to https://github.com/vanadium/build/issues/27

[2016-03-13 18:26] #1237 closed, assigned to nlacasse

[2016-03-14 17:27] jhahn21 commented on #1099
Done by https://vanadium-review.googlesource.com/#/c/19504/

[2016-03-14 17:27] #1099 closed, assigned to jhahn21

[2016-03-14 17:33] jhahn21 commented on #1077
The global discovery is available in Go and Java and the interface is the same as the local discovery.
Only difference is the way to instantiate the global discovery.

In Go,
`v.io/x/ref/lib/discovery/global/global.go: New(ctx, path)`

In Java,
`io/v/impl/google/lib/discovery/GlobalDiscovery.java: newDiscovery(ctx, path)`

In global discovery, only `Id` and `Addresses` are supported.

fyi: @asadov

[2016-03-14 17:37] jhahn21 commented on #1130
Fixed by https://vanadium-review.googlesource.com/#/c/20087/.

[2016-03-14 17:37] #1130 closed, assigned to spetrovic77

[2016-03-14 17:43] asadovsky commented on #891
Is there any update on this?

I ran into a situation where the "one factory per address space" restriction is really annoying: Some tests run the mount table in a subprocess using v23test.StartRootMountTable, which compiles mounttabled using v23test.BuildGoPkg. I'd like to change v23test.StartRootMountTable to avoid compilation by running the mount table using v23test.FuncCmd, which runs the origi

[2016-03-14 17:47] asadovsky commented on #1077
Cool, thanks @jhahn21!

+cc some other folks, who may wish to use this in their apps:
@aghassemi @AsturaPhoenix @jxson @afandria @emshack @nlacasse @yyoon @jwnichls

[2016-03-14 18:13] ghost commented on #891
@asadovsky This doesn't really address the general problem, but for your specific case, why run the mounttable as a separate process at all?  Isn't it easier to just call test.V23InitWithMounttable()?

[2016-03-14 19:45] asadovsky commented on #891
@mattr-google Thanks for the suggestion. It turned out that most of my test failures were fixed by switching from "generic" profile to "roaming" (thus enabling glob handlers) - thanks for helping me debug that. Also, your suggestion of using test.V23InitWithMounttable() was handy for my one remaining broken test.

So, all good from my end now, though I still hope we implement the proposal describe

[2016-03-14 20:51] azinman opened #1238 "VDL should required transitive exported"
There are several places where consts like Vom's WireIdBool are exported (W is uppercase), yet it's type - typeId - is not.

Swift will tell you "Property cannot be declared public because its type uses an internal type", and thus requires "transitive public."

VDL should require its exports to also be transitive, as agreed by @tatatodd.

[2016-03-14 20:52] tatatodd commented on #1232
Add these as appropriate to this file:

v.io/x/ref/lib/vdl/compile/reserved_words.go

[2016-03-14 21:57] asimshankar opened #1239 "Move to Go 1.6"
Most of our codebase works with Go 1.6, but there are some rough edges in terms of third-party libraries we use.

This bug is filed to keep track of all the changes made towards moving our codebase to Go1.6 compliance.

[2016-03-14 22:01] asimshankar commented on #1239
Third-party repository changes
- vanadium/third_party@9a757a593440093c622bcb869661119ddafcfdab
- vanadium/third_party@1a9c7665b79e6baacbad41fa27d65da648409d3a
- vanadium/third_party@447e61ffc13f18cdc277503f54452b45d31aeae5
- vanadium/third_party@795ac56e5a06f517939b2df67485dd28e98ea006
- vanadium/third_party@b3564c3a7ab32d9b150a1efc46bfe2bea1d94463

[2016-03-14 22:04] asimshankar commented on #1239
v23-profile changes to install the go 1.6 toolchain:
https://vanadium-review.googlesource.com/#/c/20623/
(vanadium/go.devtools@e8c716005a0538554a5ca9a9d248f7f7c1200a9e)

And follow up in vanadium/go.devtools@75b1b06152c9716692d425c016f4444cff5bf6e2

[2016-03-14 22:33] jhahn21 commented on #1180
I couldn't reproduce it, but I tried to remove the time dependency:
https://vanadium-review.googlesource.com/#/c/20766/

[2016-03-14 22:33] #1180 closed, assigned to jhahn21

[2016-03-15 00:12] azinman commented on #1232
As discussed, here is the patch for the separate CL that many things will conflict with.

(GitHub forces me to zip it -- strange)

[reserved_words.patch.zip](https://github.com/vanadium/issues/files/173062/reserved_words.patch.zip)

[2016-03-15 04:04] caprita opened #1240 "vanadium-mojo-discovery-test flaky on presubmits"
This test was added today (v.io/c/20742) and is disabled on post-submits, but is failing on presubmits. Disabling it

[2016-03-15 04:19] caprita commented on #1240
Disabled with https://vanadium-review.googlesource.com/#/c/20779/

[2016-03-16 16:41] razvanm opened #1241 "Move the WithPerms functions out of the syncbase/store/watchable"
In [v.io/c/20644](https://v.io/c/20644) a bunch of WithPerms functions (PutWithPerms, PutVomWithPerms, DeleteWithPerms) were moved to syncbase/store/watchable. The perms are a syncbase feature so we should find a way to move them in a more suitable place (syncbase/server).

[2016-03-16 17:15] #1236 closed, assigned to tatatodd

[2016-03-16 22:04] caprita commented on #1214
Step 3 done (v.io/c/20738)

[2016-03-17 14:20] razvanm opened #1242 "More efficient encoding for LogEntry.Op"
In [v.io/c/20644](https://v.io/c/20644/4/services/syncbase/vsync/watcher_test.go@151) @asadovsky pointed out that the encoding for LogEntry.Op is inefficient because we store the type information in each log entry. Considering that the number of types is small (only 6) we should be able to come up with a better solution.

@m3bm3b

[2016-03-17 16:46] asadovsky commented on #1242
Just to elaborate a bit: The point is that beyond client-provided VOM values, there are various other places in the Syncbase server internals where we serialize VDL structs, likely resulting in the storage of type information alongside every serialized record (of any kind). It would be nice if our mechanism for splitting (and later re-joining) type information from value bytes could expose a fairl

[2016-03-17 22:38] jhahn21 commented on #1240
Fixed by v.io/c/20737.

[2016-03-17 22:38] #1240 closed, assigned to jhahn21

[2016-03-18 00:03] razvanm opened #1243 "Improve the resilience of presubmit checking"
A recent issue highlighted that a bug in the postsubmit tool that was not caught by our presubmit tests. Beside breaking some of the Jenkins jobs this also end up stalling the run of the presubmits checks. It would be nice if we could improve things. Or at least state what are some possible solutions.

@jinjingforever @nlacasse @cosnicolaou @hpucha

[2016-03-18 00:05] jinjingforever commented on #1243
When a Jenkins job fails, it should send out notification email to the current oncalls. But for historical reasons, presubmit-poll and postsubmit-poll were set up differently. They actually send emails to me and Jiri on failures..  When they failed yesterday around 6:30pm I was already at home.

I am updating their configs to send notification emails to the current oncalls so at least the failures

[2016-03-18 06:51] tatatodd commented on #1228
Fixed by https://vanadium-review.googlesource.com/#/c/20746

[2016-03-18 06:51] #1228 closed, assigned to tatatodd

[2016-03-18 06:56] tatatodd commented on #1165
Fixed by https://vanadium-review.googlesource.com/#/c/20489

So this is great news.  In go1.6 a user that writes simple programs that write to os.Std{out,err} will get a SIGPIPE if the pipe was broken; i.e. if they were pipelined to a downstream process, and that process terminated.  That's exactly the behavior that we want.

[2016-03-18 06:56] #1165 closed, assigned to tatatodd

[2016-03-18 07:12] tatatodd commented on #733
@bprosnitz - this isn't important to fix right now, but just keeping you in the loop.

Thanks for reporting this bug!  And sorry for not responding for so long.

The import bug that causes things to fail to compile has been fixed, by Benj's CL a while back that made 2 passes in the go codegen to simplify imports.

However we still generate bad code.  We have a different import problem, where we en

[2016-03-18 07:14] tatatodd commented on #568
@suharshs fixed this with https://vanadium-review.googlesource.com/#/q/topic:suharshs-publisher

[2016-03-18 07:14] #568 closed

[2016-03-18 07:15] tatatodd commented on #485
This is obsolete, now that we have the awesome gosh package by @asadovsky

[2016-03-18 07:15] #485 closed

[2016-03-18 07:15] tatatodd commented on #491
This is obsolete, now that @asadovsky has removed v23 test generate and replaced it with gosh / v23test

[2016-03-18 07:15] #491 closed

[2016-03-18 17:21] nlacasse commented on #1231
https://vanadium-review.googlesource.com/#/c/20715/ was checked in.

[2016-03-18 17:21] #1231 closed, assigned to nlacasse

[2016-03-18 21:56] afandria opened #1244 "Reduce VSync Clock calls"
As part of optimizing the speed of sync, one area we can improve on is the number of times we synchronize clocks between peers. If we can cut down on the number of RPCs per sync, we can reduce the effect of "unix ping latency" on sync performance.

Currently, we synchronize the clock every time we do a peer sync. This constitutes 1 of 3 RPCs (the other two being sg deltas and data deltas) that we

[2016-03-18 22:09] afandria opened #1245 "Proposal: Batch SG and Data GetDeltas"
Background: When syncing data between peers we make 3 RPCs. These RPCs cross device boundaries, so they are the main sources of latency when syncing data between devices.
1. Clock sync #1244
2. SG GetDeltas across shared syncgroups
3. Data GetDeltas across shared syncgroups
   Note: We do 2 and 3 for every database that syncbase has.

We synchronize SG metadata first because we need to know if ACL

[2016-03-18 22:15] afandria opened #1246 "Proposal: Cut Gen Vectors more often"
As discussed, the critical section for gen vectors seems to be when the initiator is calling GetDeltas for that component (whether SG or Data). However, at all other times, we should be able to cut the gen vector safely.

To speed up the rate of sync, I would recommend cutting the gen vector after Sync Watch completes (if it is safe to do so) and possibly also at the end of GetDeltas.

For the Pin

[2016-03-19 06:20] asadovsky commented on #904
Fixed in https://vanadium-review.googlesource.com/#/c/20858/

If -root-dir is not specified, we use a fresh temporary directory. Seems "good enough" for now, closing the issue.

[2016-03-19 06:20] #904 closed, assigned to asadovsky

[2016-03-20 19:18] bprosnitz opened #1247 "Setup instructions are broken"
The development setup page https://docs.google.com/document/d/1Aqm4Kx2qXCt1zNytz9QXAUlvcVLg4zN2XZTprzb0Js4/edit
links to
https://staging.v.io/community/contributing.html for setup
which links to
https://github.com/vanadium/docs/blob/master/contributing/README.md
which is no longer existant

The installation page on vanadium.github.io:
http://vanadium.github.io/installation/
Has a script that seems

[2016-03-21 03:28] bprosnitz commented on #1226
@afandria assigned you to this because I believe you had already investigated this somewhat

[2016-03-21 18:05] #1239 closed, assigned to asimshankar

[2016-03-21 18:22] asadovsky commented on #1247
I can't edit the doc, but I added a "suggestion" to change the link to this:
http://vanadium.github.io/community/contributing.html

[2016-03-21 18:24] bprosnitz commented on #1247
The installation instructions linked from that page are incorrect -- they set up JIRI_ROOT in a predefined location intended for the tutorials

[2016-03-21 19:29] afandria commented on #1247
Having recently setup `$JIRI_ROOT` from those instructions on some Macbook airs, I think the instructions work to setup `$JIRI_ROOT` and use the `jiri` tools. However, there's a danger that after setting up `$JIRI_ROOT` exactly that way (without copying the files over to somewhere else) that something will break. I think that either:
- re-running the tutorial script will accidentally destroy their

[2016-03-21 19:44] afandria commented on #1226
Yeah, I'll take a look. If the flake is on Mojo Shell, we'll need to find a way around it with an internal timeout instead of hanging until the Jenkins test times out. If it's part of our code, we'll have to fix it ourselves.

I do think Mojo Shell sometimes has difficulty starting up binaries, so I'm going to investigate with that in mind.

[2016-03-21 20:11] jxson commented on #1247
As far as I know there are two types of installations:
- Contributors
- Everyone else

Contributors should be sure to follow the link @asadovsky mentioned: http://vanadium.github.io/community/contributing.html

@bprosnitz It's not clear to me what the exact issue is with the non-contributor/tutorial installation instructions, can you elaborate? Keep in mind people using our code to run through the

[2016-03-21 21:16] #1227 closed, assigned to nlacasse

[2016-03-21 21:32] #1111 closed, assigned to sjamesr

[2016-03-21 22:36] bprosnitz commented on #1247
I ran the setup script yesterday on my macbook and it assumes that your
root is $HOME/v23_root and mostly ignores the JIRI_ROOT environment
variable (some packages are installed to JIRI_ROOT, most are not)

On Mon, Mar 21, 2016 at 1:11 PM Jason Campbell notifications@github.com
wrote:

[2016-03-21 23:00] jxson commented on #1247
Hmm, okay.

Any contributors on the non-contributor install page is in the wrong place unless they are trying to run through the tutorials with a fresh install of Vanadium. I think the best corse of action is to make sure that the non-contributors install is explicitly different from core contributors setup by:
- Adding a note to the install page to direct contributors to the right place.
- The in

[2016-03-22 00:14] afandria commented on #1226
FYI, re-enabling the test tentatively. I wasn't able to reproduce it locally after quite a few runs (v.io/c/20932 makes it runnable again).

[2016-03-22 00:33] afandria commented on #1247
I would agree that we should make the contributor install slightly harder to make things safer for them.

My goals are:
1. allow people to try our tutorial with the non-contributor install
2. allow users to become developers easily
3. allow contributors to run the tutorials using the installation script without destroying their own work

Note: The installation script always has `export JIRI_ROOT=$

[2016-03-22 01:04] asadovsky commented on #1247
FYI: That's what we used to have, but @nlacasse and @danafergan changed it to the current state:
https://vanadium-review.googlesource.com/#/c/20715/

I agree with Alex that the "rm -rf $JIRI_ROOT" is dangerous. Why is it necessary? I.e. why can't the installation script simplify fail if $JIRI_ROOT already exists, so that developers can "rm -rf" it themselves if that's the right thing to do?

[2016-03-22 01:36] danafergan commented on #1247
That is a separate issue. At the time, if you installed through the standard script, all of the vanadium code would be at ${HOME}/v23_root , and if you installed through the step-by-step script, your JIRI_ROOT would be ${HOME}/v23_root (2nd code block at http://vanadium.github.io/installation/step-by-step.html). So it didn't make sense switching JIRI_ROOT to ${HOME}/vanadium, since there was no ${

[2016-03-22 16:56] nlacasse commented on #1247
There is no real difference between the "contributor" instructions and the "everybody else" instructions.

The contributor instructions [here](http://vanadium.github.io/community/contributing.html) point you to the usual [install instructions](http://vanadium.github.io/installation/).  The contributor instructions have extra info about the CLA and submitting CLs, but there's no difference regardin

[2016-03-22 17:33] danafergan commented on #1247
@nlacasse & I just took a look. Right now, the instructions are consistent through the installation & tutorials that JIRI_ROOT should be ${HOME}/v23_root, and the tutorials don't affect the folder.

However, it's dangerous that the quick installation script at https://staging.v.io/installation/index.html wipes that folder. This is explicit on the step-by-step instructions.
Does this need to happen

[2016-03-22 17:38] jxson commented on #1247
Thanks for all the info gang, I'll get a CL up shortly.

On Tue, Mar 22, 2016 at 10:33 AM, Dan Afergan notifications@github.com
wrote:

[2016-03-22 17:40] nlacasse opened #1248 "Detect "slave went offline during the build" errors and retry"
Sometimes a bunch of Kubernetes nodes disconnect.  I suspect network issues, but more investigation is needed.

When this happens during a presubmit run, the entire set of presumit tests are retried, when really we should only retry the tests that failed.

[2016-03-22 17:43] nlacasse opened #1249 "CI: test changes to manifest repo"

[2016-03-22 17:54] jinjingforever commented on #1248
There is a "Rerun build only for failed parts on the matrix" option in Jeknins job config:

https://screenshot.googleplex.com/cZE7EBgQBqT

Last time I tried it, it only re-runs the sub-test but it won't change the overall test result even if the re-run succeeds. But this is a nice feature to have and I will add it to the wishlist of the future vanadium-based CI system

Thanks

[2016-03-22 18:33] nlacasse commented on #1047
The new jiri bootstrap script accepts any version of go.

 https://raw.githubusercontent.com/vanadium/go.jiri/master/scripts/bootstrap_jiri

[2016-03-22 18:35] nlacasse commented on #1047
Whoops, the vanadium bootstrap script still requires a version 1.5 or greater, and rejects "devel".  I think that check can go away.

[2016-03-22 20:07] afandria commented on #1247
FYI, I just tried copying over v23_root to somewhere else, and it doesn't work directly. You will still need to modify the $JIRI_ROOT/devtools/bin symlink. Perhaps it would be better to set some environment variables to force the installation to go to the right place instead.

[2016-03-22 20:09] nlacasse commented on #1247
@afandria I'm in the process of getting rid of the devtools/bin symlink.  Users should have `$JIRI_ROOT/.jiri_root/scripts` in their PATH, not `devtools/bin`.

The website instructions have been updated as of this morning.

I'll be sending an email today about removing `devtools/bin`, and will hopefully actually remove it early next week.

[2016-03-22 20:44] asimshankar opened #1250 "Bluetooth not working on Darwin"
With Go 1.6, the paypal/gatt library that we use doesn't quite work on OS X. See paypal/gatt#64
For now, we've disabled the failing tests (vanadium/third_party@1835d52be3920b19d4808026231e6dac9a72bb51) as a workaround to keep the builds green but as and when we start wanting to use BLE on OS X, then we'll need to address this problem.

CC @jhahn21

[2016-03-22 23:52] #1247 closed, assigned to jxson

[2016-03-23 19:10] afandria commented on #1226
The test still doesn't fail locally, but it fails quite often on Jenkins. It looks like endpoints are found, so it seems like Dart is the problem.

I've looked at the failures, and excluding some build and kubernetes issues, they fall into 2 categories
- Dart client fails to start (or hangs somewhere in the implementation) ([428](https://veyron.corp.google.com/jenkins/job/vanadium-mojo-v23proxy-in

[2016-03-23 20:26] afandria commented on #1226
Oddly, the Dart server (on success) is cached twice by the network service, but only ever cached once if it fails.

A line like

[code]

is seen twice on successful Dart server runs (with similar duplication for Go server runs). However, failures means that it only shows up once, presumably for the service describer.

In a similar vein, the caching of the client file occurs if the test passes and

[2016-03-24 22:06] bprosnitz opened #1251 "Duplicate vdl files and tests across parallel directories"
Several of the parallel syncbase directories have vdl files that define the same structures for testing, along with tests that define and use many of the same test cases.

I have made several changes recently where I needed to update each of these copies. The files should probably be consolidated in a separate package that the other packages depend on.

[2016-03-25 00:39] afandria commented on #1226
There's one other thing I can think of, and that's the test _order_. Recall how Mojo shells can't be reused unless there a different HOME directory is used.

It's possible that this problem is caused by the clients in the v23proxy test not setting their own HOME dir. Back to back runs may then lead to this hang occurring. (I thought sleeps may help, but perhaps Mojo Shell isn't even quitting.)

[2016-03-25 23:27] fredquintana commented on #888
The last proposal was to add a put(String key, VdlValue value) call to Table (and Row). This doesn't eliminate the need for the developer to specify the Type since the factory method for VdlValue takes (Object value, Type type). I think we need:

put(String key, Object value);
put(String key, Object object, Type type);

and then use reflection to determine the VdlType at runtime.

[2016-03-26 00:26] afandria commented on #1226
Unfortunately, this hasn't worked. :(

[2016-03-26 00:27] afandria commented on #1233
Done

[2016-03-26 00:27] #1233 closed, assigned to nobody

[2016-03-27 17:20] ghost opened #1252 "flaky: v.io/x/lib/textutil/TestUTF8ChunkDecoder test"
The following test just started to fail in my presubmits:

https://dashboard.v.io/index.html?type=presubmit&n=22515&arch=amd64&os=darwin&job=vanadium-go-test

[2016-03-27 17:22] cosnicolaou commented on #1252
Sorry, I filed this with my personal github account, I'm assigning to Bogdan because it looks related to the container that the test is running in, but I don't have access to the code to take a closer look (I just have a chromebook with me).

[2016-03-28 00:07] caprita commented on #1252
Confirming I can reproduce the failure on Mac node 1, investigating...

[2016-03-28 00:50] caprita commented on #1252
After a bit of digging around, it looks like the test is only failing on Go 1.5, but passes on Go 1.6. In fact, it was disabled in 1.5, but looks like @tatatodd re-enabled it with https://vanadium-review.googlesource.com/#/c/20964 on March 22nd after @asimshankar switched us to Go 1.6.
However, the presubmit test still used Go 1.5 and older jiri tools. Trying to figure out why.

[2016-03-28 01:21] caprita commented on #1252
@cosnicolaou

[2016-03-28 02:01] caprita commented on #1252
I am starting to think that this may perhaps be related to the CLs being tested by the presubmit (https://vanadium-review.googlesource.com/#/q/topic:cnicolaou-datadir-cleanup-2) since they touch the jiri tools, though can't say for sure. I tried cleaning up /Users/veyron/workspace/pt/vanadium-go-test/amd64/root and re-installing with /Users/veyron/scripts/init-vanadium.sh on mac node 1 (where this

[2016-03-28 17:28] caprita commented on #1252
@jinjingforever was able to confirm that the failure is related to the CLs being tested, by patching in Cos' CLs and doing 'jiri rebuild' to rebuild the jiri tools. It appears that the CLs somehow make jiri use Go 1.5 (jiri go version prints 1.5)

[2016-03-28 17:36] nlacasse commented on #1252
Weird.  I can't find anything in Cos's CL that would cause it to use go 1.5
despite 1.6 being installed.

If we don't patch in Cos's CL, does "jiri go version" in the same workspace
print 1.6?

On Mon, Mar 28, 2016 at 10:28 AM, bogdan caprita notifications@github.com
wrote:

[2016-03-28 17:37] caprita commented on #1252
Yes, it prints 1.6 without Cos' change

[2016-03-28 17:45] jinjingforever opened #1253 ""Too many open files" error after running syncbased for 9 hours"
Hi guys,

I am working on an application that uses syncbase. It works like this:
- A syncbased **server** running on GCE.
- A **data collector** running somewhere else writes data to the **server** at row **R** every 5 seconds.
- A syncbase **client** running on the same machine as the **server** reads value from row **R** and prints it out every 5 seconds.
- The **client** also creates a syncgrou

[2016-03-28 18:16] bprosnitz opened #1254 "VDL cannot be updated without a manual Java push"
Currently, presubmits for many vdl changes don't pass without pushing a new java build to maven central. In addition, the current solution involves pushing a build before it has been tested.

We should try to come up with a solution that tests the latest version and does not depend on a manual push step.

One possible solution is running presubmits off of the latest code in the repo and having a s

[2016-03-29 18:44] asadovsky opened #1255 "add http->https redirect to vanadium.github.io"
Is there an easy way to redirect http://vanadium.github.io to https://vanadium.github.io?
It's a shame GitHub doesn't do this automatically, but perhaps we could do it with a bit of JS?

[2016-03-29 19:54] AsturaPhoenix opened #1256 "flaky: Java builds that download dependencies"
We should build a utility that analyzes test output to rerun tests for known external flakiness. Example:
- What went wrong:
  A problem occurred configuring root project 'baku-toolkit'.

[2016-03-29 22:11] #1255 closed, assigned to aghassemi

[2016-03-29 22:43] aghassemi commented on #1147
https://vanadium-review.googlesource.com/#/c/21123/

[2016-03-29 22:43] #1147 closed, assigned to aghassemi

[2016-03-29 22:44] aghassemi commented on #1112
Done

[2016-03-29 22:44] #1112 closed, assigned to aghassemi

[2016-03-29 22:45] aghassemi commented on #1105
Dart client now has integration tests: https://vanadium-review.googlesource.com/#/c/20485/

[2016-03-29 22:45] #1105 closed, assigned to aghassemi

[2016-03-29 22:45] aghassemi commented on #1113
Done: https://vanadium-review.googlesource.com/#/c/20485/

[2016-03-29 22:45] #1113 closed, assigned to aghassemi

[2016-03-29 22:54] aghassemi commented on #1083
https://vanadium-review.googlesource.com/#/c/20263/ is fixing this.

[2016-03-29 22:55] #1102 closed, assigned to aghassemi

[2016-03-29 22:59] aghassemi commented on #1055
I was chatting with the Flutter team. They may pick up Jiri and use/encourage others to use jiri to pin down specific versions of flutter using out profile system. Of course, first we need to have a flutter profile.

[2016-03-29 23:03] yyoon commented on #1055
FYI, @jxson is already working on the flutter profile.

[2016-03-29 23:07] jxson commented on #1055
It's still WIP, I'll get back to it in the next day or so. If any one wants to pick it up and save some boilerplate the current work is at: [jxson/go.devtools/#flutter-profile](https://github.com/jxson/go.devtools/tree/flutter-profile)

[2016-03-29 23:12] nlacasse commented on #1055
We should talk about this.  I think jiri's import feature is better suited for pinning dependencies on remote projects.

For example, look at how FNL is depending on Mojo in their manifest:
https://github.com/shinykitten/fnl-start/blob/master/manifest/fuchsia-with-mojo

For versioning, the Flutter team could produce different manifests for each "release".  Then any team that consumes flutter could

[2016-03-29 23:22] afandria opened #1257 "RPC: Traffic goes through proxy instead of a more direct connection"
Observed with Syncbase's Ping Pong Benchmark.

On Android and syncslides-alpha network, the Ping Pong Iteration takes
- 450ms w/o proxy
- 1000ms w/ proxy (instead of the same amount)

Note that the +550ms is a common network latency increase seen when routing this test's traffic through the proxy. This is also seen on Go (same device), Go (different devices), and Mojo Syncbase.

@suharshs

[2016-03-29 23:26] jxson commented on #1055
@nlacasse for my particular case I need to build a flutter-engine for Darwin to get `flutter test` to work. Could this method of pinning work and still leverage a profile so the deps are built correctly?

[2016-03-29 23:55] nlacasse commented on #1055
We will still need a build step for flutter-engine, but it doesn't necessarily need to be a profile.

Within a single team (like Vanadium) a profile makes sense, but we haven't thought much about distributing profiles to other teams.  Distributing a profile to another team will still require an `import` statement in their manifest.  At that point, it might be simpler to just `import` the dependenc

[2016-03-30 01:01] asimshankar commented on #542
Duplicate of #619

[2016-03-30 01:01] #542 closed

[2016-03-30 01:51] jhahn21 commented on #1077
+cc @ivanpi-mtv

[2016-03-30 16:55] caprita commented on #1214
Exposed knob to configure client-side socket connect retry timeout (v.io/c/21170)

[2016-03-30 17:46] caprita opened #1258 "v.io/v23/syncbase test is slow (>60s)"
Not that there's necessarily something wrong going on, but wanted to flag this test since it routinely takes over a minute to run.

Most test cases run in under a second, but there are some outliers e.g. TestExecDelete takes 13s, and some of the Watch tests take 5s. Perhaps there's a way to expedite the test by reducing any inherent poll intervals or internal timeouts when running in test mode?

I

[2016-03-30 23:46] aghassemi commented on #874
Closing this one in favor of #1077

[2016-03-30 23:46] #874 closed, assigned to asadovsky

[2016-03-30 23:51] aghassemi opened #1259 "Expand query language to understand collections."

[2016-03-30 23:52] aghassemi opened #1260 "JSON support"
- [ ] In Go
- [ ] In Java
- [ ] In Dart
- [ ] In Swift

[2016-03-30 23:53] aghassemi opened #1261 "iOS client library"

[2016-03-30 23:55] aghassemi opened #1262 "Syncbase data browser/debugger tool"

[2016-03-31 00:02] aghassemi commented on #906
related: https://github.com/vanadium/issues/issues/1083

[2016-03-31 00:03] aghassemi commented on #857
Closing in favour of https://github.com/vanadium/issues/issues/889

[2016-03-31 00:03] #857 closed, assigned to ivanpi-mtv

[2016-03-31 00:12] aghassemi opened #1263 "Putting values > 1MB has issues."
@jatinlodhia

[2016-03-31 00:31] aghassemi opened #1264 "Figure out how to allow users to specify "patterns" over collection ids and row keys for watch API and other such APIs"

[2016-03-31 00:31] tatatodd commented on #1259
I was curious about a comment that @aghassemi made on Asim's Swift Syncbase doc, and I don't know whether this is related.

In general, I think the query language should only support the VDL type system and VOM objects, and other values in type systems should always be converted to VDL/VOM first.  The advantage of this approach for the user is that we only need to define the translation rules from

[2016-03-31 00:33] tatatodd commented on #1260
FYI @bprosnitz and I are working on general JSON support in VDL/VOM, and also support for VDL/VOM in each language (Go, Java, etc).  My hope is that higher-level apps like syncbase won't need to do anything extra to get this support.

[2016-03-31 01:26] asadovsky commented on #1259
@tatatodd This issue is not related to that point. This issue relates to the Syncbase API simplification: we've gotten rid of "tables" and introduced "collections" to the hierarchy, so we need to adjust the query language to accommodate that.

[2016-03-31 02:10] tatatodd commented on #1259
Ah nice, ok, nevermind.  :)

[2016-03-31 14:57] aghassemi commented on #1259
@tatatodd https://github.com/vanadium/issues/issues/1100 is related to your point and agrees with it.

[2016-03-31 15:00] aghassemi commented on #1260
:ok_hand:

[2016-03-31 15:00] aghassemi commented on #1260
We still need this issue to track how out get/put APIs would change to support JSON.

[2016-03-31 17:40] caprita opened #1265 "obtaining nodejs bin path in Makefiles broken (for me)"
There are at least two ways in which Makefiles in Vanadium attempt to get the path to the node and npm commands:

[1] From www (https://cs.corp.google.com/vanadium/www/Makefile?l=1)

`NODE_DIR := $(shell jiri profile list --info Target.InstallationDir v23:nodejs)`

This uses jiri profile list, but only works when there is just one entry. If, as in my case, there more than one, it breaks:

[code]

[2016-03-31 17:42] caprita commented on #1265
@nlacasse @jxson

[2016-03-31 17:44] nlacasse commented on #1265
The second method is correct.  If it does not work for you, you may need to run `jiri profile update`.

I did not update the Makefile in the "www" repo because it has been deprecated.

[2016-03-31 18:02] nlacasse commented on #1265
Just verified that the "website" repo has the correct node path command.

Bogdan's issue was fixed by manually deleting his old nodejs profile with version bad "10.24" version, and re-installing.

[2016-03-31 18:02] #1265 closed, assigned to nlacasse

[2016-03-31 18:15] asadovsky commented on #1253
@nlacasse is working on Syncbase longevity tests, so I'll tentatively assign this to him.

[2016-03-31 18:16] asadovsky commented on #1258
Ack. There probably is some low-hanging fruit but we are in the midst of big code refactoring (for simplified API), so let me get back to this in a few weeks or so.

[2016-03-31 18:18] asadovsky commented on #1220
I fixed this a couple weeks ago or so, by updating v23test to stop sharing binary dirs across test packages, thus avoiding the race condition.

[2016-03-31 18:18] #1220 closed, assigned to asadovsky

[2016-03-31 18:19] asadovsky commented on #890
Marking "will not fix" since we are focused on mobile.

[2016-03-31 18:19] #890 closed, assigned to asadovsky

[2016-03-31 18:20] asadovsky commented on #895
JS is no longer our focus; will not fix.
@kenashcraft added a deprecation note to the todos project README.md.

[2016-03-31 18:20] #895 closed, assigned to asadovsky

[2016-03-31 20:00] ivanpi-mtv commented on #922
Collections might make this possible, but with restrictions (e.g. no syncgroups on collection).

Related problem is setting the collection ACL in a batch - this requires all data written in the batch to satisfy either the ACL version written before the batch, or the latest ACL version written in the batch (since intermediate ACL writes are lost).

[2016-03-31 20:02] ivanpi-mtv commented on #923
Related: #1264 (except watch by query)

[2016-03-31 20:04] ivanpi-mtv commented on #1253
Leveldb appears to support a `max_open_files` option.

[2016-03-31 20:46] asadovsky commented on #1253
@jinjingforever Can you describe your data layout? In particular, how many databases are you using? (Syncbase uses a separate leveldb instance per database.)

@ivanpi-mtv, nice find regarding `max_open_files`. Here are a few references I found on it:
https://groups.google.com/forum/#!searchin/leveldb/max_open_files/leveldb/y2cE_bZ0YFE/AIHJdQAoJagJ
https://bugs.chromium.org/p/chromium/issues/detail

[2016-03-31 20:51] jinjingforever commented on #1253
Thanks for the info.

I am using one non-sql database with one table and one row in the table.

[2016-03-31 21:38] m3bm3b commented on #1083
https://vanadium-review.googlesource.com/#/c/20263/

is now submitted.  So, aside from the fact that the Java world is still disabled for other reasons, this should be ok now.

[2016-03-31 21:38] #1083 closed, assigned to m3bm3b

[2016-03-31 22:10] aghassemi opened #1266 "Syncbase's advertisements are too large based on Discovery's new restrictions."
Syncbase's advertisement are now failing with `advertisement too large`

We should use the new "attachments" for the bigger part of the advertisement.

[2016-03-31 23:16] caprita opened #1267 "don't rely on GCE profile detection for prod services"
From discussion with @rthellend

We currently rely on querying a GCE service to find out if we are running on GCE or not. This has (rarely) failed for prod services, leaving them in a confused state.

Instead of relying on the auto-detection, we should have a flag to explicitly put a binary in 'GCE' mode. If querying the GCE service fails in that mode, the process should terminate.

[2016-04-01 23:26] afandria opened #1268 "JS-independent Browser Tasks"
- [x] Initial implementation (that doesn't require JS) [v.io/c/21191](https://v.io/c/21191)
- [ ] Customizable port/server
- [ ] Combine front and back ends with the debug binary
- [ ] Package these binaries/scripts into one downloadable bundle.

@aghassemi @asimshankar

Will hand off the task as needed.

[2016-04-02 13:37] aghassemi commented on #1268
Thanks Alex. I can take the rests of the tasks regarding integration with debug tool and do it as part of of Syncbase inspector integration work.

[2016-04-04 18:24] aghassemi opened #1269 "Can no longer install v23:base@4"
I think it is related to Go 1.6 changes. I needed go 1.5.1 so I tried installing base profile version 4 which has Go 1.5.1 (on a fresh JIRI_ROOT checkout) it fails trying to call `make.bash` to install Go. It is trying to call it in `go/amd_linux/560937434d5f2857bb69e0a6881a38201a197a8d/src/make.bash` but there is a `go-bootstrap` fonder between the `src` and `560937434d5f2857bb69e0a6881a38201a197

[2016-04-04 19:42] afandria commented on #1268
Sounds good to me!

[2016-04-04 20:17] bprosnitz commented on #1230
It seems there are a few approaches to solving this issue:
1. Ban aa/bb/cc.DdEe and aa/bb.CcDdEe both being defined. My fear with this is that we are now introducing the swift-specific dependency on filesystem hierarchy into general VDL. When building a package, you now need to be wary of other packages along the same filesystem hierarchy.
2. Add something to the generated name in swift to disting

[2016-04-04 20:37] #1032 closed, assigned to bprosnitz

[2016-04-04 23:03] AsturaPhoenix opened #1270 "Broken link on v23 godoc"
https://godoc.org/v.io/v23

The v23 link links to v.io/v23, which no longer has content. We should probably change it to github. Possibly:

https://github.com/vanadium/go.v23

[2016-04-04 23:37] afandria commented on #1230
Note: Mojom has also (recently) banned matching Field/Type names for similar reasons.

(Not sure about the package shadowing, but I don't like option 1's ban either.)

[2016-04-04 23:41] AsturaPhoenix commented on #1270
https://github.com/vanadium/docs in release.go.v23/README.md is broken too.

[2016-04-04 23:46] AsturaPhoenix commented on #1270
https://github.com/vanadium/docs => https://vanadium.github.io ?

[2016-04-04 23:54] asadovsky commented on #1270
Yes, https://github.com/vanadium/docs => https://vanadium.github.io

I'm not sure what controls the "v23" link on https://godoc.org/v.io/v23, but having that point to GitHub seems fine if it's possible to configure that.

[2016-04-05 01:30] AsturaPhoenix commented on #1270
I haven't figured out where the "v23" link is coming from yet either. For the others,
[topic: vanadium/docs -> vanadium.github.io](https://vanadium-review.googlesource.com/#/q/topic:%22vanadium/docs+-%253E+vanadium.github.io%22)

[2016-04-05 03:21] AsturaPhoenix commented on #1270
Both [v.io/v23](https://v.io/v23) and [github.com/vanadium/go.v23](https://github.com/vanadium/go.v23) are valid import paths for Vanadium.

While the Github import path naturally links to the Github repo, since v.io/v23 also serves the package and is the canonical import path for Vanadium, by default godoc expects the project URL to be v.io/v23.

It looks like we can override this by tweaking our

[2016-04-05 18:18] asimshankar commented on #1270
I see the github.com/vanadium/docs links are bad and should be replaced with https://vanadium.github.io/<something>

However, I'm confused about what's broken as far as the links to source code are concerned.
They seem to already link to the github code? For example, the links on the function names in https://godoc.org/v.io/v23#GetBackgroundContext take you to github.com/vanadium/<appropriate line

[2016-04-05 18:21] AsturaPhoenix commented on #1270
The first link in div#x-projnav, i.e. the first v23 in "v23: v.io/v23          Index | Files | Directories". Likewise for https://godoc.org/v.io/jiri and all our Godocs using the canonical import path.

[2016-04-05 18:24] asimshankar commented on #1270
Ah, I see. Thanks

[2016-04-05 20:58] AsturaPhoenix commented on #1270
Closed via https://vanadium-review.googlesource.com/#/c/21348/

[2016-04-05 20:58] #1270 closed, assigned to AsturaPhoenix

[2016-04-05 22:33] aghassemi commented on #1266
@rdvg FYI, we were just discussing this.

[2016-04-06 01:21] jxson commented on #1055
Just a heads up, I am abandoning my effort create a jiri profile for flutter. After a lot of trial and error I can no longer manually build flutter engine on Darwin successfully (might be related to upgrading to OS X 10.11.4).

I suggest waiting for flutter/flutter#1707 to be closed before proceeding (it will prevent the need to manually build flutter engine on Darwin).

[2016-04-06 01:29] afandria commented on #1055
https://github.com/flutter/flutter/issues/1707

Yeah, it's much nicer for the profile if we can just download the binaries for each target platform.

[2016-04-06 16:16] aghassemi opened #1271 "Syncbase Mojo: token2blessings soemtimes gets empty 200 response from https://dev.v.io/auth/google/bless"
`token2blessings` sometimes gets a 200 response with empty body from the bless http endpoint (https://dev.v.io/auth/google/bless). It is random but calling it 10 times sequentially will certainly reproduce the case.

[2016-04-06 16:18] aghassemi commented on #1271
Not sure yet if it is the Vanadium service itself returning empty body or mojo network_service is returning before reading all the response data. Investigating right now.
@asimshankar

[2016-04-06 16:46] aghassemi commented on #1271
Using Go's HTTP, I never get empty results, must be either Mojo's Network services or the way we are using it.

[2016-04-06 20:41] #1271 closed, assigned to aghassemi

[2016-04-07 18:01] ghost opened #1272 "Regression test needs realistic credentials"
https://vanadium-review.googlesource.com/#/c/21093/ broke backward compatibility with prod services.  This was not caught by the regression test because it only caused problems when clients had discharges, and the regression tests don't use realistic credentials.

We should have realistic credentials in the regression tests to prevent surprise failures like this.

@suharshs @rthellend

[2016-04-07 18:19] rthellend commented on #1272
When we first observed this problem, nothing was using third party caveats.

[2016-04-08 15:09] aghassemi opened #1273 "Remove https://browser.v.io until we have a hosted solution again"

[2016-04-08 16:53] caprita opened #1274 "appropriate presubmits should run for release.projects.browser changes"

[2016-04-08 17:03] aghassemi opened #1275 "Bring back the tests for Namespace Browser"

[2016-04-08 18:00] caprita opened #1276 "keep copyrightCheckProjects list in sync with set of projects with vanadium-copyright test"
There should be an exact match between the set of the projects listed under copyrightCheckProjects and the set of projects that have the vanadium-copyright test entry:
- if a project is in copyrightCheckProjects but doesn't have vanadium-copyright test listed under its project entry, then the project's presubmit does not verify the copyright header
- if a project has vanadium-copyright test but is

[2016-04-08 20:04] caprita commented on #1214
Made dir locking library work in a wider range of setups (v.io/c/21229, v.io/c/21248)

[2016-04-09 05:27] cosnicolaou opened #1277 "flaky test v::io/x/ref/test/testutil::TestRandSeed"
this just failed for me in a presubmit for an unrelated CL - it's another timeout.

v::io/x/ref/test/testutil::TestRandSeed [GoRace - linux,amd64]
https://dashboard.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Ftest%2Ftestutil&job=vanadium-go-race&n=23156&os=linux&part=4&suite=v.io%2Fx%2Fref%2Ftest%2Ftestutil&test=TestRandSeed+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

I'm assigning to Robin since I s

[2016-04-10 17:15] #1267 closed, assigned to rthellend

[2016-04-11 16:03] jhahn21 opened #1278 "discovery dart mojoapptests - timeout failure"
The dart mojo apptest frequently failed with timeout:

[code]

[2016-04-11 18:11] #1277 closed, assigned to rthellend

[2016-04-11 20:07] caprita commented on #1214
Step 4 done (v.io/c/21197)

[2016-04-11 22:58] afandria commented on #1278
This is probably the same thing as with v23proxy-integration where the Dart programs just fail to start up in Mojo Shell. #1226

Do you know how often the test fails locally?

[2016-04-11 23:19] jhahn21 commented on #1278
Yes, it seems to be the same.
No I couldn't see any failure locally.

[2016-04-11 23:30] jhahn21 commented on #1226
@afandria, didn't setting HOME to a temporary directory work?

[2016-04-12 00:59] jhahn21 commented on #1278
fyi: I'm trying to use 120s timeout to see if it still happens...

[2016-04-12 01:08] afandria commented on #1278
Good luck. =/ I think there's a hang/deadlock in Mojo Shell's network fetcher, so the timeout increase shouldn't make a difference.

[2016-04-12 01:33] afandria commented on #1226
It works to solve a different sort of hang (where two mojo shells can't start up because of a db lock), but it doesn't seem related to this failure because there were still hangs despite every shell getting its own unique HOME directory.

[2016-04-12 16:27] aghassemi commented on #1278
Upgrading mojo normally fixes these issues. I will do that after demos are done this week

[2016-04-12 18:04] razvanm opened #1279 "Re-enable TestV23Pprof"
In https://github.com/vanadium/build/issues/49 we disabled the TestV23Pprof test because is was flaky. We should figure out what was wrong and re-enable it. Assigning to @rthellend based on the https://github.com/vanadium/build/issues/49.

[2016-04-12 18:17] razvanm opened #1280 "Re-enable the testLameDuck from io.v.x.jni.test.fortune.FortuneTest"
In https://github.com/vanadium/build/issues/28 we disable the testLameDuck from io.v.x.jni.test.fortune.FortuneTest because is was flaky. We should figure out what was wrong and re-enable it.

[2016-04-12 18:30] razvanm opened #1281 "Re-enable the TestBadConnect from v.io/services/agent/internal/ipc"
In https://github.com/vanadium/build/issues/11 we disable the TestBadConnect from [services/agent/internal/ipc/ipc_test.go](https://github.com/vanadium/go.ref/blob/master/services/agent/internal/ipc/ipc_test.go) because is was flaky. We should figure out what was wrong and re-enable it.

[2016-04-12 21:07] jhahn21 opened #1282 "Add global discovery API to mojo dart client"

[2016-04-12 21:11] aghassemi commented on #1282
related #1278

[2016-04-13 00:00] razvanm opened #1283 "Relative paths support in v23agentd"
v23agentd doesn't seem to like relative paths. If a valid set of credentials exist in a path, point to them using either V23_CREDENTIALS or -v23.credentials will generate a zombie process v23agentd and show an error like the following (the relative paths used in this case was `./cred/me`):

[code]

[2016-04-13 20:30] ghost commented on #1257
Suharsh was going to fix this.

[2016-04-13 21:26] tatatodd commented on #455
@bprosnitz

Another option that Benj and I discussed is to generate the following code instead:

[code]

Usage looks like this:

[code]

The big disadvantage of this form is we've given up on type safety; i.e. if the user accidentally calls x.Bool() when the underlying field is a string, they'll get a panic; the compiler can't help them.  The advantages are:
1. Only experienced Go developers seem

[2016-04-14 00:39] nlacasse opened #1284 "watchStream.Cancel blocks when it should not"
According to the [documentation of Stream](https://godoc.org/v.io/v23/syncbase#Stream): `Cancel does not block.`  This behavior is necessary so that cancel `can  be called concurrently with a goroutine that is iterating via Advance.`

However, our implementation of `WatchStream.Cancel`  blocks.  It waits on a Lock that is also held by Advance(), and there is a TODO to fix it.

From v.io/v23/syncba

[2016-04-14 16:48] AsturaPhoenix commented on #889
Have we discussed whether this might be better server-side?

[2016-04-14 17:04] AsturaPhoenix opened #1285 "Syncbase Java - expose common interface for exists/create methods (and others)"
In Syncbase, Database and Collection share common exists/create/destroy methods and signatures but do not expose a common interface for those methods. A common interface would make a client-side create/exists easier to write (#889).

Additionally, there are some near misses that it might be worthwhile to make consistent:
- [Collection](https://vanadium-review.googlesource.com/#/c/21349/6/lib/src/m

[2016-04-14 17:05] aghassemi commented on #889
Well, for Cloud Syncbase, there will be tooling to create the structure based on some JSON/YAML config. For  Java/Dart/Swift Syncbase, considering we are moving toward a model where Syncbase is just an API to some embedded library code and there is no Syncbase service anymore, the line between client and server is blurred.

[2016-04-14 17:34] AsturaPhoenix commented on #889
It's blurred but it becomes whether it's implemented in Go behind JNI or in Java with two JNI boundary crosses and in other languages. It's neither that much logic nor that performance-critical but I figure we might as well think about it if it's going to be done somewhere.

[2016-04-14 22:32] nlacasse commented on #815
The data-dir attribute is now gone.

[2016-04-14 22:32] #815 closed, assigned to nlacasse

[2016-04-14 22:46] razvanm opened #1286 "Re-enable TestV23DeviceManager{Single,Multi}Use"
This tests were disabled in https://github.com/vanadium/build/issues/58.

[2016-04-15 17:06] #1278 closed, assigned to aghassemi

[2016-04-17 12:23] jeffallen opened #1287 "v.io/x/ref/lib/security/serialization docs are malformatted"
See https://godoc.org/v.io/x/ref/lib/security/serialization#NewSigningWriteCloser

[2016-04-17 18:27] jeffallen opened #1288 "VDL-generated Go files with errors have stray comment in godoc"
The generated files have this in them:

  //////////////////////////////////////////////////
  // Error definitions
  var (

That results in this line in the godoc output: "//////////////////////////////////////////////// Error definitions"

See for example https://godoc.org/v.io/x/ref/services/xproxy/xproxy

The fix is clearly just to simplify the template VDL uses for generating Go code and rege

[2016-04-17 20:37] anubhav-sri commented on #1250
any updates on it?

[2016-04-18 00:54] asimshankar commented on #1250
Hi @anubhav-sri - a quick fix for this hasn't been prioritized at this moment but we are working on reworking out bluetooth discovery stack to work on multiple platforms (linux with bluez, android, ios and osx).

If this is something that is of interest to you, we can consider reprioritizing. Would be curious to hear how you're using Vanadium. Thanks.

[2016-04-18 01:15] #1287 closed, assigned to nobody

[2016-04-18 03:24] tatatodd commented on #1288
Thanks for reporting this.  I'll take care of it; we're making lots of vdl/vom changes at the moment, and we'll get it in at some point.

[2016-04-18 16:42] caprita opened #1289 "reconsider generic runtime factory"
The generic runtime factory is currently crippled in a couple ways:
- it doesn't use the debug dispatcher
- it doesn't contain the cloud configuration logic

Would there be any practical situation where we'd want the generic profile over the roaming profile?

[2016-04-18 16:56] caprita opened #1290 "improve error reporting for endpoints passed as object names"
If the user passes an endpoint (without a preceding slash) to a tool that expects an object name, the namespace client will attempt to resolve the endpoint as a name against its default mounttable server. We should perhaps recognize that the name looks remarkably like an endpoint and point that out to the user. We could also consider automatically interpreting the name as an endpoint if it parses

[2016-04-18 23:05] afandria opened #1291 "TODOs: Sharing Mechanism"
The TODOs application needs a sharing mechanism in order to allow other users to see and interact with the lists an owner has created.

@afandria @AsturaPhoenix @aghassemi

[2016-04-18 23:07] afandria opened #1292 "TODOs: Syncbase Integration"
The current version of TODOs relies on a Firebase backend, but it should be replaced by Syncbase.

@afandria @AsturaPhoenix

Note: As a followup, we will want to collaborate with @aghassemi to define a simpler, higher-level API for working with Syncbase on Android.
- [x] Refactor model to extract persistence POJOs from app data types
- [x] Syncbase as a singleton
- [ ] Move key generation utilitie

[2016-04-18 23:09] afandria opened #1293 "TODOs: Missing UI Interactions"
Other than sharing (#1291), we are missing these features:
- [x] Swipe Right on a TodoList to mark all Tasks as done
- [x] Updating the "last updated" time for a TodoList (in-progress)
- [x] Showing the Num Completed vs Num Tasks for a TodoList (in-progress)

@afandria @AsturaPhoenix

[2016-04-18 23:13] afandria opened #1294 "TODOs: UI Polish"
Our app's UI should be polished. This can include:
- [ ] More concrete mocks/visuals
- [ ] Color/theme decisions
- [ ] App icons and other assets

This is lower priority until we complete more of the other TODOs issues. For now, @jxson is looking into this, since it also applies to the Flutter version of TODOs.

@afandria @AsturaPhoenix

[2016-04-18 23:15] asimshankar commented on #1289
I don't think there is a good reason to have the generic runtime factory anymore, I will find out if there is while removing it from the codebase

For the record, my plan is the following:
- [ ] Replace all uses of the "generic" runtime factory with "roaming" in the codebase
- [ ] Renaming the roaming factory to "cmdline" or something, signaling that it is meant to be used by "command line" applic

[2016-04-19 00:28] afandria opened #1295 "TODOs: Model Refactor/Renames"
We currently use Task and TodoList, but the latter is actually untied to the Tasks it owns. We can rename it to ListMetadata. (This can affect how we write our VDL, so I've assigned it to @AsturaPhoenix )

@afandria

[2016-04-19 00:40] afandria opened #1296 "TODOs: Time "ago" will be stale"
We are letting it remain stale for now, but we can choose a couple paths:
- Obscure its staleness by using low granularity when saying "time ago".
- Have a thread on the side to occasionally invalidate the views and force a refresh.

@afandria @AsturaPhoenix @jxson

[2016-04-19 01:11] afandria opened #1297 "TODOs: Build Tests"
We have two build variants (Firebase and Syncbase), which are developed separately but should both build correctly. We should add build tests to ensure that this happens.

@afandria @AsturaPhoenix

[2016-04-19 01:22] afandria opened #1298 "TODOs: notifyDataSetChanged => notifyDataItemChanged(int position)"
http://developer.android.com/reference/android/support/v7/widget/RecyclerView.Adapter.html#notifyItemChanged(int)

Wherever possible, I should make these swaps for the RecyclerView. In most cases, we can easily tell that a single position has changed, so it's easy to do this. This should be possible for all cases such as insertion, deletion, and changes, though the notify method called will vary.

[2016-04-19 02:19] caprita commented on #1289
'cmdline' may be too suggestive of a command-line tool, though I am at a loss for a better name.

That said, 'roaming' and 'android' are very similar in implementation; should the factories really be about OS-es? Or more about functionality? Why shouldn't the 'roaming' profile also be used for android apps? So e.g. a given main.go can import the 'roaming' profile, but then we can build that binary

[2016-04-19 13:39] qsr opened #1299 "Bootstrapping instructions for jiri fails:"
When I execute the bootstrapping instructions for jiru, I get an error. Here the transcript of what I am doing:

bleys /tmp $ export MY_ROOT=/tmp/jiri
bleys /tmp $ curl -s https://raw.githubusercontent.com/vanadium/go.jiri/master/scripts/bootstrap_jiri | bash -s "$MY_ROOT"
Please add /tmp/jiri/.jiri_root/scripts to your PATH.
bleys /tmp $ export PATH="$MY_ROOT"/.jiri_root/scripts:$PATH
bleys /tmp

[2016-04-19 15:37] jxson commented on #1296
I think a day granularity should be adequate for now; "Today", "Yesterday", "x days ago" seem reasonable to me...

[2016-04-19 16:31] caprita opened #1300 "jiri go env stopped working"
"jiri go env" used to run "go env" under the jiri environment, and was a useful way to see what env settings the jiri tool made. Today, running "jiri go env" returns nothing.

If you run "jiri go help" you see the help from the go tool, including the "env" command. If we have a good reason to hide the "go env" command when running under jiri, we should at least edit the help message to avoid confu

[2016-04-19 17:51] tatatodd commented on #1300
+1 I noticed this too, but didn't have time to dig into it.

Here's some examples of stuff I've tried:

[code]

[2016-04-19 18:00] jhahn21 commented on #1300
+1. But when specifying an env variable, it prints out.

[code]

[2016-04-19 18:02] caprita commented on #1300
fyi, @cosnicolaou just put a cl out to fix this:
https://vanadium-review.googlesource.com/#/c/21730/

[2016-04-19 18:12] razvanm opened #1301 "BlessingsManager.getBlessings leaks the Activity argument"
The _io.v.android.libs.security.BlessingsManager.getBlessings_ currently requires an _Activity_ argument and, as far as I can tell, it hold to it beyond the duration of the call. This is problematic because _Activities_ are recreated when a device is rotated.

CC: @yyoon @AsturaPhoenix @afandria @aghassemi

[2016-04-19 21:15] ivanpi-mtv opened #1302 "vmon failure when a single replica times out"
Caused [monitoring-data-collector/413158](https://veyron.corp.google.com/jenkins/job/monitoring-data-collector/413158/) failure, see [build issue 74](https://github.com/vanadium/build/issues/74)

[2016-04-19 21:23] nlacasse commented on #1300
fixed by https://vanadium-review.googlesource.com/#/c/21730/

[2016-04-19 21:23] #1300 closed, assigned to cosnicolaou

[2016-04-19 21:52] jinjingforever commented on #1302
Should be fixed by v.io/c/21739

[2016-04-19 21:52] #1302 closed, assigned to jinjingforever

[2016-04-19 23:29] tatatodd commented on #1288
Fixed by https://vanadium-review.googlesource.com/#/c/21736

[2016-04-19 23:29] #1288 closed, assigned to tatatodd

[2016-04-20 01:01] AsturaPhoenix commented on #1292
- [ ] VDL modeling - in progress

[2016-04-20 01:03] AsturaPhoenix commented on #1292
- [ ] VDL modeling - in progress
- [ ] Syncbase as a singleton
- [ ] Syncbase as a service (in vanadium-android) (non-MVP)

[2016-04-20 01:05] AsturaPhoenix opened #1303 "TODOs: Move from release.java/projects/todos to release.projects.todos"
The non-boilerplate contents of release.projects.todos will be replaced by this operation, as the current content is the unmaintained Javascript version and a Java stub.

[2016-04-20 01:20] #1298 closed, assigned to afandria

[2016-04-20 17:40] AsturaPhoenix commented on #1292
For VDL modeling, we could:
- Add a data abstraction layer for the app data model which can interop with both the Firebase Jackson POJOs and the Syncbase VDL-generated classes.
- Force the two models to have identical signatures. This may reflect the simplest path when only dealing with one of Firebase or Syncbase, but it's brittle and generally discouraged engineering (for non-Android cases?).
-

[2016-04-20 17:45] #1303 closed, assigned to AsturaPhoenix

[2016-04-20 18:04] aghassemi opened #1304 "Syncbase/Mojo issues with Go 1.6"
Syncbase built with Go 1.6 and Mojo Profile 12 encounter random heap corruption and similar errors.

[code]

[code]

There seems related to CGO and mojo_cgo.

[2016-04-20 18:11] aghassemi commented on #1292
Any reason to keep the Firebase part? For simplicity of the example, I also recommend against VDL and rather see using pure POJO (and possibly switch to JSON when support comes). We would want this TODO to interact with the Swift TODO later, starting with POJO and switching to JSON seems the right approach as VDL support is not planned for Swift at all.

[2016-04-20 18:16] #1295 closed, assigned to AsturaPhoenix

[2016-04-20 20:43] AsturaPhoenix commented on #1292
I didn't know we supported POJO serialization. Firebase supports POJO serialization too, so let's just use that.

Keeping Firebase is a nice a/b example to help with onboarding.

I'm still going to add the abstraction layer because while working on it I've come across additional fuzz points that are made clearer by separating app types from serializable POJOs. I'll include you on the review; we ca

[2016-04-20 20:53] fredquintana commented on #1292
I am in the process of making POJO serialization easier to use in Java, but
it should already work as-is.

Also there is nothing stopping us from using POJO on the android side and
JSON on the swift side, right?

-fred

On Wed, Apr 20, 2016 at 1:43 PM, Ross Wang notifications@github.com wrote:

[2016-04-20 20:59] afandria commented on #1293
Done

[2016-04-20 20:59] #1293 closed, assigned to afandria

[2016-04-20 21:14] caprita commented on #1283
Leftover zombie taken care of by: https://vanadium-review.googlesource.com/#/c/21679/
Relative path issue take care of by: https://vanadium-review.googlesource.com/#/c/21701/

[2016-04-20 21:14] #1283 closed, assigned to caprita

[2016-04-20 22:35] aghassemi commented on #1292
Without Schema support, deserialization from JSON generated VOM bytes to POJO will not happen automatically (since without Schemas, the VOM generated from JSON would be bunch of map<String,Any> and POJO deserializer will expect a struct (Conversion between map and struct was something we were doing but plan is tp drop support now). With Schema support, the JSON->VOM conversion would have been smar

[2016-04-20 22:55] tatatodd commented on #1238
Fixed by https://vanadium-review.googlesource.com/#/q/topic:toddw-vdl_transexport

The new rules are that T and all subtypes of T must be exported, where T is defined as...
1. All exported types T.
2. All exported consts C, with final type T after evaluation.  There is no restriction on intermediate expressions, only the type of the final value matters.
3. All interfaces I with methods M and in/ou

[2016-04-20 22:55] #1238 closed, assigned to tatatodd

[2016-04-21 03:10] afandria commented on #1297
I've added this to Jenkins. (Though we should consider adding more unit and app tests.)

[2016-04-21 03:10] #1297 closed, assigned to AsturaPhoenix

[2016-04-21 19:25] nlacasse commented on #1299
@qsr Sorry, the command should be: `jiri import -name=manifest minimal https://vanadium.googlesource.com/manifest`

I'll update the jiri README.

[2016-04-21 19:26] nlacasse commented on #1299
v.io/c/21805

[2016-04-21 19:26] #1299 closed, assigned to nobody

[2016-04-22 10:08] AsturaPhoenix commented on #1292
There is an [a-zA-Z0-9][a-zA-Z0-9_]\* restriction on collection names.

At present, watch only exposes a VdlStruct. Get can properly deserialize the POJO given the Type, but there doesn't seem to be a way to do this for watch. We can get around this by re-encoding the VdlStruct and then decoding passing ListSpec, but is there a more direct way? Ideally this would be doable in WatchChange or specif

[2016-04-22 16:26] aghassemi opened #1305 "Syncbase: Java: WatchChange.getValue() should take an optional type arg"
Currently `WatchChange.getValue` does not take a type arg which means if value was from a VDL generated type, which are registered by default, it gets deserialized correctly but if it came from POJO reflection and type was not registered manually, then it will deserialize to a VDLValue.

@AsturaPhoenix @fredquintana

[2016-04-22 16:26] aghassemi commented on #1292
@AsturaPhoenix mmm with regards to POJO, there might be an API to register the POJO type so that  WatchChange.Value would be an instance of it automatically. Whether this registering mechanism exist or not, it obviously is not discoverable/easy to use. WatchChange.getValue shoudl take `type` https://github.com/vanadium/issues/issues/1305

[2016-04-22 19:55] AsturaPhoenix opened #1306 "TODOs: Minimize non-interface Firebase/Syncbase dependency injection"
Right now, PersistenceFactory has four methods but no interface governing it. We should turn it into a PersistenceSystem interface and possibly move the static initialization into it.

[2016-04-22 20:01] AsturaPhoenix opened #1307 "Java VDL by reflection has backwards asserts"
[io.v.v23.vdl.Types line 542](https://vanadium.googlesource.com/release.java/+/027a77fd8384741b58c6c2514e6cfe8a18d21ecc/lib/src/main/java/io/v/v23/vdl/Types.java#542) has assertions that protect against trying to VOM-encode lists, sets, and maps without generic information, but they are backwards. The similar conditions to handle types with generics on line 518 are correct.

[2016-04-22 20:34] AsturaPhoenix opened #1308 "BlessingsManager.getBlessings progress dialog is cancellable"
The blessings manager progress dialog can be dismissed by touching outside of it. This does not have any effect on the application but to dismiss the progress dialog--the task continues.

The most straightforward solution would be to make the dialog not cancellable, though better UX might be to throw the user back to the account chooser or allow an app-specific handler.

[2016-04-22 20:57] AsturaPhoenix opened #1309 "BlessingsManager.getBlessings cannot fetch new blessings while in the middle of another AsyncTask by default"
http://stackoverflow.com/questions/4068984/running-multiple-asynctasks-at-the-same-time-not-possible/4072832#4072832

By default in early and late versions of Android, only one AsyncTask is allowed to run at a time.

Since blessing fetching is fairly compartmentalized, it makes sense to give it an executor that allows other tasks to run as well. Otherwise, a simplification pattern where for exampl

[2016-04-22 20:59] tatatodd commented on #1307
@fredquintana was looking into similar issues

[2016-04-22 21:38] caprita commented on #1286
Re-enabled by https://vanadium-review.googlesource.com/#/c/21846/

[2016-04-22 21:38] #1286 closed, assigned to caprita

[2016-04-22 21:45] caprita commented on #1290
Done by:
https://vanadium-review.googlesource.com/#/c/21790/
https://vanadium-review.googlesource.com/#/c/21784/

Before:
`vrpc signature @6@wsh@...@@@/suffix
ERROR: Signature failed: vrpc:<rpc.Client>"@6@wsh@...@@@/suffix".ResolveStep: Timeout: [remote=@6@@ns.dev.v.io:8101@@193de184610f763bcfd8237062016b16@m@dev.v.io:role:vprod:service:mounttabled@@: vrpc:<rpc.Client>"@6@wsh@...@@@/suffix".Resolv

[2016-04-22 21:45] #1290 closed, assigned to caprita

[2016-04-22 21:45] AsturaPhoenix commented on #1292
@aghassemi @fredquintana Looks like it gets worse. While the initial "scan" of the watch (with no resume marker) gives us the VdlStructs, any subsequent changes in the watch stream seem to actually produce the POJO, almost like we'd want, except it terminates the watch with ClassCastException as it can't convert the POJO to VdlAny for WatchChange because it's not Serializable.

This can be hacked

[2016-04-22 21:46] AsturaPhoenix commented on #1292
I have also observed that sometimes the initial scan also produces the POJO as-is--it's not entirely clear what the cause is.

[2016-04-22 21:52] AsturaPhoenix opened #1310 "Syncbase: Java: Watch stream terminates with ClassCastException sometimes when values are not Serializable."
While the initial "scan" of the watch (with no resume marker) often us the VdlStructs, it and subsequent changes in the watch stream can sometimes actually produce the POJO, almost like we'd want, except it terminates the watch with ClassCastException as it can't convert the POJO to VdlAny for WatchChange because it's not Serializable.

This can be hacked around by making the POJOs Serializable an

[2016-04-22 21:52] AsturaPhoenix commented on #1292
#1310

[2016-04-22 22:03] fredquintana commented on #1292
This isn't surprising since I haven't implemented
https://docs.google.com/document/d/1Tibgsk1Rxhr0rJ8KFeVerQbr_HNw16QhN_7suLNG_DE/edit
yet. I am collecting final comments on it now and will implement it
immediately after, hopefully next week.

On Fri, Apr 22, 2016 at 2:45 PM, Ross Wang notifications@github.com wrote:

[2016-04-22 23:41] #1282 closed, assigned to aghassemi

[2016-04-25 22:41] aghassemi opened #1311 "Syncbase: Dart Scan is slow"
35 seconds for scanning a collection that has 11,000 rows (total 5M data, 2M keys, 3M values)

[2016-04-26 00:57] AsturaPhoenix opened #1312 "Batch.runInBatch threading policy is a bit unnatural"
Batch.BatchOperation executes on the main thread and returns a ListenableFuture<Void> that should not complete until all batched operation shave been complete. That is, the returned ListenableFuture<Void> should be the asList(...).transform(x -> null) of all operations int he batch.

However, the ListenableFuture API makes asList(...).transform(x -> null) quite cumbersome; it really looks more lik

[2016-04-29 18:25] afandria commented on #1266
When creating a syncgroup (or sometimes joining one) in Java, I see this exception (BadAdvertisementException) happen frequently, but not every time. Luckily, it is not too hard to catch and doesn't prevent actual syncgroup creation/joining.

@jhahn21 : The error message doesn't say what the advertisement was, the maximum size, and the actual size. It would be helpful to include this information.

[2016-04-29 18:29] jhahn21 commented on #1266
Do you mean adding the maximum size in error message like "too large - maximum size is xxx"?

[2016-04-29 18:33] afandria commented on #1266
Something like that would help developers out, yes.

"advertisement too large - was XXX, max YYY"

Suggesting that they use attachments could help too.

[2016-04-29 20:33] ghost opened #1313 "Tighten discharge expiry"
Currently discharges expire after 15 minutes.  This makes things dicey for demos that last longer that 15 minutes offline, or start cold in an offline state.  We have discussed interesting solutions to this problem including treating discharges differently when in online vs. offline state.  Perhaps having the runtime fetch discharges even when no servers are initialized, or fetching discharges for

[2016-04-29 21:29] ghost commented on #366
This has not been a real problem in practice.  I'm closing.

[2016-04-29 21:29] #366 closed

[2016-04-29 21:34] ghost commented on #566
Vrun is gone.

[2016-04-29 21:34] #566 closed

[2016-04-29 21:47] ghost commented on #9
This hasn't been necessary.

[2016-04-29 21:47] #9 closed

[2016-04-29 21:49] ghost commented on #869
Mojo RPC interrop is not going to be a priority for the foreseeable future, and using RPC from Mojo works fine for prototyping without it.  I'm going to close this bug until such time as Mojo is revived as a priority.

[2016-04-29 21:49] #869 closed, assigned to nobody

[2016-04-29 21:50] ghost commented on #2
I never determined a useful way to combine these.  I'm going to close this bug.

[2016-04-29 21:50] #2 closed

[2016-04-29 21:53] ghost commented on #446
We have a plan that would replace logging, vtrace, and logcall into one system.  However it is not currently a priority to implement it:

https://docs.google.com/document/d/1-butkYedwzi6HWybMROvTQ68zigmZ3qGupxM9HFdqlg/edit#heading=h.wi7am98dudks

I don't think we'll add this to the existing system, so we're not going to do the specific thing mentioned in this bug.  I'm closing it.

[2016-04-29 21:53] #446 closed

[2016-04-29 21:55] ghost commented on #472
This never came up again.  For now if someone wants this level of control, they can resolve a name manually before making an RPC call.

[2016-04-29 21:55] #472 closed

[2016-04-29 22:05] ghost commented on #1061
I'm going to close this for now.  We don't have immediate plans to do more RPC integration work with Mojo.

[2016-04-29 22:05] #1061 closed, assigned to nobody

[2016-04-29 22:26] ghost commented on #847
@asimshankar Can you verify that this is still the case?

[2016-05-02 18:16] afandria opened #1314 "Panic on first GetDeltas after Join Syncgroup"
Reproduction Steps:
- There are 3 syncbases in this scenario. A, B, and Cloud.
- A, B, and Cloud all create the same database.
- A creates a collection and creates a syncgroup referring to Cloud. (no errors)
- B waits a short duration (so that the cloud is guaranteed to be in the syncgroup) and then joins the syncgroup. (no errors)
- Shortly after, GetDeltas is performed on B, and B's syncbase cra

[2016-05-02 18:27] afandria opened #1315 "panic: runtime error: cgo argument has Go pointer to Go pointer"
I think this could be related to Go 1.6 changes being stricter about when you can have Go pointers to Go pointers. (For example, https://github.com/go-gl/gl/issues/31)

My Syncbase (on Android) crashes and restarts arbitrarily. Here are a few stack traces that I've collected.

This one is flow/signing related:

[code]

Another one, related to vom/vdl:

[code]

And another one for client RPC:

[cod

[2016-05-02 18:30] afandria commented on #1266
FYI, we determined Friday that in `CreateSyncgroup`, the cloud instance will fail to join the syncgroup if the advertisement is too large. The reason is that `CreateSyncgroup` errors on the `advertiseSyncbase` step before it can begin the `publishSyncgroup` step.

To workaround this, we can either discriminate better in syncbase whether or not the advertise error matters, optimize our advertisemen

[2016-05-02 18:40] afandria opened #1316 "Join Syncgroup: Needs Retry Helper"
JoinSyncgroup does not appear to retry even in cases where the joiner has a reasonable expectation that the syncgroup will exist.

We have recently been discussing the use of a meta-level syncgroup that a user's devices join to share app-specific syncgroups that every device should join. In constructing an example of this syncgroup, I noticed that join could be better if we had a version that retr

[2016-05-02 18:47] afandria opened #1317 "Syncbase Java: Skip Publish in NB param not exposed"
`syncbased` has `-skip-publish-in-nh`, but Java does not. There may be a few other features we wish to expose in Java Android like `dev` mode.

@afandria @aghassemi

[2016-05-02 20:00] afandria opened #1318 "TODOs: Startup time for Syncbase is too slow"
We do a lot of stuff when starting up the Syncbase Persistence, which blocks the app from starting.

@AsturaPhoenix @afandria

[2016-05-02 20:22] ivanpi-mtv commented on #1316
This is related to syncgroup auto-merge. Once/if we have auto-merge, the proper solution for syncgroups with well-known names (such as all user's devices) is create if join fails. This way, isolated offline groups can start syncing and merge into one syncgroup when they're back online.

Join retries are still helpful, especially for non-auto-mergeable syncgroups (e.g. uuid names), as well as until

[2016-05-02 21:09] AsturaPhoenix commented on #1318
We should instrument this and separate out Vanadium init and Syncbase startup.

[2016-05-02 21:44] AsturaPhoenix commented on #1315
@sjamesr took a quick look and says there was a similar situation before where unsafe.Pointer was being used to store some kind of offset that wasn't actually a pointer. He also found possibly relevant https://groups.google.com/forum/#!searchin/golang-nuts/cgo$20argument$20has$20Go$20pointer$20to$20Go$20pointer/golang-nuts/gnH0nhPf36I/4Shly3gxEwAJ

[2016-05-02 22:01] asadovsky commented on #1315
+cc @asimshankar @tatatodd @mattr-google

Per some discussions this morning, we plan to completely redo the Java->Syncbase bridge implementation (no more local RPCs; Java will talk directly to the Syncbase C/Cgo API via JNI), at which point we will no longer use the existing bindings. This issue should get resolved as a consequence of that. So, unless this is urgent, let's hold off on trying to fi

[2016-05-02 22:01] asadovsky commented on #1318
My comment in #1315 may be relevant to this as well.

[2016-05-02 22:15] ghost commented on #1315
I looked a little, and came up with nothing.  I like Adam's thinking.

[2016-05-02 22:16] afandria commented on #1315
The crash occurs only every once in a while, so the app is mostly usable. We can wait.

[2016-05-02 23:18] tatatodd opened #1319 "Java release process is very questionable"
@sjamesr @spetrovic77

The java release process is documented here:
https://github.com/vanadium/java/blob/master/RELEASING.md

It's unclear what permissions are required to perform some of these steps.  Specifically, I'm trying to release a new version of the vdl gradle plugin.

[code]

James and/or Srdjan - can one of you transfer all admin rights that we might need over to one of us?  Or perhaps

[2016-05-02 23:23] yyoon commented on #1319
@AsturaPhoenix might have the permissions.

[2016-05-02 23:33] sjamesr commented on #1319
The releasing instructions provide information for how to get all necessary permissions for performing a release. What's missing is probably the following one-time setup:
- Go to https://bintray.com/profile/edit (sign in if necessary)
- Generate an API key, copy it to `$HOME/.gradle/gradle.properties`. The file should look like

[code]

[2016-05-02 23:39] tatatodd commented on #1319
Awesome, that works, thanks!

I'll update the release instructions.

[2016-05-02 23:42] sjamesr commented on #1319
Just sent you a CL to do that :)

On Mon, May 2, 2016 at 4:39 PM, Todd Wang notifications@github.com wrote:

[2016-05-03 00:16] tatatodd commented on #1319
I managed to push a new version 1.7 out to JCenter / bintray:

https://bintray.com/vanadium/io.v/gradle-plugin/1.7/view?sort=&order=#files/io/v/gradle-plugin/1.7
https://jcenter.bintray.com/io/v/gradle-plugin/

I followed the instructions to push out to Maven Central, which says it succeeded about 30 minutes ago:

https://bintray.com/vanadium/io.v/gradle-plugin/1.7/view?sort=&order=#central

But t

[2016-05-03 00:27] AsturaPhoenix commented on #1319
iirc, Maven Central can take significantly longer to be live. I'd give it a day. It's quite possible we just never published versions 1.0-1.6

If you're concerned about linking, Maven Central is [searchable](http://search.maven.org/#search%7Cga%7C1%7Cio.v%20gradle-plugin).

[2016-05-03 00:32] spetrovic77 commented on #1319
We mostly didn't bother publishing to Maven, because it takes longer and our Java code depends on jcenter(), which gets data from bintray.

[2016-05-03 00:47] afandria opened #1320 "TODOs: Userdata collections are cross-shared"
I spoke to @rdvg about this, and it might be a temporary bug caused by the migration from the old sync to new sync protocol.

Scenario:
- Email A and Email B are using this app. There is also a cloud.
- Email A creates its user data collection and creates a syncgroup pointing to the cloud.
- Email B also creates its user data collection and creates a syncgroup pointing to the cloud. The database a

[2016-05-03 01:08] ghost commented on #1315
Also, this error probably could be ignored in go1.6 since the collector isn't actually moving.  We could consider setting GODEBUG=cgocheck=0 to simply silence the error to reduce immediate pain.

[2016-05-03 01:19] sjamesr commented on #1319
@spetrovic77 is right, 1.7 just appeared at http://repo2.maven.org/maven2/io/v/gradle-plugin/

Some of us weren't always publishing to Maven Central

[2016-05-03 01:19] #1319 closed, assigned to tatatodd

[2016-05-03 01:21] afandria commented on #1315
Is that a flag we can set while compiling all the Vanadium binaries? For example,
`GODEBUG=cgocheck=0 jiri go install v.io/...`

[2016-05-03 15:38] jhahn21 commented on #1266
fyi: updated error messages as requested.

[2016-05-03 18:16] ghost commented on #1315
Sadly no, it's an environment variable you have to set at run time.  I'm not sure how to do that in Android.  Maybe if you do set the variable in you java code before you load the vanadium .so it will work.

[2016-05-03 22:00] afandria commented on #1320
A slightly better workaround in the short term is to use CollectionFromId (or something similarly spelled) so that I can manually pass in the blessing portion of the collection id

[2016-05-03 22:33] afandria opened #1321 "Syncbase Java: Should include helper for modifying Permissions"
When sharing a collection with somebody else, you need to do two things:
- Give read access to the syncgroup
- Give read (and possibly write) access to the collection

Go has a helper that assists in modifying Permissions (See `release/go/src/v.io/v23/security/access/acl.go`)

[code]

but the equivalent helper does not exist in Java. The Permissions in Java is a Map<String, AccessList> and each Ac

[2016-05-03 23:31] asadovsky commented on #1320
In the Go API, database has a "CollectionForId" method that does exactly what you want.
Does Java not have that? It should; it's part of the low-level API.

[2016-05-03 23:51] afandria commented on #1320
We do have it. It's also on Database as `public Collection getCollection(Id collectionId)`.

[2016-05-05 20:25] afandria opened #1322 "Syncbase: Collection "invalid name" Error message unclear"
I attempted to use the "collectionForId" solution to #1320, but hit this error.

`Create: invalid name: v.io:a:xyz,db/dev.v.io:o:608941808256-43vtfndets79kf5hac8ieujto8837660.apps.googleusercontent.com:ttttttttttttttttttttttv@gmail.com,userdata`

The issue with the invalid name is probably that it's too long. `util/util.go` lists the allowed length at 64 (so it seems that our hack of `dev.v.io:u:s

[2016-05-05 20:26] afandria opened #1323 "Syncbase: App-Blessing + Database-Name combination may be too long"
@ivanpi-mtv says that the combination is used to define folders on the filesystem. We may want to use a hash since the App-Blessing isn't restricted in length.

[2016-05-06 20:28] hpucha commented on #1314
This crash is related to failed neighborhood advertisements. Since the advertisements fail, join doesn't finish the rest of the initialization and returns early, resulting in the crash.

https://vanadium-review.googlesource.com/#/c/22220/ fixes the init order and should be able to handle failed advertisements with out this panic in the future. However, if the advertisements succeed, you should not

[2016-05-06 22:01] hpucha opened #1324 "Retry behavior for advertising"
Should the advertising libraries bail when they can't advertise or just wait for changes to the network and retry?

[2016-05-06 22:35] #1314 closed, assigned to nobody

[2016-05-06 22:51] ivanpi-mtv commented on #1323
Solved in v.io/c/22198 and v.io/c/22200
Blessing limit bumped to 1024, hash used in folder name so it can be relaxed further or removed if needed.

[2016-05-06 22:51] #1323 closed, assigned to ivanpi-mtv

[2016-05-06 22:53] ivanpi-mtv commented on #1322
Solved in v.io/c/22198 and v.io/c/22200
Invalid name errors should now be more specific.
Length bumped up as per #1323

[2016-05-06 22:53] #1322 closed, assigned to ivanpi-mtv

[2016-05-06 23:04] asadovsky opened #1325 "syncgroup id hashing security vulnerability"
@hpucha @fredquintana @rdvg
Noticed while reviewing https://vanadium-review.googlesource.com/#/c/21843

Pasting code review comment below:

---

By the way, I think there's a security vulnerability here - a malicious user could potentially create names/blessings that result in a hash collision with some other app.

For example, consider app with dbId={name:"a", blessing:"b"}, sgId={name:"cde", ble

[2016-05-07 00:45] hpucha commented on #1325
We will use separators for each of the components and hash that string
notation. So this shouldn't be a problem.

On Fri, May 6, 2016 at 4:04 PM, Adam Sadovsky notifications@github.com
wrote:

[2016-05-07 00:56] asadovsky commented on #1325
Perhaps I'm missing something, but as far as I can tell this problem still exists in the code - in which case the issue should remain open. (Issues should only be closed when the reported problems have been fixed, or when marking "wontfix".)

Re-opening the issue under the assumption that it was closed accidentally.

[2016-05-07 01:01] asimshankar commented on #1324
See TODO added in https://vanadium-review.googlesource.com/#/c/22220/ for reference

[2016-05-07 01:06] asadovsky commented on #1325
Chatted offline with Bindu. This issue is actually introduced by the CL (https://vanadium-review.googlesource.com/#/c/21843); it didn't exist previously (since previously we'd been using syncgroup names, which were vanadium names).

So, closing this issue, but the problem should be addressed in the CL ( @fredquintana )

[2016-05-07 01:06] #1325 closed, assigned to fredquintana

[2016-05-09 07:56] asimshankar commented on #847
There are still a few tests that seem to be doing this, I will add sorting them out to my TODO list.

Assigning to myself since I seem to use OS X way more often than @mattr-google

[2016-05-10 23:10] nlacasse commented on #1253
I think I'm running into a similar issue.  On my longevity-test machine, after a certain amount of time, the mounttable stops accepting new connections.

`lsof` shows that leveldb has 9800 open file descriptors, which I suspect is starving the mounttable of file descriptors.

[code]

[2016-05-11 00:48] afandria opened #1326 "Syncbase: Syncgroup Create should call PublishSyncgroup asynchronously"
With the new API, we no longer are dependent on a cloud instance to create a syncgroup. This allows us to be a lot more offline-oriented. So in the scenario where we want to sync a new syncgroup between offline devices we want CreateSyncgroup to be fast.

The holdup is that we currently block in CreateSyncgroup until PublishSyncgroup completes. When offline, a device will still take the standard t

[2016-05-11 16:09] kenashcraft commented on #1253
@caprita, do you have time to debug this issue?  Please coordinate with Nick.

[2016-05-11 16:12] nlacasse commented on #1253
I just submitted v.io/c/22328, which sets the default maximum open files to 100.  Hopefully that will fix this issue.

I'm running another set of tests now, and if they pass, I'll close this issue.

[2016-05-11 16:25] caprita commented on #1253
Sounds like Nick has fixed the issue with leveldb. At the same time, we should consider increasing the file descriptor cap on the VMs we use to run syncbased. Perhaps not for the longevity tests (since we want to catch issues like this there), but for the application @jinjingforever is writing. IIRC, for our gke VMs, the limit is 1M

[2016-05-11 23:20] asimshankar commented on #1269
I'm going to close this out for now, with no real intention of getting things to work with Go 1.5.

Please let me know if you disagree :)

[2016-05-11 23:20] #1269 closed, assigned to asimshankar

[2016-05-11 23:21] asimshankar commented on #597
Closing this out as no further action is intended

[2016-05-11 23:21] #597 closed

[2016-05-12 16:02] nlacasse commented on #1253
My leveldb fix doesn't seem to have worked.  I just ran another test with max_open_files set to 100, and I see this in my logs after about 10 hours:

[code]

[2016-05-13 19:23] afandria commented on #1318
It's much faster now and will be even faster if we stop attempting to contact the cloud during startup.

[2016-05-13 19:24] afandria opened #1327 "TODOs: First run crashes if no internet"
We crash if we fail to obtain blessings. Usually, it is a network error.

@AsturaPhoenix @asimshankar

[code]

[2016-05-13 19:35] afandria opened #1328 "Discovery: Advertisement with visibility crashes due to lack of crypter (Java)"
Spoke with @jhahn21 and it looks like we need to initialize discovery with a crypter or something.

Error Message:

[code]

Issues:
- the error message is opaque. The real problem is that crypter was nil (the line that failed was `c.mu.RLock()`, but the error should be caught much earlier.
- We need to initialize a crypter; how do we do that? Is this documented?

@asadovsky @aghassemi This must be

[2016-05-13 23:37] asadovsky commented on #886
FYI, mrschmidt@google plans to work on this.
Marking as unassigned since he doesn't yet have a GitHub account.

[2016-05-13 23:51] eobrain opened #1329 "Add collection details to Syncbase Viewer in ‘Debug’ Tool"
- [x] Show total size of keys and total size of values of collection (not counting blobs). Show number of rows.
- [ ] Show list of peers for each collection.
- [x] Display paginated list of all keys.
- [x] Display value of any key,

[2016-05-13 23:56] eobrain commented on #1329
http://v.io/c/22242 submitted, implementing Collections page and summary size information.

[2016-05-14 00:09] eobrain opened #1330 "Collect stats from LevelDB storage backend of Syncbase"
- [ ] Expose in Go the "leveldb.stats" and "leveldb.num-files-at-level#" properties, and `leveldb_approximate_sizes` of LevelDB's C API
- [ ] Add [stats collection](https://godoc.org/v.io/x/ref/lib/stats) for above information.

[2016-05-14 00:20] AsturaPhoenix commented on #886
TODOs has something similar:

https://vanadium-review.googlesource.com/#/c/21880/

It uses the local clock as a basis, allowing watch streams to modify the
basis for tail insertion and including perturbation based on a
compressed-encoded UUID. In theory it should allow arbitrary insertion as
well with little modification.

On Fri, May 13, 2016 at 4:37 PM Adam Sadovsky notifications@github.com
wrot

[2016-05-14 01:07] afandria commented on #886
TODOs' implementation is nice because it generally guarantees that insertion order is preserved.

One minor caveat is that the watch streams need to participate in keeping the "most recent UUID" up-to-date.

[2016-05-14 01:52] afandria commented on #1328
Thanks for fixing the error message (in v.io/c/22425). How do we initialize the crypter in Go and Java?

[2016-05-16 15:37] jhahn21 commented on #1328
We don't have an IBE server in prod / Java api yet and I don't think it is in our 6-week plan. @asimshankar ?

[2016-05-16 19:07] eobrain commented on #1329
http://v.io/c/22344/ submitted displaying paginated list of all keys and values.

[2016-05-16 19:52] afandria opened #1331 "TODOs: Invitation ads do not use "visibility" field"
Related: #1328

Due to the lack of crypter, I cannot put the blessing patterns into the visibility field to avoid the panic.

My workaround is to add these blessing patterns into the ad attributes and have scanners agree to filter based on that. This short-term fix should be replaced, however.

The code isn't committed yet, but the hack is inside io.v.todos.sharing's Sharing.java in the Syncbase b

[2016-05-16 20:25] asimshankar commented on #1331
CC @mattr-google

His plan is to hack this out at the lower level for now and I'll get IBE working at some point

[2016-05-16 20:55] ghost commented on #1331
Slightly off topic: Is the idea to replace your use of discovery with the high level syncbase Invitation API?  Or would this use still be separate?

[2016-05-16 22:42] afandria commented on #1331
I'm going to replace my use of discovery with the higher-level API, yes.

[2016-05-17 17:00] afandria commented on #1291
We do have a sharing mechanism in terms of being able to see people nearby, share lists with them, see who we have shared to, and receive shared lists.

We have a TODO on removing people who we've shared to (possible by removing them from the syncgroup spec), but I also do not think we will actually be managing the list of people we have shared to.

[2016-05-17 17:00] #1291 closed, assigned to afandria

[2016-05-17 17:02] afandria commented on #1320
I forgot to close this; we do distinctly identify the userdata collection by the blessing, though this will need to become automatic in the future.

[2016-05-17 17:02] #1320 closed, assigned to ivanpi-mtv

[2016-05-17 17:04] afandria opened #1332 "TODOs: Stop contacting cloud at the start"
Follows up #1318

When we move to the cloud system that @caprita is working on, we'll no longer need the app itself to talk to the cloud to prepare its app-db.

The current reasons we have to do it this way are:
- the cloud's blessing doesn't have the correct app portion, and there's no easy way to get an app-type blessing without being inside an app
- the clouds thus far have been manually create

[2016-05-17 17:04] afandria commented on #1318
The rest will be handled in #1332

[2016-05-17 17:04] #1318 closed, assigned to afandria

[2016-05-17 17:07] afandria commented on #1321
Note that something like this is planned in our higher level API.

[2016-05-18 20:41] azinman opened #1333 "CoreBluetooth: Serialize/throttle radio operations"
Currently devices/services/characteristics are scanned/discovered all in parallel, which might be contributing to unexpected disconnect errors. Throttle the radio activity so we can start conservative and test our way towards parallel connections.

Assigned to @azinman

[2016-05-18 20:43] azinman opened #1334 "CoreBluetooth: Limit scan cache to scan only"
Currently we cache up to 24h scans, but this is too aggressive given some possibilities to miss updates:
1. a device cache an ad with uuid u1 from a peer
2. a peer is out of range and the peer updated the service twice
      so it's still advertising u1 after two times toggling
3. when the device sees the peer again, it will not re-fetch the ad
      since it is already cached.

Instead, limit cac

[2016-05-18 20:44] azinman opened #1335 "CoreBluetooth: Add retry logic"
Add retries to failed operations with exponential backoff.

Assigned to @azinman

[2016-05-18 20:48] azinman opened #1336 "CoreBluetooth: Verify upper limit to characteristic UUID request count"
Currently the CoreBluetooth driver specifies 16*16 (256) possible characteristic UUIDs that it would like to discover. Apple has no documentation on upper limit specified, but likely the hardware itself (if this is where the filtering is done) has such limits. Verify that it at least works (likely in Apple's software stack) across our bigger range.

[2016-05-18 23:07] AsturaPhoenix opened #1337 "Escape Syncbase collection names"
There is a [a-zA-Z0-9][a-zA-Z0-9_]\* restriction on collection names. We should probably escape it.

Related to #1292

[2016-05-18 23:55] nlacasse opened #1338 "memory leak in `store/transaction/manager.trackBatch`"
The manager in `store/transaction/manager.trackBatch` keeps a queue of events `mg.events`.

Inside `manager.trackBatch` we create a new `committedTransaction` and add it to the queue.  However, we only remove this transaction from the queue on `manager.Close` which happens at shutdown.  Thus, we end up leaking an extra transaction on this queue for every `Put` and `Delete`.

There is a TODO to "do

[2016-05-19 00:39] afandria commented on #1294
We recently had a meeting with @jameshome about this. So now we have a list of things to do.

In addition to updating our design doc, we have the following tasks.
- [ ] Show empty/filled checkboxes in the Tasks View. This is a new click target.
- [ ] Move Mark All Tasks as Done from the LoL View to the overflow menu of the Tasks View
- [ ] Add back button on the Tasks View (with a generic icon to

[2016-05-19 00:43] afandria opened #1339 "TODOs: Move Sequential UUIDs out."
The intent is to reduce the amount of code in the application.

If these UUID generators are exposed by the higher-level API, then the changes will be minimal. If it is not present there, I recommend saving the code somewhere until it can be recovered. We'd instead use normal UUIDs and sort based on data in the value-space (such as time of creation).

@asadovsky @AsturaPhoenix

[2016-05-19 00:48] asadovsky commented on #1339
It won't be in the high-level API, at least not for now.
If you want to save the code, we can put it somewhere in `experimental`.
As a side note: Bindu has a summer intern joining who will likely work on CRDT stuff.

[2016-05-19 01:05] asadovsky commented on #1337
@ivanpi-mtv plans to relax the restriction; Ivan, can you update this issue with your plans?

[2016-05-19 19:56] nlacasse commented on #1338
The `manager.txTable` trie is similarly leaky.  We add keys to it in `manager.trackBatch`, but never remove them.

[2016-05-19 20:06] asadovsky commented on #1338
@nlacasse I'm pretty busy with API stuff. Do you have cycles to take a stab at fixing these?

For transaction GC, Sergey had an implementation in this CL that we can probably adapt:
https://vanadium-review.googlesource.com/#/c/11967/

(IIRC he did something somewhat fancy, and I think we can get by with something much dumber/simpler to start, but figured it's worth sending the pointer in any case.

[2016-05-19 21:13] nlacasse commented on #1338
The implementation in that CL is checked in, and contains the leaks mentioned in this CL, as well as the TODO to fix them.

@asadovsky I'm going to be gone for the next week, but I'm happy to take a look when I get back.

[2016-05-19 21:44] asadovsky commented on #1338
See intermediate patchsets in the CL. Sergey implemented a somewhat non-trivial GC, I asked for something simpler, he dropped GC entirely and added the TODO.

How big of a problem is this leak? If it's important/critical, I can prioritize fixing it; otherwise perhaps best to save for when you're back.

[2016-05-19 21:51] nlacasse commented on #1338
Ah, I see.

Not sure of the priority.  It won't block the demo.  The leaks are fairly small, just a few bytes each transaction.

[2016-05-20 23:52] azinman opened #1340 "Jenkins only +1'd one out of two CLs in a shared multi-part"
In this multipart CL:

https://vanadium-review.googlesource.com/#/c/22571
https://vanadium-review.googlesource.com/#/c/22572

They both got the same Jenkins output on May 20 4:03PM that the failed tests had now passed, but only the second CL (22572) got the +1 from Jenkins. Adam suggested this is a bug.

@jinjingforever @nlacasse

[2016-05-21 00:01] jinjingforever commented on #1340
Here is what happened:

presubmit [25113](https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/25113/), which has the correct patchsets (22571/5, 22572/5) got aborted by @ivanpi-mtv for some reason.

Then, presubmit [25119](https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/25119/) was manually started by @asadovsky. However, the patchsets in this one (22571/**4**, 22

[2016-05-21 00:01] #1340 closed, assigned to nobody

[2016-05-21 01:00] azinman commented on #1340
So I rebased and submitted that. It doesn't seem to have done anything though. How to best retrigger?

[2016-05-23 17:10] jinjingforever commented on #1340
Looks like you got a +1? I see the presubmit took a longer time to run.
- Jing

On Fri, May 20, 2016 at 6:00 PM Aaron Zinman notifications@github.com
wrote:

[2016-05-25 00:31] asadovsky opened #1341 "v.io/x/sensorlog/internal/measure/runloop.TestWriteError flaky"
https://dashboard.v.io/index.html?type=presubmit&n=25301&arch=amd64&os=linux&job=vanadium-go-test

[2016-05-26 04:42] caprita opened #1342 "Frustration with Quick Install"
Users report poor user experience with quick install script on Darwin.
Background: https://groups.google.com/a/v.io/forum/#!topic/vanadium-discuss/uva_cv1kC_s

Specifically, the script is likely to fail because of missing prerequisites. There are two potential areas for improvement:
1. make the script fail fast, and with a clear, actionable message (it should take < 10s to fail if any of the prere

[2016-05-26 17:25] asimshankar commented on #1250
Fixed by commit vanadium/go.ref@e0b3897d08143e0718f1cd1bbbd989aec5e4a16d

[2016-05-26 17:25] #1250 closed, assigned to asimshankar

[2016-05-26 20:52] afandria opened #1343 "Java Watch: Cancels if any error is thrown in onNext"
I didn't expect this to happen, but if the InputChannelCallback calls onNext and onNext throws, then the whole watch fails.

I should figure out if this is really intended.

[2016-05-26 20:53] afandria opened #1344 "TODOs: Collections and Database don't use the app/user blessing"
- does for user data collection
- doesn't for each individual list collection
- doesn't for the database

I should pass an Id instead of a String name if you want to do this for real, though this should also be possible by default.

[2016-05-27 23:02] ghost opened #1345 "Switch syncbase discovery to use IBE once it's available"
Currently we advertise the syncgroup read ACL in our advertisements.  This is a privacy issue and clearly a hack.  Once IBE is working we wont need this as only decryptable advertisements will be returned.

[2016-05-28 00:12] afandria commented on #1342
@jxson should have some ideas on how to improve the wording here.

[2016-06-01 00:43] ivanpi-mtv commented on #923
Implemented watching multiple patterns over collections and keys in v.io/c/22284 . Watch by query is lower priority.

[2016-06-01 00:46] ivanpi-mtv commented on #1264
Implemented SQL LIKE-style globs over collection blessing, name, and row key in Watch in v.io/c/22284 . Potentially useful for Scan.

[2016-06-01 00:48] ivanpi-mtv commented on #1284
Fixed client-visible blocking in v.io/c/21604 . Need to investigate backend, lower priority since it is isolated from the client through RPC cancellation.

[2016-06-01 00:51] ivanpi-mtv commented on #922
Mostly done, missing check preventing destruction of synced collections.

[2016-06-01 16:24] zanesterling opened #1346 "Error during vanadium install: autoreconf not found"
cc @asadovsky

Encountered errors:

[code]

Googled “autoreconf not found”, was told to install autoconf.
That worked, but it would be nice if the [https://vanadium.github.io/installation/](install script) checked for the existence of autoconf and gave a more informative error message.
Alternatively, we could mention it in the [https://vanadium.github.io/installation/step-by-step.html](step-by-ste

[2016-06-01 16:41] asadovsky commented on #1346
I think something may have changed recently with which things are installed automatically vs. required as prereqs. Re-assigning to Nick who I believe is familiar with this. Hopefully we just need to tweak the wording to clarify the installation procedure.

[2016-06-01 16:54] nlacasse commented on #1346
This happens during the profile installation.  `jiri profile install foo` used to install all required packages, using `sudo apt-get ...` or `sudo brew install ...` under the hood.  However, security folks complained about our binaries calling `sudo`.

Now, instead of calling `sudo`, there is a new command that will tell you how to install any required packages:  `jiri profile os-packages v23:base

[2016-06-01 17:06] asadovsky commented on #1346
Yeah, seems we should either include the "sudo ..." line in the
step-by-step instructions (so that it's pulled into the single-shot
script), or update the "simple install" page to explain the prereqs. The
current state is broken, in any case.

--Adam

On Wed, Jun 1, 2016 at 9:54 AM, Nicolas Lacasse notifications@github.com
wrote: