[2015-11-18 02:26] rogulenko commented on #888
Why don't you like to have both methods put(key, vdlValue) and put(key, value, type)? It's Java, we can overload.

[2015-11-18 02:28] asadovsky commented on #888
+1, was just going to suggest the same. This way developers can provide the type argument as needed.
(Presumably put(key, value) can fail if it decides the type argument was needed, given the value?)

[2015-11-18 02:30] suharshs commented on #912
Is the intention for generated code to be very human readable. If not, we can avoid collisions altogether by prefixing user defined variables with something.
But don't really mind either way 'hiddenRpcFrameworkOpts' seems fine as well.

[2015-11-18 02:48] tatatodd commented on #912
Perhaps we could call it _opts rather than opts.  I think we use the underscore prefix for other variables to avoid collision as well.

[2015-11-18 02:52] rogulenko commented on #888
Yes, put(key, value) will fail for non-vdl values at compile time.

[2015-11-18 03:02] spetrovic77 commented on #888
Ah, that sounds better...
On Nov 17, 2015 6:52 PM, "Sergey Rogulenko" notifications@github.com
wrote:

[2015-11-18 03:19] asadovsky commented on #912
_opts SGTM too.

[2015-11-18 05:46] asadovsky commented on #907
What makes you think that sync stops working? I ask because @afandria and Emily Shack (whose GitHub username I don't have) reported a possibly-related problem today: they found that their watch stream stops reporting updates after a while, even though updates are still happening.

[2015-11-18 16:26] yyoon commented on #907
Oh, that's interesting. I was only using watch streams to check for updates, and the data may be actually updating internally. I'll go ahead and check if it is the case.

[2015-11-18 17:01] spetrovic77 commented on #888
So just to summarize, we'll have two methods:

put(String key, VdlValue value);
put(String key, Object object, Type type);

The first one will work for all VDL generated types, the second for everything else.  That sounds good to me.

[2015-11-18 18:44] ghost commented on #907
Hello,

Suharsh and I have identified a bug that can cause failures when you stream a lot of data through a proxy.  The logs you printed are actually not consistent with that bug, so I'm not sure you are encountering it.  The fix is currently in presubmits, but I hope to check it in very soon.  I'll update when that is done, then perhaps you can try again.

[2015-11-18 18:55] ghost commented on #912
Assigning to Todd.  This is more of a VDL thing than an RPC thing.  Todds proposal sounds totally fine to me.

[2015-11-18 19:00] yyoon commented on #907
Thanks for letting me know. Today I'm seeing lots of "Ignoring data message for unknown flow on connection to ..." messages, but I see those messages even when the sync is working.

I'll try again when the it's fixed, anyways.

[2015-11-18 20:07] emshack opened #913 "Syncbase: Watch stream stops seeing updates after a while"
@asadovsky @afandria @mattr-google

Alex and I are having some issues with the watch stream in the Croupier Go app. When the app is started up, three separate goroutines are called:

[code]

These correspond to the following code:

[code]

And in the client package:

[code]

If I run the app with one device, that is, it creates a syncgroup but no other devices join, there are no issues getting the

[2015-11-18 20:08] emshack commented on #913
Sorry, didn't mean to submit yet, still in progress

[2015-11-18 20:46] ghost opened #914 "jiri profile error"
Several tests are now producing errors like this:

11:15:09 ##### Running test "vanadium-go-race" #####
11:15:09 hostname = "jenkins-node60"
11:15:09 workdir = "/home/veyron/tmp/vanadium-go-race/491267995"
11:15:09 bin dir = "/home/veyron/tmp/vanadium-go-race/491267995/bin"
11:15:09 cleanupProfiles: commands: [cleanup --ensure-specific-versions-are-set --gc]
11:15:09 cleanupProfiles: remove: []
11

[2015-11-18 20:47] ghost commented on #914
@jxson

[2015-11-18 20:51] tatatodd commented on #912
I have some CLs out to fix this.  FYI instead of _opts, I chose the even better name _, which is guaranteed never to collide.  This works because the collision only occurs in our exported interfaces, where the user-provided variable names are retained for better documentation.  The actual stub implementations already ignore the user-provided variable names to avoid collisions.

You'll see what I m

[2015-11-18 20:53] asadovsky commented on #912
Thanks Todd!

[2015-11-18 21:14] tatatodd commented on #914
I'm seeing these errors too.

I'm not sure whether it affects the actual test though; looking at the logs it seems like it might be annoying to see these errors (and we should fix the problem), but it's not actually causing any tests to fail.

Do you guys agree?  I'm wondering whether this is causing my presubmits to fail, or if the tests are flaky or failing for some other reason.

[2015-11-18 21:32] pylaligand opened #915 "Jiri fails to call Gerrit API"
I have a repository set up which requires the use of the SSO protocol. Jiri does not seem to be able to get the appropriate credentials in order to make Gerrit API calls, and there's no way to tell it to never make these calls (although right now I can use "jiri cl mail -set-topic=false" to prevent an error from happening).

I tried to remove the Gerrit host from my manifest, but Jiri complained a

[2015-11-18 21:35] asimshankar opened #916 "RPC2 Rollout cleanup"
The new RPC system was rolled out today. Just jotting down some cleanups left:
- [x] Switch the device manager to use bidirectional RPC instead of running a proxy (@suharshs?)
- [x] Ensure the new proxy is being monitored (@suharshs?)
- [ ] Figure out why the RPC load test shows a +30% increase in latency (@mattr-google) (Relevant links: [Dashboard](https://app.google.stackdriver.com/monitoring/10

[2015-11-18 21:56] jxson commented on #914
@tatatodd I'm seeing the same thing, the bad exit code being reported (jiri
v23-profile : exit status 2) doesn't effect the result of `jiri test <name>`

[2015-11-18 22:13] cosnicolaou commented on #914
The error message implies that portions of the profiles directory are somehow being deleted and/or profiles command are being run to delete profiles. My only theory is that multiple tests are landing on the same machine/root and interfering with each other. This doesn't make sense given that the tests are /not/ failing. I won't be able to get to this until this evening, but the only thing I can su

[2015-11-18 22:18] tatatodd commented on #914
I didn't look into this closely, but based on the log, it seems like a simple error where we try to run `jiri v23-profile ""` without any command.

I'm blocked on making jiri changes by Cos' big CLs, and on making vom changes by Benj's CLs, so I'll take a look at this now.

[2015-11-18 22:23] emshack commented on #913
Update: I have fixed this by putting all calls made by Update (onDeal, onPass, etc.) in separate go routines. It appears the animations were stacking, and preventing the watch stream from reporting more updates.

[2015-11-18 22:24] cosnicolaou commented on #914
On Wed, Nov 18, 2015 at 2:18 PM, Todd Wang notifications@github.com wrote:

ok, this one is easy, but is not the problem that Matt reported originally,
I tbr'ed a change last night that causes this and I can fix it trivually,
or you can too. Just look in jiri-test/internal/test/cleanup_profiles.go -
I removed the nacl removal but didn't add a test for the removals string
being empty and then not r

[2015-11-18 22:35] asadovsky commented on #913
Can you say more about what you mean by "animations were stacking, and preventing the watch stream from reporting more updates"? What specifically would stop the watch stream from reporting updates? Was the whole machine grinding to a halt or something?

[2015-11-18 22:54] emshack commented on #913
For example, the onTake() method:

[code]

This calls AnimateTableCardTake()

[code]

Because the onTake() call was not in a separate go routine, Update() had to wait until the animation was over to continue. If more than one update happened during this time, it stopped getting notified about future updates, even if the blocking animation ended. The whole app did not freeze, all local functionalit

[2015-11-18 23:11] tatatodd commented on #420
I just noticed this bug, and I'm fixing the same issue reported in #912

[2015-11-18 23:11] #420 closed

[2015-11-18 23:36] aghassemi commented on #420
Cool. Thanks

[2015-11-18 23:54] tatatodd commented on #912
Fixed by https://vanadium-review.googlesource.com/#/q/topic:toddw-vdlopt

[2015-11-18 23:54] #912 closed, assigned to tatatodd

[2015-11-18 23:55] tatatodd commented on #914
Fixed by http://v.io/c/17829

[2015-11-18 23:55] #914 closed, assigned to tatatodd

[2015-11-18 23:57] ivanpi-mtv opened #917 "Syncbase Watch: getting initial state + watching too much boilerplate"
Common use cases of Watch are:
- scanning the initial state and watching for updates; currently, this requires starting a read-only batch, scanning, getting the resume marker, aborting the batch, then watching;
- watching only for updates going forward, not caring for existing state; this requires first fetching the resume marker, then watching.

This currently results in a large amount of boilerp

[2015-11-19 00:27] afandria commented on #844
This has gotten even more important for Solitaire. If you play too quickly, the odds are very high that the watch changes get bundled, and you see the updates out of order.

[2015-11-19 00:28] jxson commented on #914
Thanks @tatatodd!

[2015-11-19 00:31] asadovsky commented on #913
Interesting. I can't say I understand why Update() would stop seeing updates in this case. If the client is slow to process items on the stream, eventually they'll pile up in the client's buffer and I believe our streaming implementation might block the server's goroutine from sending more updates. But once the client "catches up", I would expect the stream to unblock and pass through more items.

[2015-11-19 00:31] asadovsky commented on #913
Re-opening for now, until we hear from an RPC person.

[2015-11-19 00:35] asadovsky commented on #844
@ivanpi-mtv have you filed an issue for this from the "usability fixit"? (Can we merge this issue into that one?)

[2015-11-19 00:40] ivanpi-mtv opened #918 "Syncbase Watch: updates out of order after sync"
Watch can reorder and interleave writes to different keys in independent batches, even when all writes are done on the same device (or with sequential writes enforced by app), with full visibility (no Heisen-ACL complications).

This happens because sync can merge multiple batches received in the same GetDeltas call into one batch, for conflict resolution efficiency, and update order within a batc

[2015-11-19 00:50] tatatodd commented on #913
A slow client should only cause the server to pause sending data, but after the client reads more buffered data, the server should resume sending data.  This should be true regardless of how slow the client is at reading the data.  Eventually we may choose to kill the flows; I'm not sure if we do that right now.

Are you sure the calls made by Update (e.g. onTake, etc) aren't just blocking forever

[2015-11-19 01:00] ivanpi-mtv commented on #889
The OpenOrCreate helper might also need to verify that, for already existing hierarchy members, ACLs are compatible and schemas match (possibly upgrade schema?)
Same for Exists (change to Open or Ping?)

[2015-11-19 01:05] ivanpi-mtv commented on #626
In addition, using glob is currently broken in case of pathological names (e.g. Syncbase 'abc' aliasing 'abc*', needs escaping).

[2015-11-19 01:18] ivanpi-mtv opened #919 "Syncbase feature request: CRDT for text editing"
Collaborative text editing is a common request.

@AsturaPhoenix requested for TextView widget on multiple devices.
This has the additional caveat that, by default, the widget text is updated by user input as well as from Syncbase; see discussion in #853

[2015-11-19 01:34] asimshankar commented on #893
Duplicate of domokit/modular#351

[2015-11-19 01:34] #893 closed, assigned to asimshankar

[2015-11-19 02:07] ivanpi-mtv opened #920 "Syncbase feature request: append-only log"
Several apps would benefit from a library or CRDT to make building an append-only log (e.g. event log, time series) easier.

One possibility to implement a log currently is writing a value per key, encoding the timestamp in the key, possibly disambiguated by UUID. Encapsulating this into a CRDT using internal timestamps (see #910)  would make it easier to use.

@afandria (croupier), @ivanpi-mtv (s

[2015-11-19 02:09] ivanpi-mtv commented on #920
Another related concern, probably out of scope of Syncbase, is logging by untrusted clients (an append-only permission), which should be prevented from forging timestamps and overwriting existing log entries. This is alleviated by the log CRDT if the Syncbase instance is trusted (otherwise, sync peers would need to detect the malicious behaviour).

[2015-11-19 02:11] ivanpi-mtv commented on #882
More concrete examples are #919 and #920

[2015-11-19 03:21] ivanpi-mtv opened #921 "Syncbase: default connection timeout too long"
Since Syncbase is supposed to be a local service, already running when the app starts, the default 1 minute connection timeout for client-to-Syncbase communication seems too long. The app appears unresponsive instead of quickly failing because Syncbase is not available.

Consider decreasing the default to a few seconds.

@mattr-google might have a dissenting opinion.

[2015-11-19 03:45] ivanpi-mtv commented on #921
@rdvg commented that the timeout should account for the time for Syncbase to restart.

[2015-11-19 03:55] ivanpi-mtv opened #922 "Syncbase: allow creating/deleting tables in batches"
Could be useful for atomic initialization, restore from backup, possibly schema upgrades. Reducing table usage friction in general (making tables less special).

Possibly problematic in the context of #857 (leaving syncgroups on table deletion).

[2015-11-19 04:42] ivanpi-mtv commented on #764
Any interest in watching for data ACL changes as well?

[2015-11-19 05:03] ivanpi-mtv opened #923 "Syncbase Watch: make watch set more flexible"
Watch currently supports watching a single prefix in a single table.

Improvement proposals:
- [x] use RowRange, making it more similar to Scan, possibly with special support for single row (#852)
- [x] multiple tables and RowRanges in a single call
- [x] table name patterns/prefixes (e.g. watch entire database)
- [ ] watch by query (at least where clause predicates, possibly projection and order

[2015-11-19 05:20] ghost opened #924 "identityd publishing broken by :"
The create instance test is failing now because of the colon change.  I think it must append the blessings to the server name it tries to mount, and then I'm guessing the mounttable acls don't allow it to do so.

When the identityd starts up it prints:

Vanadium Blessing and discharger services will be published at /104.154.73.84:8101/identity/dev.v.io:u

Note the : at the end.

[2015-11-19 05:23] ghost commented on #924
See:

https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/ref/services/identity/internal/server/identityd.go&q=identityd.go:223%20package:%5Evanadium$&type=cs&l=223

[2015-11-19 05:31] ivanpi-mtv commented on #853
Strategy 4 - #919
Strategy 1 - #917

[2015-11-19 05:43] asadovsky commented on #764
Yes. I guess I didn't mention this in the issue description, but we should definitely surface those as well.

[2015-11-19 05:52] ivanpi-mtv opened #925 "Syncbase: expose value version or hash"
There is a desire to expose the current version number of a row, or a hash of the value.
One proposed use is sanity checking and debugging.
Another is preventing multiple watch events for the same value that is written multiple times. However, it is unclear if this should be intended behaviour, and multiple writes appear avoidable in most cases.

Utility of DAG version numbers is unclear, since th

[2015-11-19 06:26] cosnicolaou commented on #903
I have a repro.... hopefully I'll track it down tonight...

[2015-11-19 07:12] ivanpi-mtv opened #926 "Syncbase: constructing key from data"
Row keys commonly contain UUIDs, timestamps, and other data that may be duplicated in the value. To ensure consistency, utilities for building keys out of values would be helpful.

One possibility is using VDL annotations to specify key components, as well as UUID and timestamp fields to be populated. They could be used purely by the client-side utility library, or make key formats part of the sch

[2015-11-19 07:37] ivanpi-mtv opened #927 "Syncbase Watch: hard to get a consistent view"
Applying a watch change may require reading other data that may have been modified since.

This can be solved by watching for all relevant data (improvements from #923 may be necessary), processing each batch instead of each change separately.

It may be helpful to provide read snapshots of the database from a resume marker.

@kenashcraft (syncslides)

[2015-11-19 07:51] ivanpi-mtv opened #928 "Syncbase Watch: nicer batch processing"
Many Watch users do not care about batches and process each watch change separately.

However, clients that do care frequently need to make multiple passes over the batch. With the Continued flag API, this requires them to manually collect changes for each batch into an array/set before processing them.
An optional stream wrapper providing an entire batch (slice of changes) per Advance would make

[2015-11-19 08:03] asadovsky commented on #844
@afandria Do you have a workaround for now?

[2015-11-19 08:16] #924 closed, assigned to asimshankar

[2015-11-19 19:01] AsturaPhoenix opened #929 "Vanadium Java Options class removal proposal"
The io.v.v23.Options class is more or less a Map except it has a moderately typesafe getter (equivalent to and actually a few characters longer than (type)options.get(key) (with a moderately nicer-formatted RuntimeException rather than a ClassCastException, which arguably is more appropriately typed).

asMap providing a snapshot is a nice feature but is trivial w.r.t. ImmutableMap.copyOf and there

[2015-11-19 21:19] afandria commented on #844
Yes, I do. My keys happen to have timestamps inside them, so aggregating the WatchChanges in a list and manually sorting is possible for me. Then I can act upon the sorted list.

[2015-11-19 21:27] ivanpi-mtv commented on #918
#844 is caused by this issue.

[2015-11-19 21:31] ivanpi-mtv commented on #917
The second case (watching from "now") appears to be already implemented, but poorly documented.

[2015-11-19 22:20] AsturaPhoenix commented on #855
Can/should we add a facility into the Java library to change the log verbosity at runtime? It looks like in Go this may be available through vlog.Configure:

https://vanadium.googlesource.com/release.go.x.lib/+/master/vlog/funcs.go#119
https://vanadium.googlesource.com/release.go.x.lib/+/master/vlog/log.go#118

[2015-11-19 22:28] afandria commented on #917
To elaborate, I have switched from `await db.getResumeMarker()` to `UTF8.encode("now")`, and my app seems to continue functioning as before.

[2015-11-19 23:28] emshack commented on #913
After a lot of debugging and making sure none of my go routines were hanging forever, I am no longer having a problem with seeing watch updates. I think it was indeed a problem with some hidden go routines blocking forever. I'm going to go ahead and close this issue.

[2015-11-19 23:28] #913 closed, assigned to nobody

[2015-11-20 01:22] afandria commented on #846
I don't see this problem anymore.

[2015-11-20 01:22] #846 closed, assigned to afandria

[2015-11-20 01:28] afandria commented on #842
An update to this. We think that Mojo Go seems to only process one command at a time. There is a new API being proposed [here](https://codereview.chromium.org/1458583005/) that would allow asynchronous handling of requests.

[2015-11-20 01:29] afandria commented on #551
This is so old that it's no longer relevant.

[2015-11-20 01:29] #551 closed

[2015-11-20 01:46] asadovsky commented on #842
We have an email thread with @rogulenko about this. Hopefully we can get the change in soon, and then I'll update Syncbase's mojo_main to use the goroutine-per-request model.

[2015-11-20 02:06] wmleler commented on #551
Hey, I resemble that remark!

On Thu, Nov 19, 2015 at 5:29 PM, Alex Fandrianto notifications@github.com
wrote:

[2015-11-20 02:08] afandria commented on #551
Haha, sorry Wm! :)

[2015-11-20 04:53] cosnicolaou commented on #903
This has been fixed. The problem was that the tests for jiri test itself (jiri-test/internal/test) invoke internal functions that cleanup profile state. This was fixed in v.io/c/17801.

[2015-11-20 04:53] #903 closed, assigned to cosnicolaou

[2015-11-20 07:57] aghassemi opened #930 "Allow easier way to get WatchChanges from batches as a single event."
We should writer a stream transformer for the Dart library that anyone can use to get "batched" changes during watch. Currently they need to check `watchChange.continued` and do their own sequencing like in https://vanadium-review.googlesource.com/#/c/17901/1/lib/src/syncbase/log_writer.dart

Would be great if users can just do:

`await for (BachedWatchChange c in watchStream.transform(BatchTransf

[2015-11-20 15:59] aghassemi commented on #917
+1 for this. Being able to get initial values and watch with a special resume marker (I believe empty resume marker is the indicator based on the V23 Watch API) would be very useful for flutter version of SyncSlides since the UI code makes no distinction between change events coming in later and the initial values, so even initial values can come in as Put change types and the same code would work

[2015-11-20 16:01] aghassemi commented on #928
Related: https://github.com/vanadium/issues/issues/930

[2015-11-20 16:02] aghassemi commented on #923
+1 for watching entire database.

[2015-11-20 18:42] afandria commented on #930
That would be great since Syncbase should have internal timestamps. This overlaps with the Syncbase improvements proposed in #918

[2015-11-20 19:01] #844 closed, assigned to afandria

[2015-11-20 21:14] ghost opened #931 "Flaky vsync tests"
I've seen a couple of syncbase tests flaking:

https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1189/ARCH=amd64,OS=linux/testReport/junit/v/io_x_ref_services_syncbase_vsync/TestClockGetTime__GoTest___linux_amd64_/
https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1188/ARCH=amd64,OS=linux/testReport/junit/v/io_x_ref_services_syncbase_vsync/TestNeighborhoodAwarePeerSelector__GoT

[2015-11-20 21:30] suharshs opened #932 "Discharge Location should be object name not first published endpoint?"
@asimshankar @ankurtaly @mattr-google

Was there a reason why the location isn't the object name currently.

[2015-11-20 21:41] #845 closed, assigned to afandria

[2015-11-20 21:41] ghost opened #933 "Javascript vdl tests failing"
# [test/vdl/test-vdl-native.js].time constants are Dates

ok 1238 constant should be a date
not ok 1239 constant should be right date

---

[code]

  ...

This has happened two times in a row.  Any ideas?

[2015-11-20 22:24] bjornick commented on #933
It seems like it is working now.  This failure means that for some reason that decoded time is more than a  millisecond off from the expected time.  I suspect that this an issue with related to floating point math being inexact.  I'm not sure why it started getting flaky now though.

[2015-11-21 02:18] asadovsky commented on #931
@jatinlodhia
I just submitted CL https://vanadium-review.googlesource.com/#/c/17806 which might affect the TestClockGetTime flakiness. In general, that test is somewhat sensitive to RPC timings, and in particular is more likely to fail if client->server request transit time (for a local RPC) is significantly different from server->client response transit time. We can easily "deflake" it by looseni

[2015-11-21 04:08] AsturaPhoenix opened #934 "Differentiate V.init exceptions"
Right now, if you pass an invalid option like a malformed VMODULE setting (e.g. "42") into V.init, you get a RuntimeException caused by an UnknownException. It might be nice to differentiate these (which for example an app might recover from by V.init-ing with default options instead) from other failures.

Or it might not be worthwhile; submitting issue to track and get feedback.

[2015-11-21 04:10] AsturaPhoenix commented on #934
Example trace:

[code]

[2015-11-21 18:44] asadovsky opened #935 "Strange behavior when installing multiple profiles"
See session below - somehow installing multiple profiles at the same time didn't work, but installing them individually worked fine.

[code]

[2015-11-21 18:45] asadovsky commented on #935
Also +cc @nlacasse

[2015-11-21 22:55] cosnicolaou commented on #935
looking.

[2015-11-21 23:11] cosnicolaou commented on #935
fix out for review: v.io/c/c/17959

[2015-11-22 03:58] aghassemi commented on #857
I ran into this today and unfortunately it took me longer than should have to figure out why part of my data is not syncing. I was lazily creating tables (whether that's the right thing to do or not I think is irrelevant to my point) and the other device happened not to have one of the tables that was part of the Syncgroup.

I think the source of my issue was lack of visibility into the syncing pr

[2015-11-22 05:51] asadovsky commented on #857
We definitely intend to fix this, and we do not expect our eventual Syncbase users to look at logs to debug problems. Btw, we have more work than people so if anyone would like to pitch in to improve Syncbase (usability or otherwise), let me know and I can help you get going.

A couple side notes:
- Please do pre-create your hierarchy, including all tables. If you are dynamically creating tables b

[2015-11-22 05:55] aghassemi commented on #857
It is a nice-to-have for SyncSlides, I am watching each table separately and its fine as I run the exact same code regardless of the tables I get the changes from.

[2015-11-23 19:12] suharshs opened #936 "Chat web ui test failing"
https://veyron.corp.google.com/jenkins/job/vanadium-chat-web-ui-test/679/testReport/junit/(root)/vanadium-chat-web-ui-test/Make_test_ui/

[2015-11-23 19:29] suharshs commented on #936
Seems flaky. Its fixed now. Will reopen if it happens again.

[2015-11-23 19:53] afandria commented on #769
This seems to be okay now.

[2015-11-23 19:53] #769 closed, assigned to afandria

[2015-11-23 21:54] suharshs commented on #936
Another flake :(
https://veyron.corp.google.com/jenkins/job/vanadium-chat-web-ui-test/683/testReport/junit/(root)/vanadium-chat-web-ui-test/Make_test_ui/

[2015-11-23 22:11] afandria commented on #936
I don't think this is a flake. I think it's real. We probably parse the blessing string when showing who's speaking in the Chat app. The switch to `:` instead of `/` is messing us up.

I just got

[code]

[2015-11-24 00:12] afandria commented on #488
With the recent change from `/` to `:` in blessing strings, this has become more urgent. The parsing function has gotten more complex; see https://vanadium-review.googlesource.com/#/c/17981

[2015-11-24 01:24] afandria commented on #936
The UI test now expects something slightly different for the member name.

We used to get `alexfandrianto@google.com`, but now we see `dev.v.io/u/alexfandrianto@google.com`

In theory, the next extension push will fix this.

[2015-11-24 02:48] yyoon opened #937 "Inconsistent return types of Syncbase list methods"
@spetrovic77 @sjamesr

This is a minor issue, but there is inconsistency among the list methods in Java Syncbase lib.

In `SyncbaseApp` class:

[code]

In `Database` class:

[code]

In `DatabaseCore` class:

[code]

I guess the last `listTables` method should return a `List<String>` instead.

[2015-11-24 03:17] sjamesr commented on #937
Addressed in https://vanadium-review.googlesource.com/#/c/17990/

It will go into Vanadium 0.2

[2015-11-24 05:51] suharshs opened #938 "Go bench failing"
@mattr-google

I am seeing two different types of flaky failures when I run the go-bench. (Note that for some reason these real failures don't mark go-bench as failed, but still show up in the console log for the test)

(1) Failed to encode request due to EOF.
https://veyron.corp.google.com/jenkins/job/vanadium-go-bench/1095/console

(2) Hanging and timeout:
stacktrace here: https://veyron.corp.go

[2015-11-24 07:16] aghassemi opened #939 "Headers should not be part of exec stream"
We can either return them synchronously with the steam or make it optional by default.

[2015-11-24 16:10] aghassemi opened #940 "Expose the discovery API through wspr/JS"
Scan is higher priority than advertise.

[2015-11-24 18:59] yyoon opened #941 "Android Vanadium account manager: Couldn't create blessing"
I'm trying to get a blessing using the Vanadium account manager app, but it failed with the following toast.

![image](https://cloud.githubusercontent.com/assets/1309817/11377266/dadf84da-9299-11e5-9308-508e4c649642.png)

Could this be related to the new RPC? @mattr-google @suharshs

[2015-11-24 20:33] suharshs commented on #941
I don't think the account manager APK has been updated since we have begun the RPC transition. @sjamesr, could we update the APK?

Additionally, can we somehow automate this? Perhaps build a new APK daily with the staging or prod push?

[2015-11-24 20:41] #793 closed, assigned to tatatodd

[2015-11-24 20:48] suharshs commented on #938
Digging deeper: It appears that the conn is closing due to " Closing connection: benchmark.test:<client>tryCreateFlow /@6@tcp@127.0.0.1:34824@@653dbb2c7111e11a252926ff372c7826@l@test-blessing@@: connection closed remotely: benchmark.test: A remote process has sent more data than allowed.."

Looking into it now.

[2015-11-24 21:26] afandria opened #942 "mojo.shared: Share the Shortcut creation process"
For apps like Croupier and Syncslides, it will be very worthwhile to share the shortcut creation code.

mojo.shared's macro will need to take 5 variables:
- Target device ID Flag (optional)
- Shortcut Name (required)
- Shortcut Mojo Url (required)
- Shortcut Icon Url (optional)
- Shell command path (required)

[2015-11-24 21:28] afandria commented on #834
I have put a few files up on storage.googleapis.com, but we will need to improve our versioning strategy in the future. We could use a commit hash the way that Flutter does it. Since Syncbase and Discovery are in different repositories, they can use their distinct commit hashes. Croupier and Syncslides can do the same.

[2015-11-24 22:40] aghassemi opened #943 "Mojo principal service crashes with panic sometimes"
I have been getting this panic once in a while. Misha also saw it today.

[code]

[2015-11-24 22:52] yyoon commented on #941
Resolved by the new account manager apk.

[2015-11-24 22:52] #941 closed, assigned to nobody

[2015-11-24 23:12] asimshankar commented on #943
This is a duplicate of domokit/modular#351 and I have sent out a change to fix this https://codereview.chromium.org/1463643002/ but am waiting on the review

[2015-11-24 23:12] #943 closed, assigned to asimshankar

[2015-11-24 23:16] suharshs opened #944 "Generated streaming RPC API should take a context."
@tatatodd @mattr-google @asimshankar

Currently a streaming server method looks like this:

[code]

If a client is too slow to send data, the server has no way to interrupt an Advance call. Additionally a server has no way to interrupt a Send call if the network is too slow.

Elsewhere in Vanadium, we use context for cancellation and timeouts. We can similarly provide this functionality by providi

[2015-11-24 23:28] aghassemi commented on #943
Sweet. Thanks Asim. Could you maybe ping the reviewers? Looks like you sent out the fix a while ago!

[2015-11-25 01:16] nlacasse commented on #936
This is fixed.  Asim needed to do a "make clean" before publishing the extension.

[2015-11-25 01:16] #936 closed, assigned to nlacasse

[2015-11-25 01:34] afandria commented on #943
Thanks Asim, I'm running into this a lot too.

[2015-11-25 01:59] afandria commented on #892
It looks like the reactionary dust has settled and that we've mostly acclimated to this change. The bugs are being worked out and should mostly be gone once https://github.com/vanadium/issues/issues/943 is fixed.

[2015-11-25 01:59] #892 closed, assigned to asadovsky

[2015-11-25 01:59] afandria commented on #780
Added the schema file in `schema.md`

[2015-11-25 01:59] #780 closed, assigned to afandria

[2015-11-25 02:43] afandria opened #945 "Croupier: Makefile cleanup"
We can only run on Android (except for tests/lints/builds), so it may be worthwhile to cut down on the Desktop flag support.

[2015-11-25 02:43] afandria opened #946 "Croupier: Run unit tests on Jenkins"
We can run these now that a dart profile exists.

[2015-11-25 06:03] suharshs commented on #938
https://vanadium-review.googlesource.com/#/c/18025/1

Resolves this.

[2015-11-25 23:18] asadovsky opened #947 "vanadium-mojo-syncbase-test fails with "/home/veyron/workspace/pt/root/.jiri_v23_profiles: no such file or directory""
I just got this failure on a presubmit run on an unrelated syncbase CL.
https://dashboard.staging.v.io/?arch=amd64&class=vanadium-mojo-syncbase-test&job=vanadium-mojo-syncbase-test&n=16263&os=linux&part=0&suite=vanadium-mojo-syncbase-test&test=Init&type=presubmit
https://vanadium-review.googlesource.com/#/c/18056/

Perhaps some Jenkins nodes are configured properly, or perhaps there's a race condi

[2015-11-25 23:30] nlacasse commented on #947
That's strange.

The WARNING below is not actually an error.  It just means that there is no .jiri-v23-profiles file yet, which will happen if no profiles have been installed.

[code]

Something failed when installing the base profile, causing it to exit with 255, but I don't see what the actual error is.

[2015-11-25 23:33] nlacasse commented on #947
Also, the FAIL about `/home/veyron/workspace/pt/root/.jiri_v23_profiles: no such file or directory` is printed by the jiri tool when it Stat's that file to see if it exists.  It should not cause the jiri tool to exit unexpectedly.

cc @cosnicolaou

[2015-11-26 00:17] asadovsky opened #948 "TestV23IdentityServer is very flaky"
This test has been failing a lot in my presubmits lately, e.g.:
https://vanadium-review.googlesource.com/#/c/18065/1

I searched for the test name in our GitHub issue tracker but didn't find any open issues, so I'm filing one and assigning to @suharshs.

+cc @asimshankar @ankurtaly

[2015-11-26 17:18] asadovsky commented on #842
Discussion is still ongoing. I believe everyone here is on the thread.
For now, please try patching https://v.io/c/18070 and let me know if it helps.

[2015-11-29 19:38] cosnicolaou commented on #947
I've not been able to repro this - can you do so? I think the warning message is a red herring - i.e. the failure is much later than that. I can see that the profiles.InstallDependencies function is being called and it appears to succeed and the failure occurs after that. I'll add some more logging to see if we can track this down should it occur again. Watch for a CL from me sometime today.

[2015-11-29 19:59] cosnicolaou commented on #947
ok, v.io/c/18075 & v.io/c/18076

[2015-11-30 01:25] ivanpi-mtv opened #949 "Syncbase security: ACL manipulation verbose and complicated"
Several developers pointed out ACL manipulation is verbose:
- constructing ACLs with Add() verbose (one pattern/tag at a time, long tag names)
- inconsistent types (string or security.BlessingPattern, string or access.Tag)
- NotIn blacklist adds to complexity, unclear utility
- no canonical way to get intended user blessing (possibility of multiple default blessings, unclear which prefix to use)
-

[2015-11-30 03:15] bprosnitz opened #950 "Error installing v23-profile base on mac "missing version for profile base target: arm-android@""
$ jiri v23-profile install base
Install:: base amd64-darwin@1: success
ERROR: missing version for profile base target: arm-android@

[2015-11-30 03:42] bprosnitz commented on #950
I noticed this in the output of "jiri test run vanadium-copyright":

jiri v23-profile cleanup --ensure-specific-versions-are-set --gc: exit status 1 [[
gc: android arm-android@2: unsupported version: "2" for 4 3*
ERROR: gc: unsupported version: "2" for 4 3*
]]

So maybe I have an old version that doesn't migrate ?

[2015-11-30 03:49] bprosnitz opened #951 ""warning .jiri_v23_profiles doesn't exist""
This appears when the first profile is installed. Why is it a warning? It seems expected

[2015-11-30 03:53] bprosnitz commented on #950
I was unable to install after wiping everything

[2015-11-30 03:53] #950 closed, assigned to nlacasse

[2015-11-30 04:21] ivanpi-mtv opened #952 "Syncbase security: syncbased expects to be blessed by app/user"
The Syncbase security model assumes that `syncbased` is blessed by all local apps/users for sync to work correctly, because `syncbased` handles sync in the name of the local syncgroup member. This should be more prominently documented.

When multi-tenant `syncbased` (multiple apps, possibly multiple users, connecting to the same `syncbased`) becomes more common, automating the process during syncg

[2015-11-30 04:44] ivanpi-mtv opened #953 "Syncbase performance: Scan is 2-3x slower than Exec"
Slow Scan performance suspected to be caused by redundant decoding of the value from []byte. Scan should stream values as any, same as Exec.
2-3x slower report from Javascript.

@AsturaPhoenix (travel)

[2015-11-30 04:57] ivanpi-mtv opened #954 "Syncbase performance: Javascript connection slow"
Using Syncbase from Javascript requires connecting to it through the Vanadium extension, which is slow. This is especially problematic for webapps reading initial state from Syncbase on a refresh.

Vanadium Javascript performance improvements in general are desirable. An alternative, also making Syncbase easier to use from a browser, would be bundling and/or integrating Syncbase into the extension

[2015-11-30 06:17] ivanpi-mtv commented on #917
#693 is a duplicate.

[2015-11-30 17:20] aghassemi opened #955 "Mojo's principal.mojom does not have Dart bindings checked in."
There are no generated Dart bindings for [principal.mojom](https://github.com/domokit/mojo/blob/f8fbb03675337f34373180cb2ed101b4c4fdde3d/mojo/services/vanadium/security/interfaces/principal.mojom) in Mojo.

Most other mojo services I have seen have the generated stubs for all languages checked in, we should do the same for the principal service.

@asimshankar

[2015-11-30 17:28] aghassemi opened #956 "Can't construct the blessing name for a user in Mojo/Syncbase"
Currently I am using `mojo:authentication` service to get the username (email) of the logged-in user. But given that email, I can't construct the blessing name that is generated by Syncbase for the same user. (As it is not a simple `dev.v.io:u:<email>` translation; the blessing seems to have a generated app-id prefix before the email)

Even If I switch to using the [principal service](https://gith

[2015-11-30 18:01] #951 closed, assigned to nlacasse

[2015-11-30 18:43] ghost commented on #938
I'm going to look at fixing this in a nicer way.

[2015-11-30 19:03] afandria opened #957 "Croupier: Remove DebugRoute"
It was added because of this: https://github.com/flutter/flutter/issues/604

But now that Flutter has fixed Drawers, I can update the app once the alpha branch of Flutter has been updated too.

[2015-11-30 19:04] afandria opened #958 "Croupier: Assets, Splash Screen and Icon"
We need both of these things. Syncslides is in a similar boat.

[2015-11-30 19:09] afandria commented on #958
The SplashScreen is also not placed correctly. It should be an alternative to the MainRoute Scaffold, not within the body of that Scaffold.

[2015-11-30 19:55] aghassemi opened #959 "Syncbase: All errors after a batch is aborted should indicate so."
I had a bug where I was reading data from a query stream executed in a batch while another part of my code (by mistake) aborted the batch. The error I was seeing in my data stream after abort was just `Table foo does not exist` error (since abort was deleting the snapshot before query even started to execute). This was confusing as I was sure I had created the table foo before running any of this

[2015-11-30 20:29] aghassemi commented on #842
@asadovsky Everything is a lot snappier with https://v.io/c/18070 and we don't block on joining a syncgroup anymore as well. Can we merge it until the full solution makes it to mojo?

[2015-11-30 20:44] asadovsky commented on #842
Yes, we can merge it. +2? :)

--Adam

On Mon, Nov 30, 2015 at 12:29 PM, Ali Ghassemi notifications@github.com
wrote:

[2015-11-30 21:38] aghassemi opened #960 "Syncbase: Too many "sync: syncVClock" log messages"
I get a lot of `sync: syncVClock: GetTime failed: syncbase_server.mojo: Internal error: no mount tables or endpoints found` in logs. Normally they are for Syncgroups that no longer exist. Could we log as warning? There are technically not errors in my case as dead syncgroups are expected for my app.

@jatinlodhia @asadovsky

[2015-11-30 21:39] afandria commented on #842
If it's submitted, please publish a new Syncbase package too!

[2015-11-30 21:49] asadovsky commented on #960
These are actually due to a bug that I introduced in https://vanadium-review.googlesource.com/#/c/17806/.

This bug will be fixed in CL https://vanadium-review.googlesource.com/#/c/17960/, which is pending review from @jatinlodhia.

I'm also working on clock integration tests which would have caught this bug.

[2015-11-30 21:53] ivanpi-mtv commented on #954
Related: #890

[2015-11-30 22:21] aghassemi commented on #842
0.17 has this change

[2015-11-30 22:21] asadovsky opened #961 "Java RPC stubs should use collision-safe names for framework arguments"
This is a sibling to https://github.com/vanadium/issues/issues/912

Currently, I get errors from Java when using 'opts' as a VDL method argument name.

Example:
https://dashboard.staging.v.io/?arch=amd64&class=vanadium-android-build&job=vanadium-android-build&n=16359&os=darwin&part=0&suite=vanadium-android-build&test=Internal+Error&type=presubmit
https://dashboard.staging.v.io/?arch=amd64&class=va

[2015-11-30 22:40] asadovsky commented on #953
Will be addressed when #670 is resolved.

[2015-11-30 22:43] asadovsky commented on #675
Covered by documentation deliverables doc. Closing this issue. We may end up filing new issues for specific deliverables from the doc.
https://docs.google.com/document/d/1l3_NqBdnQ_miVaOOCsw5CkcdvdTxC-AImmqhdY7MNOg/edit#

[2015-11-30 22:43] #675 closed

[2015-11-30 22:44] asadovsky commented on #676
Covered by new syncgroup API proposal:
https://docs.google.com/document/d/1ZTygJZg7SzQrcKoi9mtLxPduj3ZL5k8_1Kr_DMCh5Sc/edit

A new issue will be filed to track progress on implementation of the proposal.

[2015-11-30 22:44] #676 closed

[2015-11-30 22:44] asadovsky commented on #694
Covered by documentation deliverables doc. Closing this issue. We may end up filing new issues for specific deliverables from the doc.
https://docs.google.com/document/d/1l3_NqBdnQ_miVaOOCsw5CkcdvdTxC-AImmqhdY7MNOg/edit#

[2015-11-30 22:44] #694 closed

[2015-11-30 22:45] asadovsky commented on #709
Done by @nlacasse

[2015-11-30 22:45] #709 closed

[2015-11-30 22:45] asadovsky commented on #714
Covered by documentation deliverables doc. Closing this issue. We may end up filing new issues for specific deliverables from the doc.
https://docs.google.com/document/d/1l3_NqBdnQ_miVaOOCsw5CkcdvdTxC-AImmqhdY7MNOg/edit#

[2015-11-30 22:45] #714 closed

[2015-11-30 22:45] asadovsky commented on #731
Done a few weeks ago.

[2015-11-30 22:45] #731 closed

[2015-11-30 22:49] asadovsky commented on #781
Closing this issue as it's very general. We've filed specific issues for the "unresponsive peer slows down sync", separating VDL type information from value data, and various other known performance problems.

If you think there's a specific performance problem that Syncbase ought to address, and isn't covered by the other issues we've filed, please let us know.

[2015-11-30 22:49] #781 closed, assigned to afandria

[2015-11-30 22:50] asadovsky commented on #783
Covered by documentation deliverables doc. Closing this issue. We may end up filing new issues for specific deliverables from the doc.
https://docs.google.com/document/d/1l3_NqBdnQ_miVaOOCsw5CkcdvdTxC-AImmqhdY7MNOg/edit#

[2015-11-30 22:50] #783 closed, assigned to ivanpi-mtv

[2015-11-30 22:55] asadovsky commented on #797
Covered by documentation deliverables doc. Closing this issue. We may end up filing new issues for specific deliverables from the doc.
https://docs.google.com/document/d/1l3_NqBdnQ_miVaOOCsw5CkcdvdTxC-AImmqhdY7MNOg/edit#

[2015-11-30 22:55] #797 closed, assigned to nobody

[2015-11-30 22:57] asadovsky commented on #801
Ali's working on this app. Closing this issue as it's generic.

[2015-11-30 22:57] #801 closed, assigned to aghassemi

[2015-11-30 22:59] asadovsky commented on #840
This stuff is getting rewritten. Marking as closed. Please reopen or file a new issue if you observe this again.

[2015-11-30 22:59] #840 closed, assigned to jatinlodhia

[2015-11-30 23:00] asadovsky commented on #842
Closing.

[2015-11-30 23:00] #842 closed, assigned to asadovsky

[2015-11-30 23:00] asadovsky commented on #849
Haven't observed this lately; closing.

[2015-11-30 23:03] asadovsky commented on #852
Closing this since we have a new issue to track it. Whoever works on the new issue can look back at this one for more information on what people were trying to do.

[2015-11-30 23:03] #852 closed, assigned to spetrovic77

[2015-11-30 23:04] asadovsky commented on #853
Covered by issues that Ivan filed; closing.

[2015-11-30 23:04] #853 closed, assigned to nobody

[2015-11-30 23:05] asadovsky commented on #861
Covered by #889

[2015-11-30 23:05] #861 closed, assigned to asadovsky

[2015-11-30 23:07] #894 closed, assigned to cosnicolaou

[2015-11-30 23:09] asadovsky commented on #959
In the storage engine impl, we take care to close all streams when a txn is closed. We should do the same at the batch level.

[2015-11-30 23:11] #937 closed, assigned to nobody

[2015-11-30 23:12] asadovsky commented on #930
Dup of #928, closing.

[2015-11-30 23:12] #930 closed, assigned to aghassemi

[2015-11-30 23:13] asadovsky commented on #907
Kishore hit what we believe to be the same issue. It appears that Suharsh's proxy fix addressed the issue. Marking as closed; feel free to reopen or file a new issue if you continue to have problems.

[2015-11-30 23:13] #907 closed, assigned to nobody

[2015-12-01 00:00] kenashcraft opened #962 "Larger Discovery payloads"
We ran into a problem with Syncslides where the Discovery advertisements aren't big enough to include all of the information that the user needs.  In particular, we want the advertisement to include an image thumbnail (i.e. 10-20KB).  Because Discovery advertisements are limited to 512B, the Syncslides developer must create a service just for the thumbnail (rpc services aren't otherwise used in th

[2015-12-01 00:06] asadovsky commented on #962
:+1: for (2) or (3).

I wonder if the library/discovery can be smart about the payload: if it's small enough, make it a standard discovery payload; else, use the GetPayload RPC. (Of course, this behavior would need to be documented, but it does seem very convenient.)

[2015-12-01 08:27] afandria commented on #781
I don't think this issue should have been closed for being general, since it's related to how Croupier is supposed to work around the Deal Phase being slow. However, I did recently rework the Deal phase to be a lot faster, so this issue should remain closed.

[2015-12-01 08:31] afandria commented on #751
CL for the new table view and player profile: https://vanadium-review.googlesource.com/18121
CL for the new score view: https://vanadium-review.googlesource.com/18128

Only a few more screens remain to be improved.
- Join Game needs to show the Game type
- Arrange Players needs to allow Player arrangement too.
- Player View needs scrolldown for the Table.
- Player View needs to have animating area

[2015-12-01 08:32] afandria commented on #823
These buttons are hidden behind a drawer menu now.
https://github.com/vanadium/issues/issues/957 will handle the aftermath.

[2015-12-01 08:32] #823 closed, assigned to afandria

[2015-12-01 14:14] AsturaPhoenix opened #963 "Jenkins monitoring fails to seek blessings"
[code]

[2015-12-01 14:17] AsturaPhoenix commented on #963
- @asimshankar

[2015-12-01 14:37] AsturaPhoenix commented on #739
Monitoring failure due seemingly to stage 3 rollout:
https://github.com/vanadium/issues/issues/963

[2015-12-01 14:39] AsturaPhoenix commented on #963
Correlating binary update against stage-3 rollout to determine whether to roll back stage 3 to stage 2 to avoid bothering Asim before business hours.

Path to eventual solution includes whether roles should be colon-delimited or a translation is needed.

[2015-12-01 14:55] AsturaPhoenix commented on #963
It doesn't seem straightforward to determine how "stable binaries" are picked up, so there's not really an indication that a rollback will fix the issue quickly. Naively changing the role delimiter to ":" didn't work either.

[2015-12-01 15:02] AsturaPhoenix commented on #963
There's no "Prod-incident" label; does https://sites.google.com/a/google.com/v-prod/oncall/incident-response need to be updated?

[2015-12-01 15:11] AsturaPhoenix commented on #963
Paged Asim.

[2015-12-01 15:16] AsturaPhoenix commented on #963
I also don't have permissions to https://pantheon.corp.google.com/storage/browser/vanadium-release/?pli=1&project=vanadium-internal to look at the release binaries.

Pinging/paging @bjornick as secondary on-call.

[2015-12-01 15:48] AsturaPhoenix commented on #963
I am also unable to use vbash (to push reverted binaries):

[code]

[2015-12-01 15:53] AsturaPhoenix commented on #963
Also unable to gsutil root creds even after auth (probably because I don't have access to vanadium-internal); considering paging @jinjingforever, but we're approaching business hours and @asimshankar  and @bjornick haven't responded yet so maybe we don't have a "tier-1" expectation yet.

[2015-12-01 16:26] asimshankar commented on #963
I've rolled back a change to get this going:
https://vanadium-review.googlesource.com/#/c/18131/

However, I'm not clear on where the monitoring data collector binaries are generated from. I'm going to poke around for a while, and maybe just copy over the Nov 30th binaries

[2015-12-01 16:28] AsturaPhoenix commented on #963
If it helps, here's the script:
http://veyron-jenkins.cbf.corp.google.com/jenkins/job/monitoring-data-collector/configure

I was going to just hope that the release process would get the binaries where they needed to go, but I don't think I have release permissions yet (above vbash failures).

[2015-12-01 16:29] asimshankar commented on #963
Ah, it's the vanadium-go-snapshot job (I think - since the times correlate). Triggered a fresh build for that.

[2015-12-01 16:32] asimshankar commented on #963
You should be able to use vbash now (after syncing past https://vanadium-review.googlesource.com/#/c/18131/)

[2015-12-01 16:37] bjornick commented on #963
how long has it been since the go-snapshot job run?  What is the trigger for it?

[2015-12-01 16:40] asimshankar commented on #963
Looking at https://veyron.corp.google.com/jenkins/job/vanadium-go-snapshot/, seems like it just runs once a day.

I manually triggered it and once the downstream job finished (vanadium-go-binaries) the oncall-data-collector etc. jobs seem to have picked up the change and are now green.

[2015-12-01 17:13] asimshankar commented on #963
Looks like the monitoring jobs are green and the staging release has deployed successfully. Want to close this out @AsturaPhoenix ?

[2015-12-01 17:41] caprita commented on #963
re: Prod-incident github label:
Looks like there is such a label now. Did you add that this morning? If so, thanks :-)

re: oncall response:
We are best-effort during non-business hours. This means no paging of other folks on the team. It's ok if we enter business hours in a broken state, and the expectation is that during business hours everyone chips in to help as needed/determined by the oncall

[2015-12-01 18:05] AsturaPhoenix commented on #963
Sure

@caprita:
Prod-incident github label:
Hm? I didn't add it, and I still can't see it (and this is on a different computer than this morning, so I don't think it's a caching issue)

oncall response:
Gotcha. Thanks! We might like to add that to the playbook--the wording at https://sites.google.com/a/google.com/v-prod/oncall/incident-response might lead newbies like me to page everybody.

[2015-12-01 18:05] #963 closed, assigned to nobody

[2015-12-01 18:16] AsturaPhoenix commented on #963
Wording updated; outage created: [http://o/270011](http://o/270011)

[2015-12-01 18:29] caprita commented on #963
Thanks. Re: github issues, the label was there in the veyron project but is
indeed missing from the vanadium project (a bit of history -- we used to
have all issues in the veyron project, then we moved the public issues to
the vanadium project and kept internal issues in veyron). We want to
completely move away from the veyron project altogether, with internal
issues going to buganizer instead. I'

[2015-12-01 18:38] jinjingforever commented on #963
@caprita The reason to copy binaries from snapshots is mainly because it is much faster. All these monitoring related jobs run every minute, and the updating/building process might take 30-40 seconds in some cases which will make them overrun.

[2015-12-01 18:42] yyoon commented on #907
I started testing with the latest vanadium-android lib, and it seems to work fine now. I'll continue testing and recreate an issue if I see this problem again.

[2015-12-01 19:09] suharshs commented on #850
Closing since we have transitioned to the new RPC system.

[2015-12-01 19:09] #850 closed, assigned to suharshs

[2015-12-01 19:11] suharshs commented on #774
I believe this has been resolved. Reopen if it hasn't.

[2015-12-01 19:11] #774 closed, assigned to suharshs

[2015-12-01 19:12] suharshs commented on #188
This is done with the new RPC system.

[2015-12-01 19:12] #188 closed

[2015-12-01 19:13] suharshs commented on #387
https://vanadium-review.googlesource.com/#/c/18140/2

[2015-12-01 19:13] #469 closed

[2015-12-01 19:15] rthellend commented on #963
https://vanadium-review.googlesource.com/18142 addresses the issue with roled.

[2015-12-01 19:15] #526 closed

[2015-12-02 00:27] afandria opened #964 "Croupier: Use a single init"
The init should contain syncbase setup and load appsettings.

[2015-12-02 04:12] afandria opened #965 "Croupier: Remove GameStartData's playerNumber"
This field isn't useful if we only set it after sitting.

[2015-12-02 18:11] aghassemi opened #966 "Syncbase Mojo --logtostderr seems to be ignored"
I am passing false to `logtostderr` and `alsologtostderr` as args to the `syncbase.mojo` Url, but they seem to be ignored and I still see error log messages in stdout.

[2015-12-02 18:27] monopole opened #967 "java discovery broken"
Sometime since friday advertising broke such that a thread entering

  V.getDiscovery(mBaseContext).advertise(cancelableContext, service, patterns, doneCb);

never comes back.   It appears that advertising itself is also compromised.  Sometimes it works, but most of the time a scan on the same wifi network, with BT active on all devices, fails to pick up on an advertisment.  It was working fine ea

[2015-12-02 18:54] AsturaPhoenix opened #968 "Vanadium/Syncbase Java/Android dies after a while"
Exact cause doesn't seem logged, but after running a while (~10 minutes) a Vanadium/Syncbase Java Android app will just die and restart.

Example dump: https://paste.googleplex.com/5888415631409152

[2015-12-02 19:03] afandria opened #969 "Croupier: Better Landscape Support on Phones"
Phones are just too small to support for landscape mode. The current designs don't consider it much either.

This is low priority, since it seems much easier to fix the app to portrait mode on phones.

[2015-12-02 19:14] suharshs commented on #387
This has been submitted.

[2015-12-02 19:14] #387 closed

[2015-12-02 22:46] ghost opened #970 "Replace no-arg GetDeltas with Ping"
Here https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/ref/services/syncbase/vsync/initiator.go&l=154

GetDeltas is called with no arguments.  This call always results in an error because the server is expecting two arguments.  This RPC is only used to get the identity of the remote end, so this isn't a huge problem, but it does write an error message to the logs which can lead people who

[2015-12-02 23:46] asadovsky commented on #970
Thanks for filing this and for the suggestion, Matt! I'll go ahead and make this change soon.

[2015-12-03 02:38] hpucha commented on #931
The fix for neighborhood one is checked in.

[2015-12-03 02:39] hpucha commented on #970
Would be preferable to just fix the arguments in the GetDeltas call and not change the RPC. I'll do that in my current pending CL.

[2015-12-03 02:52] asadovsky commented on #970
OK, sounds good, thanks Bindu! (I would've had you review my CL otherwise, in any case.)
Switching assignee to Bindu.

[2015-12-03 03:04] asadovsky commented on #960
Should be fixed now. Let me know if you're still seeing this after pulling recent changes.

[2015-12-03 03:06] asadovsky commented on #931
I'll include a tweak to the TestClockGetTime threshold in CL 18211, and will close this issue once that CL is checked in.

[2015-12-03 03:23] suharshs opened #971 "Ping test flaky"
I sometimes get presubmit flakes on the ping test
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Fservices%2Fsyncbase%2Fping&job=vanadium-go-test&n=16613&os=darwin&part=0&suite=v.io%2Fx%2Fref%2Fservices%2Fsyncbase%2Fping&test=TestPingInParallel+%5BGoTest+-+darwin%2Camd64%5D&type=presubmit

[2015-12-03 03:28] asadovsky commented on #971
Make local RPC reliably fast and this will go away. :)
Just kidding, I'll do something to deflake this.
Is there any way to inject a fake RPC system for testing purposes?
If not, I'll change my code to allow injecting a fake RPC client that dispatches to a provided implementation.

[2015-12-03 03:51] suharshs commented on #971
:)
There is a fake runtime factory:
https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/ref/runtime/factories/fake/rpc.go

So you can inject a client, server, etc.
Here is an example of a test that uses this.
https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/ref/services/wspr/internal/lib/signature_manager_test.go&q=signature_manager_test.go%20package:%5Evanadium$&l=1

I am not act

[2015-12-03 05:54] #727 closed

[2015-12-03 05:57] AsturaPhoenix opened #972 "Android account manager blessings activity orientation changes"
The activity launched via BlessingsService.newBlessingIntent does not handle orientation changes gracefully. When orientation is changed, both screens duplicate. The eventual activity result is fine.

(Eventually though Baku should include its own less impactful blessings providers.)

[2015-12-03 06:17] aghassemi opened #973 "Syncbase JavaScript: rowName tableName from watch are wrong"
Watching a table 'foo' that has a row `bar/baz/maz`
returns `foo/bar/baz` as tableName and `maz` as row name in watch change.

[2015-12-03 08:36] suharshs commented on #948
duplicate of https://github.com/vanadium/issues/issues/830

 Will try to take a look this week.

[2015-12-03 08:36] #948 closed, assigned to suharshs

[2015-12-03 08:37] #791 closed, assigned to suharshs

[2015-12-03 09:23] suharshs opened #974 "Java test flaky"
See the full stack trace here:
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=vanadium-java-test/16643/consoleFull

Here is the relevant snippet from the stack trace.

[code]

[2015-12-03 17:46] asadovsky commented on #971
+cc @mattr-google

Yeah, that's another option, but it'd mean I'm still setting up servers to handle the RPCs in my tests. If I'm going to fake the timings somehow, I was hoping to avoid running servers altogether.

That said, this client injection mechanism looks too hard to use for my needs. I have to implement the rpc.Client (and ClientCall, etc.) interface? I'm pretty sure it would take me hou

[2015-12-03 17:55] asadovsky commented on #971
Actually, scratch that. Injecting a clock is also difficult here, because part of what I'm testing is the behavior of context cancellation. I really do want to inject an RPC client implementation.

Looks like I might have to try using this not-so-easy-to-use client injection framework. Maybe there's something I'm missing that will make my life easier for this case of just wanting to inject a singl

[2015-12-03 19:41] aghassemi opened #975 "Blessing switch of / to : broke sample world demo"

[2015-12-03 20:30] ghost opened #976 "Proxy silently loses servers"
The issue is that we see one syncbase that is unable to communicate with the other.  Both syncbases are running through the prod proxy.  One will be able to communicate, the other will get an error trying to establish a flow:

I1202 13:28:27.060981  121680 flow.go:465] closing 10(0xc8203e8b00): syncbased:<client>tryCreateFlow /@6@wsh@172.17.166.57:8000@@f9b830cb\
88cce5e0b344341aedaa36c2@s@dev.v.i

[2015-12-03 20:41] ghost commented on #971
First, it is not possible to make the RPC system reliably fast on Jenkins.  I have seen cases where goroutines don't get any runtime in a 250ms window.  In the face of that, there is just nothing we can do so we definitely have to make tests resilient to time.

I don't see why a mock client should be difficult to write.  There are only a few methods and you know which will be called.  But I don't

[2015-12-03 22:47] asadovsky opened #977 "Syncbase table destroy doesn't delete rows"
There might be other problems with it, too. They'll be apparent when you look at the code.

App destroy has similar problems, so it would be good to fix that too. I bet the fix will look very similar.

[2015-12-03 23:36] #967 closed, assigned to spetrovic77

[2015-12-04 04:19] afandria opened #978 "Croupier: Proper Scan => Watch"
This is the first step before we can enable players to restart in the middle of the game.

The main goal is to prevent any data races (as implemented, the game log must see ALL watch updates. Missing any could prove fatal for the log writer).

[2015-12-04 04:22] afandria opened #979 "Croupier: Allow Game Restart"
After #978, allow users to quit and restart game.

This involves
- storing the last game id and syncgroup name
- changing the UI to show a Resume Game button that automatically jumps to the latest game stored.
- allowing users to quit in-game

Potentially allow users to resume more games later (by browsing a list of the games they have played in the past).

[2015-12-04 04:45] aghassemi commented on #960
I still see this with latest code. Looking at the CL, clock.go still logs most things with vlog.Errorf. The one in particular that I am seeing is `syncVClock: GetTime failed`

[2015-12-04 04:49] asadovsky commented on #960
Alex said that he stopped seeing these "GetTime failed" errors. Are you sure you're using the latest version of the Syncbase-Mojo package, 0.0.19? Can you paste in a sample from your Syncbase log?

[2015-12-04 04:57] aghassemi commented on #960
yeah latest, I just published v20. Looking at https://github.com/vanadium/go.ref/blob/0570e063352484e2ba0f76003c44e15433a97965/services/syncbase/vsync/clock.go , the error I am seeing is logged with `vlog.Errorf`

`E1204 04:38:27.191291    8927 funcs.go:94] sync: syncVClock: GetTime failed: syncbase_server.mojo: connection to peer failed: couldn't connect to peer ccb714421324f53c []`

[2015-12-04 05:17] aghassemi opened #980 "Syncbase Mojo: Publish should ensure publisher has latest Mojo profile installed."
@asadovsky

[2015-12-04 18:49] bjornick opened #981 "v.io/x/ref/services/debug/debuglib is flaky"
See: https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/ARCH=amd64,OS=linux,TEST=vanadium-go-race-part2/481/console

@rthellend

[2015-12-04 18:50] bjornick commented on #981
Adding bogdan since he's looking at it now

[2015-12-04 18:59] bjornick opened #982 "go2xunit is creating a lot of build failures"
While trying to make the release candidate this morning, the go linux tests failed 3 consecutive times due to failures in go2xunit.

https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/ARCH=amd64,OS=linux,TEST=vanadium-go-test/479/console
https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/ARCH=amd64,OS=linux,TEST=vanadium-go-test/480/console
https://veyron.corp.goo

[2015-12-04 19:28] caprita commented on #981
I stared at this (and the test) for a while and am not really sure what failed. The output says 'fail' but then doesn't show any errors (the vtrace output is expected and part of successful runs), and in the end it prints 'ok':

04:58:50 fail v.io/x/ref/services/debug/debuglib
04:58:50 === RUN   TestDebugServer
04:58:50 Vtrace traces:
04:58:50 Trace - 0xe7a2be3bbb03c8eb2c581106168d8008 (2015-12-04

[2015-12-04 19:51] afandria opened #983 "Croupier: Sound"
It would greatly improve the user experience if we had auditory cues to accompany the transitions. (This is not a priority though.)

Flutter has a way to add sound into their apps: https://github.com/flutter/flutter/blob/master/packages/flutter_sprites/lib/src/sound_manager.dart

It should be worth exploring how to use the API.

[2015-12-04 21:35] cosnicolaou commented on #982
it's failing because the test output contains a failure:

fail v.io/x/ref/lib/security/securityflag
04:24:27 === RUN   TestNewAuthorizerOrDie

we're using it to convert between go's undefined test output messages and the xunit format expected by jenkins and other tools. The orphan message occurs because there's RUN line but no corresponding FAIL because the test failed (most likely a panic) withou

[2015-12-04 21:35] #982 closed, assigned to cosnicolaou

[2015-12-04 22:04] bjornick opened #984 "PingInParallel test is faling"
I can't find the corresponding change because jenkins didn't show the list of changes for the first failing instance.  It's been reliably failing since 9pm yesterday

https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1287/ARCH=amd64,OS=linux/console

[2015-12-04 22:06] bjornick opened #985 "v.io/x/ref/lib/security/securityflag is flaky"
There seems to be a lot f failures with the securityflag failure tests.  Here is an example:
https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1290/ARCH=amd64,OS=linux/console

The error log doesn't look very helpful

[2015-12-04 23:07] asadovsky commented on #984
Thanks - I'm aware of this and will get a fix in shortly.
(It turns out that, loosely speaking, timing-based tests just don't work on Jenkins.)

[2015-12-04 23:33] asadovsky commented on #931
Merged my CL, closing the issue.

[2015-12-04 23:33] #931 closed, assigned to asadovsky

[2015-12-04 23:34] suharshs opened #986 "make flow/manager internalDial better"
@mattr-google

We should cleanup the following in manager.internalDial()
1. We have to look up in the cache multiple times because of resolution of protocol, address. It would be nice if we could just have one Find operation on the conncache. The reason we can't do this is that we need to Unreserve the same protocol, address that we lookup which will be different in resolved find and unresolved fi

[2015-12-04 23:35] asadovsky commented on #960
Discussed on chat. These errors will still get logged if sync legitimately failed (e.g. due to unavailable peer), but with the bugfix, they no longer happen when peers _can_ reach each other, which was the main problem.

As such, closing this issue.

Things will improve further once @hpucha's peer selection CLs are in, because at that point sync should rarely fail (since we'll only attempt to sync

[2015-12-04 23:35] #960 closed, assigned to asadovsky

[2015-12-04 23:53] asadovsky commented on #984
Submitted v.io/c/18318

[2015-12-04 23:53] #984 closed, assigned to asadovsky

[2015-12-04 23:53] asadovsky commented on #971
Submitted v.io/c/18318

[2015-12-04 23:53] #971 closed, assigned to asadovsky

[2015-12-05 00:13] ghost opened #987 "Allow conn setups to finish when doing parallel dial"
When we do parallel dial we should allow all the conn setups to finish even if we decide not to use the connection.  We might need it later.

[2015-12-05 00:16] suharshs opened #988 "blessingNames don't always matter in conncache."
@mattr-google

Currently we always enforce an endpoint blessings match when looking up in the conncache. If the client specifies a different server authorizer, this is actually wrong. We should somehow use the authorizer when looking up in the cache.

[2015-12-05 09:18] jinjingforever opened #989 "Possible race in sequence.go with same stdout and stderr"
I investigated a little bit more about #985. I ran the following command multiple times locally:

[code]

And the v.io/x/ref/lib/security/securityflag test failed about 1 in 10 runs, and the outputs of the test captured by [this call](https://vanadium.googlesource.com/release.go.x.devtools/+/c04608225c2bdc2bb81056a1acc4de2aa5a67e5b/jiri-test/internal/test/go.go#875) are also different from run to

[2015-12-05 09:18] jinjingforever commented on #985
See #989

[2015-12-05 09:18] #985 closed, assigned to asimshankar

[2015-12-05 09:45] jinjingforever commented on #981
See #989 for possible cause.

[2015-12-05 09:45] #981 closed, assigned to caprita

[2015-12-05 19:13] caprita commented on #989
I think the issue is that bytes.Buffer is not thread-safe. IIRC Cos used the same bytes.Buffer for both stdout and stderr, which is prone to raciness (I fixed a similar issue in another unit test that was racy last week).

[2015-12-05 22:14] cosnicolaou commented on #989
I checked in a fix for this a week or so ago. If stdout/stderr are the same
a thread safe wrapper is used. Of course there may be other bugs.. I'll
look thus pm and tomorrow. Thanks for finding a local repro!

Cheers, Cos.

On Sat, Dec 5, 2015, 11:13 AM bogdan caprita notifications@github.com
wrote:

[2015-12-06 03:49] caprita commented on #989
Here are all the instances I could find under x/devtools where we use the same bytes.Buffer for both stdout and stderr. As you can see, the problem is pervasive:

https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/devtools/jiri-test/internal/test/go.go&l=180
https://cs.corp.google.com/#vanadium/release/go/src/v.io/x/devtools/jiri-test/internal/test/go.go&l=402
https://cs.corp.google.com/#v

[2015-12-06 03:59] caprita commented on #989
There are a couple options to fix this throughout:
1. replace all occurrences of bytes.Buffer by a thread-safe alternative, and do this across the board indiscriminately. It's otherwise hard to figure out which are cases where we pass the same to both stdout and stderr. Note that it's not always obvious -- sometimes, stdout and stderr are ostensibly different objects, but they actually wrap the sa

[2015-12-06 06:29] cosnicolaou commented on #989
On Sat, Dec 5, 2015 at 7:59 PM, bogdan caprita notifications@github.com
wrote:

out bytes.Buffer
Capture(&out,&out).
use out.String()

so I'm not so worried about the concurrent case and I'm pretty sure this is
not the cause of our flakes.

Cheers, Cos.

[2015-12-06 17:32] caprita commented on #989
There are at least three issues:
1. the code you added in https://vanadium-review.googlesource.com/#/c/17961/9/runutil/sequence.go doesn't actually serialize access to stdout/stderr, since you're creating a different lockedWriter for each (so the two lockedWriters are unaware of each other and hence use independent locks):
   if stdout == stderr {
           stdout = &lockedWriter{f: stdout}

[2015-12-06 17:41] cosnicolaou commented on #989
On Sun, Dec 6, 2015 at 9:32 AM, bogdan caprita notifications@github.com
wrote:

yes, I agree. I'll get a CL together shortly. I got caught upgrading to el
capitan yesterday...

if err:=s.WriteFile(); err != nil {
}

compiles, but doesn't work as expected since err is initialized to a
*Sequence, but I feel this is a more a 'design of go' consequence. Still
I'd love to find a cleaner solution.

Chee

[2015-12-06 17:59] cosnicolaou commented on #989
ok, CL out. I'll TBR if it passes presubmits. I think the MultiWriter use
must be on the code path that only gets executed on jenkins which is why
the presubmits/go race etc don't find the race.

Cheers, Cos.

On Sun, Dec 6, 2015 at 9:41 AM, Cosmos Nicolaou cnicolaou@google.com
wrote:

[2015-12-07 07:59] aghassemi opened #990 "Syncabse: Users without Write permission can't create batches."
Even readonly batch seems to fails.

They should be able to create batches regardless, it should fail at commit time if they don't have access.

Might be specific to JavaScript API.

[2015-12-07 19:00] ghost opened #991 "Memory leak in RPC"
@rthellend reports:

rpsbot was crashing the pis. It looks like there's a memory leak somewhere. I'm running 3 instances on kubernetes now.

conn.NewDialed and conn.NewAccepted are growing pretty fast (~1MB per minute).

Here's a sample heap profile.

$ debug pprof run vlab/rps/player/root@rpsbot-sjx9d/__debug/pprof heap -text --nodecount=10
Running: jiri go tool pprof '-text' '--nodecount=10' 'ht

[2015-12-07 19:01] suharshs commented on #976
https://vanadium-review.googlesource.com/#/c/18286/

[2015-12-07 19:01] #976 closed, assigned to nobody

[2015-12-07 19:31] rthellend commented on #991
More information from pprof...

heap profile: 341: 14448128 [5438: 36892432] @ heap/1048576
118: 7733248 [150: 9830400] @ 0x44e4b5 0x94c0d3 0x83ad0a 0x8395f6 0x85ef17 0x46b121
    0x94c0d3    v.io/x/ref/runtime/internal/flow/conn.NewDialed+0xc3            /usr/local/google/home/rthellend/vanadium/release/go/src/v.io/x/ref/runtime/internal/flow/conn/conn.go:161
    0x83ad0a    v.io/x/ref/runtime/in

[2015-12-07 23:38] ghost commented on #938
This is fixed by https://vanadium-review.googlesource.com/#/c/18374/

[2015-12-07 23:38] #938 closed, assigned to nobody

[2015-12-08 00:25] afandria opened #992 "Add shortcut.mojo to the mojo profile"
`jiri-v23-profile/mojo/mojo.go` needs to add `shortcut.mojo` to the list of Android service names. This is used to place shortcuts for Android Mojo apps.

Before we do this, there was something problematic about `shortcut.mojo` in the latest version of Mojo. @aghassemi, do you remember what it was?

@nlacasse @bprosnitz

[2015-12-08 01:09] hpucha commented on #880
https://vanadium-review.googlesource.com/#/c/18273/

fixes this issue by maintaining peer health proactively.

[2015-12-08 01:16] asadovsky commented on #880
w00t!!

:tada: :balloon: :confetti_ball:

Closing this issue since, per @aghassemi's testing, this resolves the pressing issue.

[2015-12-08 01:16] #880 closed, assigned to nobody

[2015-12-08 01:18] aghassemi commented on #992
yes latest one does not work. I am using the one from a while back that I got from Alex. I have published it at http://storage.googleapis.com/mojo_services/syncslides/shortcut.mojo for now

[2015-12-08 02:01] #978 closed, assigned to afandria

[2015-12-08 20:15] ghost opened #993 "Avoid double queuing for encapsulated connections"
We should be able to immediately forward packets to the higher level conn to avoid an extra level of queing.

[2015-12-08 20:31] ghost opened #994 "Drop buffered read data on local flow close"
To make the flow control counters accurate we should drop local unread data when we close a flow locally.

[2015-12-08 20:32] ghost opened #995 "Support a consistent set of well documented timeouts"
More info in this doc:

https://docs.google.com/document/d/1prtxGhSR5TaL0lc_iDRC0Q6H1Drbg2T0x7MWVb_ZCSM/edit

[2015-12-08 20:33] ghost opened #996 "Flows should not return EOF if they don't get closed cleanly"
Currently we return EOF for lots of different error cases.  This is inconsistent with the normal expectations for IO streams in go.

[2015-12-08 20:33] ghost opened #997 "Ensure that methods called on objects attached to the context that take a context have the object attached."
This is a useful invariant, we should enforce it.

[2015-12-08 20:34] ghost opened #998 "Negotiate shared buffer size and mtu"
Currently we use constants, we should negotiate parameters.

[2015-12-08 20:36] ghost opened #999 "Add a option for server lame duck time"
Currently we try to lame duck for a 5 seconds before giving up when a server is shut down.  We should allow users to specify this via a parmeter.

[2015-12-08 21:57] afandria commented on #958
Blatantly copied one from syncslides. Credit to @aghassemi

[2015-12-08 21:57] #958 closed, assigned to afandria

[2015-12-08 22:03] jinjingforever commented on #799
This is now fixed. Now we have a Jenkins job [update-internal-oncall-file](https://veyron.corp.google.com/jenkins/job/update-internal-oncall-file/) that automatically updates the internal oncall rotation file every 30 minutes. Please see more comments there.

[2015-12-08 22:03] #799 closed, assigned to jinjingforever

[2015-12-08 22:25] suharshs commented on #453
This has been fixed in RPC2.

[2015-12-08 22:25] #453 closed

[2015-12-08 22:26] suharshs commented on #637
This has been resolved.

[2015-12-08 22:26] #637 closed

[2015-12-08 22:27] suharshs commented on #789
This has been resolved.

[2015-12-08 22:27] #789 closed, assigned to nobody

[2015-12-08 22:57] ghost opened #1000 "Remove calls to WriteMsgAndClose with no payload"
Now we have Close so we don't need to do this.

[2015-12-08 22:58] ghost opened #1001 "Require finish to be called even if Recv or Send fails"
This requires updating documentation and current uses.  The point is that calling finish can sometimes give an error message that is better than what Recv/Send can produce.

[2015-12-08 22:59] ghost opened #1002 "Deprecate server.Stop and client.Close"
We automatically close when the context is closed, these functions should not be needed.

[2015-12-08 23:05] afandria commented on #751
This was finished in a marathon of CLs last week.

[2015-12-08 23:05] #751 closed

[2015-12-08 23:09] #382 closed

[2015-12-08 23:11] #508 closed

[2015-12-08 23:13] ghost commented on #788
Fixed a while back.

[2015-12-08 23:13] #788 closed, assigned to nobody

[2015-12-08 23:14] ghost commented on #812
This was fixed.

[2015-12-08 23:14] #812 closed, assigned to nobody

[2015-12-08 23:14] ghost commented on #837
Fixed.

[2015-12-08 23:14] #837 closed, assigned to nobody

[2015-12-08 23:14] afandria commented on #833
Internally to my app, I have `watchEverything`, which returns a StreamSubscription and can be listened/cancelled. Since the cancel is honored by Syncbase, that should be enough.

[2015-12-08 23:14] #833 closed, assigned to aghassemi

[2015-12-08 23:15] ghost commented on #863
This code is deleted.

[2015-12-08 23:15] #863 closed, assigned to nobody

[2015-12-08 23:17] ghost opened #1003 "Improve RPC load test performance"
We regressed with the new rpc transition:

the RPC load test shows a +30% increase in latency (@mattr-google) (Relevant links: [Dashboard](https://app.google.stackdriver.com/monitoring/1009385/rpc-load-test), [RPC loadtest job showing the flip](https://veyron.corp.google.com/jenkins/job/vanadium-go-rpc-load/6524/))

[2015-12-08 23:17] ghost commented on #916
The first two items are done, I filed https://github.com/vanadium/issues/issues/1003 for the third.

[2015-12-08 23:17] #916 closed, assigned to nobody

[2015-12-08 23:27] ghost commented on #1003
@suharshs

[2015-12-09 00:21] danafergan opened #1004 "third_party-go-test is failing"
[code]

[2015-12-09 06:00] cosnicolaou opened #1005 "flaky sensorlog test"
this test has been flaky for a few days ...
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fx%2Fsensorlog%2Finternal%2Fsbutil&job=vanadium-go-race&n=17193&os=linux&part=6&suite=v.io%2Fx%2Fsensorlog%2Finternal%2Fsbutil&test=TestCreateOrOpenDB+%5BGoRace+-+linux%2Camd64%5D&type=presubmit

[2015-12-09 06:03] cosnicolaou opened #1006 "flaky 3rd party ssh test on linux"
this is had been flaky for a few days ...
golang::org/x/crypto/ssh::TestClientAuthPublicKey [GoTest - linux,amd64]
https://dashboard.staging.v.io/?arch=amd64&class=golang.org%2Fx%2Fcrypto%2Fssh&job=third_party-go-test&n=17193&os=linux&part=0&suite=golang.org%2Fx%2Fcrypto%2Fssh&test=TestClientAuthPublicKey+%5BGoTest+-+linux%2Camd64%5D&type=presubmit

If we're not concerned about the test, I can eas

[2015-12-09 17:48] cosnicolaou opened #1007 "flaky identityd tests"
this test has been flaky for a while...

v::io/x/ref/services/identity/identityd::TestV23IdentityServer [V23Test - linux,amd64]
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fx%2Fref%2Fservices%2Fidentity%2Fidentityd&job=vanadium-integration-test&n=17203&os=linux&part=0&suite=v.io%2Fx%2Fref%2Fservices%2Fidentity%2Fidentityd&test=TestV23IdentityServer+%5BV23Test+-+linux%2Camd64%5D&type=pre

[2015-12-09 19:02] ghost opened #1008 "Expired caveat fails to refresh"
reported by @aghassemi.
The specific case here is syncbase running under mojo.  After 15 minutes communication fails.

The log file is here:
https://drive.google.com/corp/drive/folders/0B8gjU2j_yyXDS19tZlBrQnY4ak0?ts=566879ea

[2015-12-09 19:14] ghost commented on #1008
Sadly those logs are from the client and it just says:

I1209 10:45:48.230081   13149 xclient.go:210] rpc: failed to create Flow with /@6@wsh@192.168.86.130:43422@@88e750b1a8387d0ac12ecd3c6d818\
dca@s@dev.v.io:u:o:962611923869-tc7gs3fujabkgn43ntdbhsbrptk3dsv6.apps.googleusercontent.com:flutter.vanadium@gmail.com@@/%%sync: webviewe\
rd:<client>tryCreateFlow /@6@wsh@192.168.86.130:43422@@88e750b1a83

[2015-12-09 19:25] cosnicolaou opened #1009 "syncbase flaky test"
Here's a syncbase flaky test.

https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&job=vanadium-integration-test&n=17221&os=darwin&part=0&suite=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&test=TestV23SyncgroupRendezvousOnlineCloud+%5BV23Test+-+darwin%2Camd64%5D&type=presubmit

[2015-12-09 20:20] asadovsky commented on #1009
Just got a flake on this one too:
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&job=vanadium-integration-test&n=17241&os=linux&part=0&suite=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&test=TestV23SyncgroupRendezvousOnlineCloud+%5BV23Test+-+linux%2Camd64%5D&type=presubmit

Also @rdvg

[2015-12-09 20:21] asadovsky commented on #947
I haven't seen this recently; closing the issue.

[2015-12-09 20:21] #947 closed, assigned to nlacasse

[2015-12-09 20:22] asadovsky opened #1010 "vanadium-mojo-syncbase-test flaky"
Nick, have you seen this?
https://dashboard.staging.v.io/?arch=amd64&class=vanadium-mojo-syncbase-test&job=vanadium-mojo-syncbase-test&n=17241&os=linux&part=0&suite=vanadium-mojo-syncbase-test&test=Make+test&type=presubmit

[2015-12-09 20:25] nlacasse commented on #1010
I saw that yesterday with mojo profile version @3.  This is happening with version @2, which is the "good" one.

I think it's just a flake.  Not sure what to do about it.

[2015-12-09 20:27] asadovsky commented on #1010
Any idea why the test is flaky? Is there some sort of non-determinism, e.g. a timing-dependent component or something along these lines?

[2015-12-09 20:28] hpucha commented on #1009
Just skipped this test for now
https://vanadium-review.googlesource.com/#/c/18453/

Will investigate the flakiness.

On Wed, Dec 9, 2015 at 12:20 PM, Adam Sadovsky notifications@github.com
wrote:

[2015-12-09 20:31] suharshs opened #1011 "Reading ProxyStatus is racy in server."
Currently, we trigger a Status.Valid change if changes to a server's connection to a proxy happen.
When a connection to a proxy changes, so does flow.Manager.ListeningEndpoints, but this is noticed in another thread by the server. We need the ProxyStatus and ListeningEndpoints change to either both happen or neither happen.

@mattr-google

[2015-12-09 20:38] nlacasse commented on #1010
It looks like this test started failing on main jenkins as well, so maybe it's not a flake.  I'll investigate.

[2015-12-09 21:51] nlacasse commented on #1010
A new version of the mojo dart package was released on Dec 9, which is incompatible with the mojo artifacts installed as part of our current mojo profile.

The following CL fixes the mojo dart package at the known working version.

https://vanadium-review.googlesource.com/#/c/18458/

[2015-12-09 22:01] caprita commented on #1011
Subscribing.

[2015-12-09 22:33] ivanpi-mtv commented on #693
This is not JS-specific, but needs backend implementation (#917).

[2015-12-09 22:47] #1010 closed, assigned to nlacasse

[2015-12-09 23:23] ivanpi-mtv commented on #977
Table's row deletion fixed by https://vanadium-review.googlesource.com/#/c/18333/
Working on app's database deletion.

[2015-12-09 23:42] bprosnitz opened #1012 "Flutter dependency issue in fresh dart syncslides checkout"
In a fresh $JIRI_ROOT/release/project/syncslides/dart
$ make run
pub get
Resolving dependencies...
Could not find package flutter at "../../../../../flutter/packages/flutter".
Depended on by:
- syncslides
  make: **\* [packages] Error 69

[2015-12-09 23:43] bprosnitz commented on #1012
I now see your comment in the README, but this should be installed from a profile or at least give a warning / option to install it

[2015-12-09 23:49] aghassemi commented on #1012
yeah we need a flutter profile

[2015-12-09 23:49] ivanpi-mtv commented on #1005
Disabled for now - v.io/c/18472
@hpucha is investigating.

[2015-12-09 23:50] hpucha commented on #970
This has been fixed in https://vanadium-review.googlesource.com/#/c/18273

[2015-12-09 23:50] #970 closed, assigned to hpucha

[2015-12-10 07:09] asadovsky opened #1013 "TestV23CRAppResolved is flaky"
Example: https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&job=vanadium-integration-test&n=17308&os=darwin&part=0&suite=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&test=TestV23CRAppResolved+%5BV23Test+-+darwin%2Camd64%5D&type=presubmit

[2015-12-10 19:44] afandria opened #1014 "Difficulty uinstalling old jiri v23-profiles"
The desired command is `jiri v23-profile uninstall <profile>`, but it does not successfully remove anything. (Tried on the `mojo` profile) This is preventing installation of a new version of the profile.

The workaround @bprosnitz found is to delete the XML block for the corresponding profile inside `.jiri_v23_profiles` and to also delete the `profiles/<profile>` folder if needed.

Perhaps one rea

[2015-12-10 19:51] #957 closed, assigned to afandria

[2015-12-10 20:27] suharshs commented on #1011
https://vanadium-review.googlesource.com/#/q/topic:suharshs-manstatus

[2015-12-10 21:01] suharshs opened #1015 "Connecting to a proxies endpoints should happen in parallel."
Currently, if a proxy resolves to multiple endpoints, we try them all in serial.

We should factor out the client's parallel dial logic and use it when connecting to a proxy as a server.

@mattr-google

[2015-12-11 00:58] AsturaPhoenix commented on #809
This makes it hard to segment integration tests.

[2015-12-11 01:27] suharshs commented on #1011
This has been submitted above.

[2015-12-11 01:27] #1011 closed, assigned to suharshs

[2015-12-11 21:20] afandria commented on #965
Never mind. I'm making some use of this now.

[2015-12-11 21:20] #965 closed, assigned to afandria

[2015-12-11 21:27] afandria commented on #1014
After an offline discussion, it looks like the tool isn't actually mistaken. **A flag must be sent to specify the exact version to install/uninstall.**  To improve usability, the tool should inform the user of their options:
- In the uninstall case, which profile versions remain (if any). And if there are some, the additional flag they should pass to remove those non-default profiles.
- In the alr

[2015-12-14 05:15] #739 closed

[2015-12-14 07:21] asimshankar commented on #962
Sorry, somehow missed this (my github notifications aren't fine tuned yet).
@jhahn21 was thinking of (2) as well - though possibly distinguishing between "Attributes" (whose values can be used to filter notifications with the query) and "Payloads" (which are large opaque blobs like thumbnails that cannot participate in the query).

[2015-12-14 20:18] bprosnitz opened #1016 "Ensure that mojo profile doesn't get out of date"
Currently, we are manually updating mojo profile version and we don't have tests to make sure that v23proxy/syncbase work against latest. We should have some way to ensure that we at least periodically update the mojo profile so that v23proxy/syncbase continue to work

@nlacasse @afandria

[2015-12-14 23:57] ghost opened #1017 "Update jni interface for BlessingStore.Discharge"
I'm about to submit https://vanadium-review.googlesource.com/#/c/18559/ which updates the Discharge method to return not only the cached discharge, but also the time at which it was cached.

For now I made https://vanadium-review.googlesource.com/#/c/18574/ which causes java to ignore the extra return, but we should surface it in the java API at some point.

[2015-12-15 18:58] caprita opened #1018 "Race in reaper startup"
The following race can occur when the device manager restarts, and all services are dead though in state Running (as happens e.g. following a reboot where both the device manager and apps are sent SIGTERMs and exit):
- findAllTheInstances identifies all the apps' processes as being dead but in state Running; it adds them to the pid map, and marks them as restart candidates
- newReaper then commenc

[2015-12-16 01:19] asadovsky opened #1019 "vanadium-playground-test is flaky"
cc @nlacasse

Example: https://dashboard.staging.v.io/?arch=amd64&class=vanadium-playground-test&job=vanadium-playground-test&n=17637&os=linux&part=0&suite=vanadium-playground-test&test=Make+test&type=presubmit

Looks like it's caused by NPM flakiness. Is there some way to harden our tests to deal with this?

npm ERR!
npm ERR! Additional logging details can be found in:
npm ERR!     /home/veyron/w

[2015-12-16 17:32] asadovsky commented on #849
Looks like this is still happening, e.g.
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Fnosql&job=vanadium-integration-test&n=17657&os=darwin&part=0&suite=v.io%2Fv23%2Fsyncbase%2Fnosql&test=TestV23SyncbasedCompEval+%5BV23Test+-+darwin%2Camd64%5D&type=presubmit

[2015-12-16 19:28] bprosnitz opened #1020 "Javascript tutorial catch up script doesn't seem to work"
$ ../scenario-e-setup.sh
Block 'envVars' (1/1 in completer) of content/tutorials/setup.md
Block 'envVars' (1/1 in completer) of content/tutorials/setup.md
Block 'checkTutorialAssets' (1/1 in completer) of content/tutorials/checkup.md
Block 'deleteTutdirContent' (1/1 in completer) of content/tutorials/wipe-slate.md
Removed contents of /usr/local/google/home/bprosnitz/v23_tutorial
Block 'defineServi

[2015-12-16 22:05] ivanpi-mtv commented on #977
App's database deletion fixed by https://vanadium-review.googlesource.com/#/c/18491/

[2015-12-16 22:05] #977 closed, assigned to ivanpi-mtv

[2015-12-16 22:23] #1020 closed, assigned to bprosnitz

[2015-12-17 02:20] asadovsky opened #1021 "TestAppDestroyAndRecreate flaky"
Ivan, looks like this test is still flaky - could you take a look?
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase&job=vanadium-go-test&n=17713&os=linux&part=0&suite=v.io%2Fv23%2Fsyncbase&test=TestAppDestroyAndRecreate+%5BGoTest+-+linux%2Camd64%5D&type=presubmit

[2015-12-17 18:48] ghost opened #1022 "Optimize filterAndOrderServers"
Right now we call filterAndOrderServers on every RPC call attempt, even if we end up using an already established connection.

Even though we cache some network state info this function is slow and does many allocations.  We should either make it fast or avoid calling it altogether most of the time.

[2015-12-17 19:03] ghost opened #1023 "Add Setup message negotiation headers to the ChannelBinding"
Currently we send negotiated parameters like the VersionRange in the setup message which is sent in the clear.  This leaves us open for downgraded attacks (among other things).

We should include these parameters in the channel binding.

@asimshankar @ankurtaly

[2015-12-17 21:01] ghost commented on #1008
This was fixed by:
https://vanadium-review.googlesource.com/#/c/18560/

[2015-12-17 21:01] #1008 closed, assigned to nobody

[2015-12-17 23:18] pcasaretto opened #1024 "Hello World tutorial does no work on Mac OS"
https://v.io/scenario-a-setup.sh

Line 96 in this script does fails with:

[code]

It seems that apple provided bash `GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin14)` does not like that flag.
Installing bash via homebrew `GNU bash, version 4.3.42(1)-release (x86_64-apple-darwin14.5.0)` fixes the problem.

[2015-12-18 00:20] ghost opened #1025 "It should be easy to get a security.Call from a ClientCall"
Mike ran into a case where he wanted to run an authorizer against the credentials obtained via a client call.  This is not easy because we don't supply all the necessary parameters.

One idea is to add a ClientCall.Security method similar to the server call variant.  We would then change the ClientCall.RemoteBlessings to return only the names since the blessings would be available in the security.

[2015-12-18 02:29] afandria commented on #946
My croupier unit tests are up there, but they also need to be in presubmit.

I can also start running the go tests as well.

[2015-12-18 20:50] #1025 closed, assigned to asimshankar

[2015-12-18 22:38] ghost commented on #991
The problem is that you cache connections with their blessing names and then apply blessing name authorization.  You get these blessing names from the endpoint, but client connections are dialed with endpoint-free blessings (to preserve privacy during setup).  So if we have peers A and B then:

B -> A:ablessing, A caches B:_ and B caches A:ablessing
A -> B:bblessing, The cached B:_ is ignored beca

[2015-12-21 23:10] afandria opened #1026 "Croupier: int.parse fix"
We parse timestamps, colors, gameIDs, userIDs, etc., but it has so far been difficult due to a bug in Dart on Android. Their `int.parse` fails if the number in the string is too large.

https://github.com/domokit/mojo/issues/192

Dart VM `1.14.0-dev.5.0` seems to have fixed this, so if we are able to use that version on Android, then we can do better.

Note: An alternative would be to store these

[2015-12-21 23:13] hpucha opened #1027 "Syncbase TestV23CRRuleConfig flaky"
Issue on Linux: https://veyron.corp.google.com/jenkins/job/vanadium-integration-test/OS=linux/1454/testReport/junit/v/io_v23_syncbase_featuretests/TestV23CRRuleConfig__V23Test___linux_amd64_/

Issue on Darwin: Need to see how the conflict call count can be 3. If this is valid, we should bump up the expected count.

In a different test, same issue with max and expected call count

https://dashboard

[2015-12-22 01:17] asadovsky opened #1028 ""jiri go" computeGoDeps should ignore files with "// +build ignore""
In particular, this line invokes "go list" in a way that makes it include ignored source files:
https://github.com/vanadium/go.devtools/blob/9734b7d765bca60e30194d4632e9fab92dab577e/internal/golib/go.go#L353

Assigning to @tatatodd for triage since I believe he's the most likely to have background on what this code is doing and how to fix it.

[2015-12-22 01:35] asadovsky commented on #1028
False alarm. I had my "// +build ignore" comments in the wrong place - they need to be at the very top of the file.

[2015-12-22 01:35] #1028 closed, assigned to tatatodd

[2015-12-22 19:00] bjornick commented on #1022
don't we need to filter and order the servers before we know which connections in the cache are valid?

[2015-12-28 20:00] hpucha opened #1029 "Flaky vanadium-go-rpc-stress target"
Not sure if this is the issue, but this failure is a common pattern

11:16:45 tmpnode-rpc-stress-client-03: workers: 8, maxChunkCnt: 100, maxPayloadSize: 10000, duration: 1h0m0s
11:16:45 tmpnode-rpc-stress-client-03: F1225 19:16:40.089389    2085 client.go:76] Stream failed: EOF
11:16:45 tmpnode-rpc-stress-client-03: goroutine 50 [running]:

https://veyron.corp.google.com/jenkins/job/vanadium-go-r

[2015-12-28 20:16] hpucha opened #1030 "Flaky TestRestartPolicy"
Back to back failures on darwin and linux on multiple targets

https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1469/
https://veyron.corp.google.com/jenkins/job/vanadium-go-test/1468/

https://veyron.corp.google.com/jenkins/job/vanadium-go-race/1373/
https://veyron.corp.google.com/jenkins/job/vanadium-go-race/1374/

https://veyron.corp.google.com/jenkins/job/vanadium-go-cover/1344/
http

[2015-12-28 22:01] #1030 closed, assigned to rthellend

[2015-12-29 08:56] tatatodd opened #1031 "Should gosh.Cmd.AddStdoutWriter auto-close the given writer?"
Adam - I'm only writing this now to avoid forgetting; don't worry about discussing until next week.  :)

It bugs me that gosh.Cmd.AddStdoutWriter (and the stderr analog) take an io.Writer argument, but will automatically call Close on the writer if it happens to be an io.WriteCloser when the process finishes.  Here are some reasons I think it's bad:

1) The user might also call Close themselves, a

[2015-12-29 17:03] bprosnitz opened #1032 "vdl: StartList/StartElem/FromUint/etc fails for named byte array"
I see the following errors when the list commands on the target interface are used instead of the FromBytes function for named byte slices and arrays. @tatatodd

[code]

[2015-12-29 18:48] asadovsky commented on #1031
Thanks for the detailed and thoughtful writeup. I'll need to give this some thought.

My initial reaction is that (A) is unappealing, and it's not clear whether (B) is worth the bloat, so my inclination is to start by picking between (C) vs. simply dropping the auto-close behavior and making pipelines more awkward - and if the latter, doing (B) later if we decide it's worthwhile.

Regarding (C), I

[2015-12-29 21:22] tatatodd commented on #1031
I had a different idea, and sent out some CLs that implement it here:
https://vanadium-review.googlesource.com/#/q/topic:toddw-gosh_close

It's a slightly different idea based on (C):

D) Keep the existing auto-closing behavior, but change the argument from io.Writer to io.WriteCloser.  This makes the auto-closing a bit more explicit and expected.  Also add gosh.NopWriteCloser which extends a regu

[2015-12-30 18:39] aghassemi opened #1033 "Syncbase: Add AndroidSyncbaseClient and LinuxSyncbaseClient helprs in Dart API"
We should publish the Linux and Android mojo files for syncbase somewhere such as:
https://mojo.v.io/syncbase/<version>/<target>/syncbase.mojo

after that, each version of the Syncbase dart library should have a helper mehtod for creating the client what does not take any Url and points to the write version on the cloud.

For instance, if I have version 0.0.25 of the Dart client, I should be able

[2016-01-04 16:31] bprosnitz opened #1034 "Failure in rpc stress test: SumStream: Bad protocol or type: failed to encode arg #-1: EOF"
https://veyron.corp.google.com/jenkins/job/vanadium-go-rpc-stress/746/console

[code]

@suharshs @mattr-google

[2016-01-04 16:33] bprosnitz opened #1035 "While running integration test: "Failed to create e-mail address for @google.com""
https://veyron.corp.google.com/jenkins/job/vanadium-integration-test/1473/console

[code]

[2016-01-04 16:34] bprosnitz commented on #1035
@jinjingforever  @nlacasse

[2016-01-04 16:39] bprosnitz commented on #1035
This shows up as a failure in v.io/v23/syncbase/featuretests.TestV23CRAppResolved

[2016-01-04 16:40] bprosnitz commented on #1035
@bjornick

[2016-01-04 18:43] jinjingforever commented on #1035
There seems to be a bug in vanadium_scm plugin. I will fix that. Thanks for catching it!

[2016-01-04 19:08] jinjingforever commented on #1035
Should be fixed by v.io/c/18795

[2016-01-04 19:08] #1035 closed, assigned to jinjingforever

[2016-01-04 19:25] ghost commented on #1034
This is a dup of #1029

[2016-01-04 19:25] #1034 closed, assigned to nobody

[2016-01-04 23:35] bprosnitz opened #1036 "vclockd: DoNtpUpdate: failed to fetch NTP time: vclock: NtpSync: no NTP server"
I saw this error while running the go-cover test https://veyron.corp.google.com/jenkins/job/vanadium-go-cover/1355/testReport/junit/v/io_v23_syncbase/TestAppDestroyAndRecreate/

[code]

[2016-01-05 00:21] #991 closed, assigned to nobody

[2016-01-05 01:12] ghost commented on #991
This is fixed by https://vanadium-review.googlesource.com/#/c/18800/

[2016-01-05 02:01] tatatodd commented on #1031
I've submitted the CLs that implement option (D):
https://vanadium-review.googlesource.com/#/q/topic:toddw-gosh_close

[2016-01-05 02:01] #1031 closed, assigned to asadovsky

[2016-01-05 04:00] asadovsky commented on #1036
That particular message is expected - we disable NTP in tests since it involves contacting a third-party server:
https://github.com/vanadium/go.ref/blob/master/services/syncbase/server/service.go#L192

The test must be failing for some other reason. @ivanpi-mtv wrote this test recently, so I'm assigning to him to investigate.

[2016-01-05 18:54] bprosnitz opened #1037 "Syncbase error: corrupt database"
https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/ARCH=amd64,OS=linux,TEST=vanadium-integration-test/570/console

[code]

[2016-01-05 19:34] #1037 closed, assigned to ivanpi-mtv

[2016-01-05 22:22] bprosnitz opened #1038 "Frequent failure in TestV23CRAppResolved during release candidate test"
https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/578/ARCH=amd64,OS=darwin,TEST=vanadium-integration-test/console

This looks like an RPC issue

[code]

@suharshs @mattr-google

[2016-01-05 22:32] bprosnitz commented on #1038
@jatinlodhia is working on this, but closing because an issue already exists

[2016-01-05 22:32] #1038 closed, assigned to nobody

[2016-01-05 23:00] #1023 closed, assigned to suharshs

[2016-01-05 23:50] ribrdb opened #1039 "Consider limits for mtu and/or setup message size"
Now that the mtu is configurable we may want to set a minimum MTU and/or enforce a maximum setup message size.

[2016-01-06 17:16] aghassemi opened #1040 "Better tooling for creating structures and performing simple manipulation of data"
Currently it is hard to create app/db/table structures without writing code. However use-cases such as having a cloud sync peer require structure to exist but there is no code running on those instances. Also having a tool to play around with the DB structure and insert/delete data or do administration tasks such as setting ACLs would be useful in general.

Extending the `sb` CLI tool seems like a

[2016-01-06 17:25] aghassemi opened #1041 "Publish Mojo Syncbase for FNL"
Currently we can only ccompile Mojo Syncbase for Linux and Android with the build scripts we have. So we only publish binaries for those two platforms. We need to support FNL as well in the same way. So far building for FNL has been a manual process that only couple of people can perform on couple of machines.

@nlacasse @asadovsky @tatatodd

Same goes for Mojo version of V23 Discovery.

[2016-01-06 17:25] #999 closed, assigned to bjornick

[2016-01-06 18:33] suharshs opened #1042 "vdl recurse tests have disappeared."
cc: @bprosnitz

After running the intellij dead code analyzer, there was a lot of unused code in v.io/x/ref/lib/vdl/opconst/testutil_test.go.

The tests that used that code have either moved or been deleted. We should figure out what happened to them.

[2016-01-07 00:57] AsturaPhoenix opened #1043 "Vanadium Android fails to load when included via Android Gradle 1.5.0"
Steps to repro:
In a project successfully using Vanadium Android 1.0 and Android Gradle 1.3.1 or older, upgrade to

[code]

and observe the following exception when running on Android:

[code]

[2016-01-07 01:40] mdgilbert opened #1044 "Vanadium tutorial installation script from v.io fails"
Output from the install script is included below. Trying again later was not successful.

Instructions followed were from https://v.io/installation/index.html.

---

[code]

[2016-01-07 02:06] ivanpi-mtv commented on #1021
Looks like same underlying issue as #1005

[2016-01-07 02:11] ivanpi-mtv commented on #1036
Duplicate of #1021

[2016-01-07 02:11] #1036 closed, assigned to ivanpi-mtv

[2016-01-07 03:49] afandria opened #1045 "All Mojo builds are broken"
This has been caused by a recent change in Mojo. https://github.com/domokit/mojo/issues/608

It seems that when we install the Mojo profile, we clone their repository (with `--recursive`). It appears that the recursive part is problematic all of a sudden, so all the presubmits and tests related to mojo fail.

[2016-01-07 04:11] afandria commented on #1045
@aghassemi @nlacasse @ivanpi-mtv @hpucha

I have https://vanadium-review.googlesource.com/#/c/18869 and https://vanadium-review.googlesource.com/#/c/18868 out to work around this problem. Will submit in the morning, though you should feel free to TBR it.

I tested it this way:
- Removed my old mojo profile and deleted $JIRI_ROOT/profiles/mojo
- Checked that the mojo profile cannot be installed. (f

[2016-01-07 14:36] bprosnitz opened #1046 "Submodule mapping error in mojo profile installation"
No submodule mapping found in .gitmodules for path 'third_party/dart-pkg/archive'
https://veyron.corp.google.com/jenkins/job/vanadium-mojo-syncbase-test/231/console

Did something change in the configuration recently?

@tatatodd @nlacasse @afandria

[2016-01-07 14:46] bprosnitz commented on #1042
I searched the repo (with git log -S) and the only occurance of these values is in this commit https://github.com/vanadium/go.ref/commit/232d6491865430b651b279d104abfa2a641d95ed/lib/vdl/opconst/testutil_test.go back in February.

This is when our code switch between repos. Since it hasn't been used since february and is only local to the package, it seems like it is safe to get rid of?

[2016-01-07 17:49] jeffallen opened #1047 "bootstrap should accept Go built from tip"
The https://v.io/bootstrap installation checks Go version and refuses if it is not 1.5. My go is built from tip.

$ GO_VERSION=$(go version 2> /dev/null)
$ TOKENS=(${GO_VERSION})
$ TOKENS=($(echo "${TOKENS[2]}" | tr '.' ' '))
$ echo $TOKENS
devel

I would have liked it if the bootstrap script said "Using Go "devel" is not supported but if you'd like to use it anyway, set V_GOVER=devel."

I underst

[2016-01-07 18:04] nlacasse commented on #1046
https://github.com/domokit/mojo/issues/608

[2016-01-07 18:26] tatatodd commented on #1042
We should make sure that we have tests of self-recursive and mututally-recursive types in all of our VDL / VOM tests.  Maybe we do have these tests and they've been renamed or something; I haven't looked.

[2016-01-07 18:41] afandria opened #1048 "Jiri Clone renames"
jiri Clone does `git clone --recursive` in `Clone` and `git clone` in `CloneNonRecursive`. I want to rename them.

[code]

It's possible that some CloneRecursives can become non recursive, but that is less important.

[2016-01-07 18:55] asadovsky commented on #1047
Thanks for the issue report! I think your suggested behavior makes sense - we'll take care of this soon.

@cosnicolaou @nlacasse If I remember correctly, we now install Go 1.5 to the Vanadium profiles dir as part of the profile installation. If so, do we still need the 1.5 check in the bootstrap script? (Or maybe I'm misremembering?)

[2016-01-07 19:00] #1045 closed, assigned to afandria

[2016-01-07 19:00] AsturaPhoenix opened #1049 "Blessings sought by principal tool fail to attain third-party caveat discharge"
I have a couple applications that use blessings sought by the principal tool to mount Vanadium services on the global mount table. Since the latest round of jiri updates and cleaning credentials, I have been getting "missing discharge for third party caveat" errors trying to do this mount.

Example:

[code]

This happens with both Covalence and syncbased.

[2016-01-07 19:05] nlacasse commented on #1046
Fixed by https://github.com/vanadium/go.devtools/commit/beb739f96e250706f4e2e21161b84fccc7d777cb

[2016-01-07 19:05] #1046 closed, assigned to nlacasse

[2016-01-07 19:47] ivanpi-mtv commented on #1021
Fixed by v.io/c/18853

[2016-01-07 19:47] #1021 closed, assigned to ivanpi-mtv

[2016-01-07 21:54] ivanpi-mtv commented on #1005
Underlying cause fixed in v.io/c/18853
Test reenabled in v.io/c/18874

[2016-01-07 21:54] #1005 closed, assigned to ivanpi-mtv

[2016-01-07 22:06] ivanpi-mtv commented on #1037
Working as intended.

[2016-01-07 22:23] asimshankar commented on #1049
Hmm...these are Android apps? Or are they using Flutter?

From the pure command-line interface, the third party caveats seem to be working fine:

[code]

Will come by and take a look at your setup

[2016-01-07 22:33] asimshankar commented on #1049
Please send instructions on reproducing the problem

[2016-01-07 22:41] AsturaPhoenix commented on #1049
It's looking like this may just be a race condition; subsequent mount attempts seem to work?

This fails to attain the third-party caveat discharge:

[code]

Subsequently trying just:

[code]

without the seekblessings successfully attains the discharge (and if you change "foo" to a users mount point you have access to, it successfully mounts).

[2016-01-07 23:52] AsturaPhoenix commented on #1049
The command you provided exhibits the same behavior when done in immediate sequence:

[code]

[2016-01-08 00:25] aghassemi commented on #835
I think I will do this soon.

[2016-01-08 00:34] aghassemi opened #1050 "Discovery: Scan stream includes services advertised by the same discovery client."
Maybe we should excludes services that are advertised by the same discovery client? I expect the common case to be the advertiser ignoring their own advertisements since they would be handling those differently than services from others.

@bjornick @asadovsky @jhahn21

[2016-01-08 00:36] #1048 closed, assigned to afandria

[2016-01-08 00:50] jhahn21 commented on #1050
This is on our todo:
https://docs.google.com/document/d/1RkN5ndOfVh728OHXEb4fYaXL1hWaHBEQPrhnBMdT5og/edit#heading=h.ide9lpycot1z

But it's not clear how to identify the same discovery client, since there may be multiple clients for a single discovery instance in a device.

@asimshankar

[2016-01-08 02:18] asadovsky commented on #1050
A couple ideas:
- Provide a client library, where each client stub instance stores a session id which is included in the discovery payload
- If you don't want to force clients to instantiate a stub object, you could use the process pid or somesuch as an implicit session id

(Of course, each of these has drawbacks.)

[2016-01-08 02:19] jatinlodhia commented on #1013
Fix in CL https://vanadium-review.googlesource.com/#/c/18888/

[2016-01-08 02:19] jatinlodhia commented on #1027
Fix in CL https://vanadium-review.googlesource.com/#/c/18888/

[2016-01-08 05:45] jeffallen commented on #1047
"jiri cl" does not seem to work with the www repository, because it is not part of the set of jiri-managed repos. So I can't follow the instructions in contributing.md.

Here's the patch I was trying to send:

[code]

(I have signed the CLA for golang.org contributions, so if you take this patch from here and check it in yourself there will be no CLA worries.)

[2016-01-08 19:27] aghassemi commented on #1049
@asimshankar  I get the same error from Mojo Apps.

[code]

[2016-01-08 19:28] jhahn21 commented on #1050
I was thinking a similar way like putting a session id to context.

[code]

But I'm not sure whether we want to put this WithSession() into context (@mattr-google) :), although I think it's clearer than providing as a discovery util function.

[2016-01-08 19:31] aghassemi opened #1051 "Provide a public `scratch` dir in ns.v.dev.io mounttable"
Currently experimental apps that need to just mount themselves somewhere don't have a good place to do so. They need to either run their own mounttable somewhere or use credentials and mount under user's personal space on ns.dev.v.io. Too much work when experimenting with stuff.

For the time being at least, we should provide a `/ns.dev.v.io:8101/scratch` that anyone can read/write to.

@asimshank

[2016-01-08 19:41] #1013 closed, assigned to jatinlodhia

[2016-01-08 19:42] #1027 closed, assigned to jatinlodhia

[2016-01-08 21:16] #1049 closed, assigned to asimshankar

[2016-01-08 21:42] AsturaPhoenix opened #1052 "Vanadium namespace root mutability"
The Vanadium API allows namespace roots to be changed but not restored to default (i.e. no query for later reset) and the change is not reflected in mount status, which has no information about which root mount table a status with a relative name pertains to and keeps its previous mount statuses even after mount status change.

The scenario here is I have integration tests that test mounting and t

[2016-01-08 22:04] asimshankar commented on #1051
https://vanadium-review.googlesource.com/18906 resolves this
(Haven't checked it in yet, but have deployed it so it is fully operational)

As noted in the CL description, this is really a free for all so there is no protection from someone mounting on "tmp" itself and hiding names underneath.

(Oh, and instead of just mentioning - in the future please just assign the issue to me/someone :) @ menti

[2016-01-08 22:04] #1051 closed, assigned to asimshankar

[2016-01-08 22:10] aghassemi commented on #1049
Would this just require updating clients or do we need to deploy prod services?

[2016-01-08 22:11] AsturaPhoenix commented on #1052
Querying the mount table directly is not itself sufficient since it won't give us error information for failed mounts; at best we'd have to query both mount status and the mount table right now. I'll just leave it as a TODO in Javadoc for now, since this may eventually not be supported at all.

[2016-01-08 22:30] AsturaPhoenix commented on #1052
About having no query for later reset, Vanadium does spec out a withNewNamespace method, but it's not available in the Vanadium runtime for Android.

[2016-01-08 22:30] yyoon commented on #1051
For some reason, the new "tmp" dir appears to be a service, not a mount point (from the namespace browser). Shouldn't it be a mount point instead?

[2016-01-08 23:23] asimshankar commented on #1049
Just the clients.

[2016-01-08 23:33] asadovsky opened #1053 "TestAgentShutdown isn't testing anything useful"
As part of CL v.io/c/18796, @caprita and I noticed that TestAgentShutdown doesn't appear to test anything useful. It should be rewritten or deleted.

For more detail, see the code review comments here:
https://vanadium-review.googlesource.com/#/c/18796/9/services/agent/agentlib/agent_test.go

[2016-01-09 00:10] afandria opened #1054 "third-party go test fails despite succeeding"
For example, github::com/rubenv/sql-migrate/sqlparse::Test [GoTest - linux,amd64]

https://dashboard.staging.v.io/?arch=amd64&class=github.com%2Frubenv%2Fsql-migrate%2Fsqlparse&job=third_party-go-test&n=18307&os=linux&part=0&suite=github.com%2Frubenv%2Fsql-migrate%2Fsqlparse&test=Test+%5BGoTest+-+linux%2Camd64%5D&type=presubmit

[2016-01-09 02:58] afandria opened #1055 "Flutter profile"
I added it to make presubmits pass, but we may want to remove it if it can be obtained differently.

@nlacasse

[2016-01-09 03:04] afandria commented on #946
Done

[2016-01-09 03:04] #946 closed, assigned to afandria

[2016-01-09 03:10] asimshankar commented on #1051
It is a mountpoint - you might have caught it at a time I was experimenting with folks overwriting each other and mounting on `tmp` itself.

The end result of the CL is that:
(a) You must have a blessing rooted in `dev.v.io` to mount. It doesn't matter what it is, so both `dev.v.io:u:<email>` and `dev.v.io:o:<clientid>` prefixes work.
(b) Once you create a mountpoint, then the creator has `Admin`

[2016-01-09 22:06] asadovsky opened #1056 ""jiri test run" usability issues"
I wanted to run tests for a specific package via "jiri test run" (v.io/x/chat) and hit a number of usability issues:
1. "jiri test run" should fail immediately if anything is wrong with the command line invocation (e.g. invalid flags, unknown test groups or tests, etc.)
2. "jiri test run" should respect signals (e.g. Ctrl-C) and terminate all running tests
3. "jiri test run" help should make it cl

[2016-01-09 22:08] asadovsky commented on #1056
(Reading the help text more carefully, I realized the correct invocation is "jiri test run -pkgs v.io/x/chat vanadium-go-test".)

[2016-01-09 22:12] tatatodd commented on #1056
FYI (2) is a general issue with jiri; I've also noticed it with "jiri go test ...".

I'm not positive, but I think we used to ensure that all subprocesses were spawned with the correct ppid, such that when the main jiri binary exited, all subprocesses exited.  I'm not sure what happened, but somewhere along the line this behavior was broken.

[2016-01-10 00:54] cosnicolaou commented on #1056
The orphaned children has always been a problem and at various times I've tried to track them down, but the device manager tests in particular, have proven problematic. Do you know which processes were left lying around? It's certainly the case that the 'modules' package and associate shell tried hard to clean up all child processes and I believe that all got carried forward with gosh. I'd be happ

[2016-01-10 04:05] tatatodd commented on #1056
FYI the jiri code that I was thinking about is in the following CL.  It actually did the opposite; it was trying to avoid sending an initial SIGINT to all child processes when the user hit ^C the first time, by spawning a helper process with a different pgid:
https://vanadium-review.googlesource.com/#/c/9895/4/v23/main.go

Note that this CL was later reverted, because it caused "v23 cl mail" to br

[2016-01-10 04:13] tatatodd commented on #1056
FYI I tried to reproduce the "lingering test process" issue for "jiri go test ...", and couldn't reproduce it.  So I think I was mistaken, and the only problem we have is with "jiri test run ..."

[2016-01-10 16:48] jeffallen opened #1057 "kill_tut_process on macos should not use "wait -n""
Seen while doing tutorials:

$ kill_tut_process TUT_PID_SERVER
-bash: wait: -n: invalid option

I don't know what "wait -n" does, but MacOS doesn't need it.

[2016-01-10 17:31] jeffallen opened #1058 "Tutorial images still use slashes in blessings"
Tutorial SVG currently on v.io/tutorials still use slashes in blessings.

For example: https://v.io/images/tut/security04-alice-carol-succeed-bob-fails.svg

[2016-01-10 18:53] jeffallen opened #1059 "3rd part tutorial still uses slashes"
https://v.io/tutorials/security/third-party-caveats.html says my blessing should be like dev.v.io/u/${yourEmailAddress}/docs. But it has colons now.

[2016-01-10 20:47] cosnicolaou commented on #1056
See v.io./c/18933 for a fix to jiri-test to test for the existence of all command line specified tests before running any of them.

[2016-01-11 19:15] afandria opened #1060 "vbinary is using too many resources"
I'm concerned about vbinary's resource usage. It takes a long time to compile, which is fine, but when I run it (for releases), it takes a LOT of CPU and memory. Using `top`, it seems that CPU is usually 200% and peaks at around 400%, and the memory usage grows up to about 4.6 gb of memory.

The reason I was concerned is that vbinary froze my workstation the first time I tried to run it. After a h

[2016-01-11 20:57] afandria commented on #1044
Thanks for the report @mdgilbert. Is this still happening for you? Are you using OSX or Linux?

@monopole @jxson Any ideas about what's causing this? I tried the installation on OSX and Linux, and they are fine.

[2016-01-11 21:06] afandria commented on #1057
Thanks for reporting this. I can confirm that it doesn't error on Linux but does on OS X.

@monopole @jxson
In `www/content/tutorials/setup.md`, we define `kill_tut_process` with `wait -n`, but I do not know what the `-n` flag adds. Superficially, the behavior seems to be the same even without the flag.

EDIT: https://www.gnu.org/software/bash/manual/html_node/Job-Control-Builtins.html describes w

[2016-01-11 21:10] afandria commented on #1058
We definitely need to update these images.

@asimshankar Do you know who created the .svg files for the security tutorials? We will need to update most of them, since they show "/" instead of ":" in the blessing strings.

[2016-01-11 21:12] afandria commented on #1059
Related: #1058
@asimshankar

[2016-01-11 21:18] asimshankar commented on #1058
@lnizix created them, will reach out to her for an update

[2016-01-11 21:23] monopole commented on #1058
dupe of https://github.com/vanadium/issues/issues/901

[2016-01-11 21:23] #1058 closed, assigned to asimshankar

[2016-01-11 21:23] aghassemi commented on #908
Works on any network now. Performance is not great about 6 seconds for scan when using Bluetooth only( e.g. connected to a network that does not support MDNS like GoogleGuest). Scan is a lot faster on a network that has MDNS like syncslides-alpha.

[2016-01-11 22:07] aghassemi opened #1061 "Make Bluetooth RPC work in the Mojo/Android world"
Use-case is Mojo Syncbase being able to sync with other devices over Bluetooth. Ideally the solution extends transparently to any other service and not just Syncbase.

Maybe we can resurrect https://cs.corp.google.com/#piper///depot/veyron/v/src/veyron/runtimes/google/lib/bluetooth/bt.c&type=cs and ensure it works in Android and Linux so we don't need Java

Maybe Mojo should provide a Bluetooth se

[2016-01-11 22:13] monopole commented on #1059
fixed by https://vanadium-review.googlesource.com/#/c/18966/

[2016-01-11 22:13] #1059 closed, assigned to asimshankar

[2016-01-11 22:16] monopole commented on #1057
fixed by  https://vanadium-review.googlesource.com/#/c/18970/

It's going to be a little while before these changes autopush to v.io

Thanks for the reports @jeffallen

[2016-01-11 22:16] #1057 closed, assigned to monopole

[2016-01-11 22:41] asadovsky commented on #1056
Thanks Cos! That addresses issue (1), which indirectly helps with (3) since mistakes aren't so painful.
I just sent v.io/c/18973 and v.io/c/18974 to further help with (3).
Once those are in, the only remaining issue will be (2) - the Ctrl-C problem.

[2016-01-11 22:46] cosnicolaou commented on #1056
can you recall which binaries were left running?

Cheers, Cos.

On Mon, Jan 11, 2016 at 2:41 PM, Adam Sadovsky notifications@github.com
wrote:

[2016-01-11 22:51] asadovsky commented on #1056
Here's what I remember happening (this was a couple days ago):
- I opened a terminal on my OS X machine, entered "jiri test run vanadium-go-test", and hit enter
- I waited some number of seconds
- I realized that I messed up the invocation, so I hit Ctrl-C
- Ctrl-C killed the parent process, so I could enter commands into the terminal. However, the process that actually runs the tests and reports

[2016-01-11 22:53] asadovsky commented on #1056
Also, in case it's helpful: I've noticed that if I Ctrl-C fast enough, I don't hit this problem. I haven't tried this again, but I think this problem only happens if one waits for a little while before doing the Ctrl-C. I'm guessing that's because it takes a few seconds for the "jiri test run" process to spawn its "test orchestrator" child. I'm just speculating here, though.

[2016-01-11 22:55] cosnicolaou commented on #1056
thanks - this all sounds very plausible - I'll try and repro.

Cheers, Cos.

On Mon, Jan 11, 2016 at 2:53 PM, Adam Sadovsky notifications@github.com
wrote:

[2016-01-11 23:13] ivanpi-mtv opened #1062 ""jiri update" fails to create project"
`jiri update` fails to find `.manifest/git-hooks` when creating a new project.

Current Directory: <jiri_root>/release/go/src/v.io/x
project.go:1657: create project "release.go.x.swift" in "<jiri_root>/release/go/src/v.io/x/swift" and advance it to "458b2563": lstat .manifest/git-hooks: no such file or directory

It works when `jiri update` is run from `$JIRI_ROOT`, so it appears that `.manifest`

[2016-01-12 00:30] #1062 closed, assigned to nlacasse

[2016-01-12 02:09] asadovsky commented on #901
Do we know if @lnizix is seeing this? (Perhaps her GitHub notifications aren't set up right?) I'll send her a quick email.

[2016-01-12 06:18] tatatodd opened #1063 "Rename textutil.LineWriter to WrapWriter, and PrefixLineWriter to LineWriter"
@asadovsky

The v.io/x/lib/textutil package provides some convenient io.Writer wrappers:

  LineWriter: does word-wrapping
  PrefixWriter: adds a prefix to the beginning of the output
  PrefixLineWriter: adds a prefix to the beginning of each line

Renaming these might make things more clear:

  LineWriter -> WrapWriter
  PrefixLineWriter -> AtomicLineWriter

I'm thinking AtomicLineWriter would lo

[2016-01-12 16:14] mdgilbert commented on #1044
This was on a newly imaged Linux workstation. And, what a difference a day
(or two) make. I tried it again this morning with no other changes, and it
completed with no errors. Output, as expected:

$ source vanadium_install.sh
Block 'mustHaveBash' (1/7 in test) of content/installation/details.md
Block 'define_V23_RELEASE' (2/7 in test) of content/installation/details.md
Block 'mustHaveBash' (1/7 i

[2016-01-12 18:20] asadovsky opened #1064 "TestV23CRMultipleBatchesAsSingleConflict flaky"
Looks like perhaps a different kind of flakiness than before:
https://dashboard.staging.v.io/?arch=amd64&class=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&job=vanadium-integration-test&n=18428&os=linux&part=0&suite=v.io%2Fv23%2Fsyncbase%2Ffeaturetests&test=TestV23CRMultipleBatchesAsSingleConflict+%5BV23Test+-+linux%2Camd64%5D&type=presubmit

[2016-01-12 18:50] yyoon opened #1065 "io.WriteCloser version of textutil.PrefixLineWriter?"
@asadovsky @tatatodd

I just realized the `textutil.PrefixLineWriter` is almost the same thing as the `prefixer` I wrote for madb tool last week (see my code here: https://github.com/vanadium/go.devtools/blob/master/madb/prefixer.go). It's good to reuse the common library, so I want to use `textutil.PrefixLineWriter` instead.

The only difference I see here is that `PrefixLineWriter` is a `textuti

[2016-01-12 18:53] afandria opened #1066 "identityd: Running out of file descriptors"
https://veyron.corp.google.com/jenkins/job/release-candidate-3-deploy/232/console

`error from oauth-blesser: got 500 Internal Server Error`

This affects our daily push.

@asimshankar @ankurtaly IIRC, we tried to fix this a couple days ago, but it's still happening, unfortunately.

[2016-01-12 19:02] asimshankar commented on #1066
Yeah, I haven't traced the root cause of this, but for the record what's happening is that the process runs out of file descriptors because there are tons of (presumably) half-closed TCP connections lying around.

Here is a snippet of `lsof -p <pid of identityd>`:

[code]

And for reference, this is what I found about `can't identify protocol` implying sockets in [half-closed state](https://idea.p

[2016-01-12 19:14] tatatodd commented on #1065
Yeah, Adam and I have discussed this a few times.  The original version of PrefixLineWriter did exactly that - it provided a Close method, in addition to a Flush method.  And indeed it's simpler to use with gosh.

Assume we had a Close method, and we changed the API to look like this:

  func PrefixLineWriter(w io.Writer, prefix string) io.WriteCloser

Here's where we get stuck; we have a tradeoff

[2016-01-12 19:26] yyoon commented on #1065
Okay. These all make sense to me. It sounds like I'm following the exact path that you've gone through. I do dynamically check if the writer is a `Closer` and close it, and treat stdout/stderr as special cases, which is arguably a bad design.

For now, I guess I'll create a small wrapper around the `PrefixLineWriter`, which would save a few lines of code here and there.

BTW, #1063 was the reason

[2016-01-12 19:26] #1065 closed, assigned to nobody

[2016-01-12 19:26] asimshankar commented on #901
https://vanadium-review.googlesource.com/18986
should resolve this.

Will close this out once that change is submitted and the site has caught up with the change

[2016-01-12 20:40] asimshankar commented on #1066
FYI: The workaround for now is to bump the process and/or update the file descriptor limit of the process

[2016-01-12 21:03] monopole commented on #1044
We've not done the work to assure everything needed for an install is _always_ available, hence the (admittedly lame) "try again later" message.  Lots of investment needed to get another "9" in the uptime.  Trying again in 5-10 mins usually works.

[2016-01-12 21:03] #1044 closed, assigned to monopole

[2016-01-12 21:45] monopole commented on #1050
My 'moments' app ignores its own ads by storing the ad's ID in a table when advertising is on, and consulting that table on the scan side - dropping self adverts on the floor.

Ken's 'syncslides' app sends a "device UUID" as an advertising attribute, and uses that to drop the ad on the floor on the scan side.

First option is more bookkeeping, the second option adds the string encoding of a 128 bi

[2016-01-12 21:46] suharshs commented on #1060
I wrote vbinary. What command did you run?

It downloads a bunch of binaries in parallel so I can see it being expensive :)

[2016-01-12 21:48] suharshs commented on #1022
I am taking a look here. https://vanadium-review.googlesource.com/#/q/topic:suharshs-fservers

[2016-01-13 02:13] ghost commented on #1061
So, we can easily make it work on desktop linux machines, but it's not clear that's of use to anyone.  We have an implementation that works if you are using java/android, but it can't be used by pure go programs on android because android doesn't expose the requisite apis.

We would have to have a mojo service to do bluetooth.  Do you know if that is being worked on?  Does it have a bug?  After th

[2016-01-13 02:24] afandria commented on #1060
Great, thanks.

After installing `jiri go install v.io/x/devtools/vbinary`, I ran the very expensive command:

[code]

[2016-01-13 02:30] afandria opened #1067 "vanadium-baku-test failing"
It's not urgent since release.projects.baku seems relatively new, but it would be good to fix if you have time.

[2016-01-13 09:44] asimshankar commented on #901
I believe all images have been updated, if there were some that were missed I hope a new bug will be created.

[2016-01-13 09:44] #901 closed, assigned to asimshankar

[2016-01-13 09:50] asimshankar commented on #1024
Duplicate of #1057 , which has been fixed now.

[2016-01-13 09:50] #1024 closed, assigned to nobody

[2016-01-13 09:51] asimshankar commented on #915
@nlacasse : Could you take a look?

[2016-01-13 17:31] #1022 closed, assigned to suharshs

[2016-01-13 17:44] asimshankar commented on #1066
I think the change above worked, looking at the staging instance deployed at around 5am there are no `can't identify protocol` lines in the output of `lsof`. Will verify on the production instance once that is upgraded and then close this issue

[2016-01-13 17:57] jeffallen opened #1068 "proxy docs have bad link"
First, the documentation on proxying on v.io is... underwhelming at the moment. :)

But what's there has a bad link. https://v.io/tools/services.html links to https://godoc.v.io/pkg/v.io/x/ref/services/proxy/. It should be https://godoc.v.io/pkg/v.io/x/ref/services/xproxy/.

I'm also not really seeing the point of running godoc.v.io, since all this source is in github and godoc.org can index it.

[2016-01-13 18:01] jeffallen commented on #1060
The Go tutorial has an exercise on how to rate limit a spider. Perhaps @suharshs should go give it a try. :)

Seriously, the typical solution to "too much work in parallel" is that each worker should take a ticket out of a buffered channel and put the ticket back in via a defer. The number of tickets in the channel at startup determines the parallelism.

I would be willing submit a CL for this, if

[2016-01-13 18:50] suharshs commented on #1060
Oops, just saw your comment now :)

Just wrote a CL here: https://vanadium-review.googlesource.com/#/c/19041/

My solution is actually almost exactly what you said Jeff.

[2016-01-13 18:59] caprita opened #1069 "deprecate lib/exec"
The Vanadium lib/exec package provides three value-adds on top of using Go's exec package:
- mechanism to pass a secret from parent to child via a pipe
- mechanism to pass configuration from parent to child over a pipe
- mechanism for child to notify parent when it's 'ready'

The only remaining user of lib/exec is also the original user: device manager. We think we can switch device manager to usi

[2016-01-13 18:59] caprita commented on #1069
@cosnicolaou expressed interest in picking this up if time permits.

[2016-01-13 19:11] asimshankar commented on #1066
Looked at the production instance, seems to be doing well so closing this out.

For the record: My theory on why this old piece of code triggered trouble now: We recently switched to using the `gcreds` command on GCE instance to obtain credentials and that exercises the oauth-blesser HTTP endpoint much more often than before. So the leak existed earlier too, we just didn't notice because the endpo

[2016-01-13 19:11] #1066 closed, assigned to asimshankar

[2016-01-13 19:12] asimshankar commented on #392
@suharshs : Is this still relevant after the changes to the RPC system
and proxy protocol?

[2016-01-13 19:12] jxson commented on #1067
Hmm, that test is very simple. It calls `make clean` and then `make test`. Looking at the output it seems that recent updates to the jiri tool might be the issue. Lots of errors in the `jiri update` phase ending with:

[code]

Maybe @nlacasse has an idea?

[2016-01-13 19:31] nlacasse commented on #1067
I submitted a change to jiri's git-hook logic 2 days ago, which is likely the culprit.  https://vanadium-review.googlesource.com/#/c/18880/

I'm investigating.

[2016-01-13 19:34] #1060 closed, assigned to suharshs

[2016-01-13 19:53] nlacasse commented on #1067
The failures were all on jenkins-node85.  It looks like that node had a very old workspace, and jiri wasn't able to update to the current version.

I deleted the baku workspace on that node, and it seems to have been recreated successfully, and the test is green again.

I'm going to run a task to clean up all old workspaces now, which will hopefully let us avoid this issue in the future.

[2016-01-13 19:53] #1067 closed, assigned to nlacasse

[2016-01-13 19:53] asadovsky commented on #954
We have no immediate plans to change the JS setup, but all bugs should be assigned to someone, so I'll assign this to myself.

[2016-01-13 19:56] asadovsky commented on #953
Assigning to Mike since I believe he's familiar with all the pieces involved and has been having conversations with Benj/Todd about VOM. Mike, feel free to assign this back to me if that doesn't make sense. (I imagine a lot of the work will be done by Benj/Todd in any case, but we need someone from the Syncbase side to track it and close the loop.)

[2016-01-13 19:59] asadovsky commented on #952
Assigning to Raja for tracking, since all issues should be assigned to someone, but there may not be anything for us to do here for a while.

[2016-01-13 19:59] asimshankar opened #1070 "Update proxy design document"
The document at https://docs.google.com/document/d/1rfocoE98Fo9fTdxKtU_uaBmyhZNlvhDPvjzR5MelpDE/edit?usp=sharing
does not fully reflect the current state.

Please update that @suharshs  :)

FYI @mattr-google

[2016-01-13 20:00] asadovsky commented on #949
Assigning to Ken for tracking since I think what we care about initially is making common scenarios simple on Android.

[2016-01-13 20:02] asadovsky commented on #926
Assigning to myself, though I'm not sure we'll end up doing anything here.
(If anything, perhaps we'd switch to a "document store" model, where primary keys are included in the value and converted into keys on the server side.)

[2016-01-13 20:19] jxson commented on #1067
@nlacasse thanks!!

[2016-01-13 20:41] asadovsky commented on #959
Ali, want to take a stab at this one as a way to learn more about our storage impl?
Assigning to you for now, but feel free to assign back to me if you don't want it.

[2016-01-13 20:44] asadovsky commented on #925
Assigning to myself for tracking, but I'm not sure yet whether we'll actually want to do this.

[2016-01-13 20:47] asadovsky commented on #857
Assigning to Ivan, as it's somewhat related to #922.

[2016-01-13 20:49] asadovsky commented on #921
Assigning to myself for now.

[2016-01-13 20:52] asadovsky commented on #920
Assigning to Bindu for tracking, though we haven't yet fleshed out what this might look like.

As a side note, I played some with OT in the past as a side project, and recently resuscitated that project to add CRDT text editing support (with Logoot). My implementation is simplistic and incomplete, but it hints at potential design issues and might be useful as a baseline for further exploration:
ht

[2016-01-13 20:55] asadovsky commented on #919
Related to #920. Pasting my note from there:

Assigning to Bindu for tracking, though we haven't yet fleshed out what this might look like.

As a side note, I played some with OT in the past as a side project, and recently resuscitated that project to add CRDT text editing support (with Logoot). My implementation is simplistic and incomplete, but it hints at potential design issues and might be us

[2016-01-13 21:04] asadovsky commented on #909
Assigning to Jatin for now since he's done the most schema stuff.

[2016-01-13 21:05] asadovsky commented on #905
Assigning to Ali, but let's chat before making changes as I'm not sure all of these changes should be made.

[2016-01-13 21:07] asadovsky commented on #904
I'll take care of this one. I'll probably just use `filepath.Join(os.TempDir(), "syncbase")`.

[2016-01-13 21:08] asadovsky commented on #954
Actually, reassigning this to Shyam for "general JS performance improvements".
I'll assign #890 to myself.

[2016-01-13 21:08] asadovsky commented on #890
We have no immediate plans to change the JS setup, but all bugs should be assigned to someone, so I'll assign this to myself.

[2016-01-13 21:09] asadovsky commented on #889
(Ali, let's whiteboard this sometime.)

[2016-01-13 21:13] aghassemi opened #1071 "Discovery: Change Lost() to get the Service struct instead of just instanceId"

[2016-01-13 21:15] asadovsky commented on #882
Assigning to Bindu for tracking.

[2016-01-13 21:16] asadovsky commented on #885
Assigning to Ali, though perhaps we'll want help from @spetrovic77 or @sjamesr.

[2016-01-13 21:17] asadovsky commented on #884
Assigning to Ali, cc-ing @nlacasse and @bjornick.
I'm guessing we won't touch this for now since JS is not our main focus at this time.
However, I agree with Ross that the Vanadium JS APIs ought to be consistent.

[2016-01-13 21:19] asadovsky commented on #887
Assigning to myself - I'll clean this up as part of the more general sweep through our client API function names and comments.

[2016-01-13 21:20] asadovsky commented on #881
Assigning to Raja for tracking.

[2016-01-13 21:20] asadovsky commented on #848
Assigning to Bindu for tracking.

[2016-01-13 21:23] nlacasse commented on #884
Rather than adding a promise-based API to Syncbase JS, I think we should remove the promise-based API from the rest of Vanadium JS libraries.  (Or, switch everything to a promise-based API and lose callbacks.)

Maintaining both promise- and callback- APIs adds a lot of complexity and tests.

There are libraries like promisify (and callbackify) that developers can use to wrap our API if they would

[2016-01-13 21:24] asadovsky commented on #878
Switching to Raja, to go with #877.

[2016-01-13 21:32] asadovsky commented on #884
SGTM. In Java we went that route as well - we picked one way of doing things for the core impl and APIs, and made sure that it's easy for developers to wrap that if they desire the alternative model.

[2016-01-13 21:33] asadovsky commented on #876
Assigning to myself for tracking.
@ivanpi-mtv or @bprosnitz, could you elaborate on the concern?

[2016-01-13 21:34] asadovsky commented on #875
Assigning to Ivan.

[2016-01-13 21:37] asadovsky commented on #874
Assigning to myself for tracking, as this is more "app developer centric" than Syncbase-implementation-centric. Based on recent discussions with @asimshankar, @jhahn21, and co, our immediate plan is to provide a "discovery-like" API for app developers that do something along the lines of "global discovery", and see how far that takes us. We will plan on incorporating that API into the Syncbase doc

[2016-01-13 21:38] ghost commented on #921
Sorry I missed this when you originally filed it.  I don't have any objection to syncbase setting appropriate timeouts.

[2016-01-13 21:39] asadovsky commented on #874
Also cc-ing @aghassemi and @kenashcraft (for their SyncSlides experience) and @hpucha and @rdvg (since this bears some relation to syncgroup discovery).

[2016-01-13 21:42] asadovsky commented on #873
Assigning to myself for initial tracking, though this will be joint work with @hpucha, @rdvg, and @m3bm3b. I'll start by splitting this out into smaller milestones (checkboxes). The first step will probably be to adjust the APIs per the "Proposed new syncgroup API" doc - I'll take that on. After that, the remaining work will be in augmenting the sync implementation to address the points in the "Li

[2016-01-13 21:44] asadovsky commented on #910
Assigning to Ivan for tracking, though it's not entirely clear yet whether we should do something, and what we should do.

[2016-01-13 21:51] asadovsky commented on #765
I'll take this on. Also +cc @aghassemi

[2016-01-13 21:51] asadovsky commented on #764
I'll take this on. Also +cc @aghassemi

[2016-01-13 21:53] asadovsky commented on #698
Assigning to Bindu for tracking. I guess the first step here will be to figure out which route we want to take.

[2016-01-13 21:54] asadovsky commented on #858
I'll take care of this.

[2016-01-13 22:07] caprita commented on #653
No recent failures for this.

[2016-01-13 22:07] #653 closed

[2016-01-13 22:19] caprita commented on #571
Done.

[2016-01-13 22:19] #571 closed

[2016-01-13 22:44] caprita commented on #290
Done.

[2016-01-13 22:44] #290 closed

[2016-01-13 23:09] caprita commented on #11
Done.

[2016-01-13 23:09] #11 closed

[2016-01-13 23:20] nlacasse commented on #915
@pylaligand The `host` tags in jiri manifests were poorly designed since they only allowed a single gerrit host for all projects in the manifest. We got rid of the `host` tags earlier this week, and you now specify a `gerrithost` attribute each project that uses gerrit.  You can see an example of the new format here: https://vanadium.googlesource.com/manifest/+/refs/heads/master/public

I suspect

[2016-01-13 23:24] asimshankar commented on #1068
Thanks for pointing this out Jeff.

a) Yeah, documentation is a bit sparse, apologies for that. Added a few lines that are hopefully useful. Will have to get to more detailed documentation at some point. Let me know what you think about what it currently has.

b) Fixed the link (should be deployed in the next half hour)

c) Regarding godoc.v.io, yeah, that is a relic from when the repositories wer

[2016-01-13 23:24] #1068 closed, assigned to asimshankar

[2016-01-14 00:01] bjornick commented on #908
Just to document this, the slow performance is due to fetching the attributes from the remote gatt server.  It takes half a second to connect, a full second to get the list of services on the server, and the rest of the time is spent on fetching the attributes.

[2016-01-14 00:03] nlacasse commented on #915
I think the correct thing to do is return an error to the user letting them know we can't set the topic if the gerrit host is not "http(s)://...".  We can tell them to either change gerrit host to "https://...", or run with `--set-topic=false`, as @pylaligand is doing.

I don't want to silently ignore the topic, since we rely on the topic for things like MultiPart CLs.

https://vanadium-review.goo

[2016-01-14 00:11] ghost commented on #851
Hello,

Sorry this bug was missed when you filed it.  If you're still interested could you give me some more information on what you are trying to do?

Are you trying to get this information from the Vanadium RPC system?  Are you trying to use this information to impact how RPCs are transmitted?

[2016-01-14 00:15] ghost commented on #593
I'm assuming this is no longer relevant?

[2016-01-14 00:17] nlacasse commented on #784
Yeah, we need to figure out what to do with that data dir stuff.

@tatatodd

[2016-01-14 00:19] caprita commented on #593
I haven't seen this particular failure in a while. I'm going to optimistically assume that https://vanadium-review.googlesource.com/#/c/16313/ fixed this as well.

[2016-01-14 00:19] #593 closed

[2016-01-14 00:22] ghost commented on #549
I can't find this anymore.

[2016-01-14 00:22] #549 closed

[2016-01-14 00:31] caprita opened #1072 "single command for device manager install/start/claim/acl set"
simple one-liner to install and start device manager on workstation (install (w/ right name) +start+claim (incl setting right acls to be able to instantiate; also for debug)

[2016-01-14 00:33] asimshankar commented on #734
Ah, hmm...I think I know what is happening here.
The discharges we get are actually valid for 15 minutes, so the revocation will only take effect after 15 minutes.

A while ago, we didn't cache discharges persistently so the second time the command is invoked we end up trying to fetch a new discharge and that fails (because it has been revoked) and thus the tutorial worked fine.

Now, we cache dis

[2016-01-14 00:33] asimshankar commented on #734
CC @suharshs since he added the discharge cache so might be interested in this side effect

[2016-01-14 00:36] caprita opened #1073 "remotely access the principal of an app instance"
we want to be able to add a blessing to an app instance’s blessing store or otherwise access and manipulate the app's principal

possible approach: devmgr creates a tunnel between the remote app’s sock and a local sock, and the local sock is used by the local principal. The remote sock needs to be listening for the duration of the tunnel; ref-count it?

[2016-01-14 00:39] caprita opened #1074 "device manager for Docker"
implement device manager using Docker where available

[2016-01-14 00:40] caprita commented on #449
Closing this in favor of #1074

[2016-01-14 00:40] #449 closed

[2016-01-14 00:41] caprita commented on #279
Caching acls at this point would add more headaches and the performance gain is likely marginal given all that goes on with device manager operations.

[2016-01-14 00:41] #279 closed

[2016-01-14 00:51] asimshankar commented on #929
CC @sjamesr and @spetrovic77

[2016-01-14 00:52] asimshankar commented on #826
CC @spetrovic77 @sjamesr

[2016-01-14 00:52] asimshankar commented on #968
@sjamesr @spetrovic77

[2016-01-14 00:53] asimshankar commented on #972
@ribrdb @sjamesr @spetrovic77

[2016-01-14 01:08] afandria commented on #979
This is done now. Resuming games (besides the last) is not a priority feature.

[2016-01-14 01:08] #979 closed, assigned to afandria

[2016-01-14 01:09] afandria commented on #983
Sound support now exists, but in a limited sense.

Due to limitations with Mojo Shell, we must "hack" it to also generate something called `media_service.mojo` and ensure that Flutter's sound libraries in flutter_sprites connect to that.

[2016-01-14 03:34] suharshs commented on #814
This was fixed here: https://vanadium-review.googlesource.com/#/c/17674/

[2016-01-14 03:34] #814 closed, assigned to suharshs

[2016-01-14 03:42] #305 closed

[2016-01-14 03:43] #575 closed

[2016-01-14 03:45] suharshs commented on #988
https://vanadium-review.googlesource.com/#/c/18978/

[2016-01-14 03:45] #988 closed, assigned to nobody

[2016-01-14 06:00] jeffallen commented on #1068
Ah, I just discovered the new stuff you added. Nice.

I'll also explore on my own. If I figure it out, I'll try to contribute a tutorial on it. No promises, but it looks like something fun to play with.

[2016-01-14 15:57] jeffallen opened #1075 "libssl-dev is missing from jiri profile"
When doing a new install on Debian, "jiri v23-profile install base" completed correctly. Then when I tried to build mounttabled, I got this:

jra@ns:~$ jiri go install v.io/x/ref/services/mounttable/mounttabled
# pkg-config --cflags libcrypto

Package libcrypto was not found in the pkg-config search path.
Perhaps you should add the directory containing `libcrypto.pc'
to the PKG_CONFIG_PATH environ

[2016-01-14 17:37] nlacasse opened #1076 "`jiri cl mail` breaks cwd when cwd does not exist on master"
If you run `jiri cl mail` from within a directory that does not exist on master, you appear to end up in the same directory afterwards, but there are no files in that directory.

I think we should chdir to the project root before switching branches to master, and then chdir back after restoring the feature branch.

Steps to repro:

[code]

[2016-01-14 18:23] m3bm3b commented on #953
The current expectation is that this will be fixed by using vdl.RawBytes as
the parameter type
(formerly known as vdl.RawValue).

The support for vdl.RawBytes is currently being added to vdl and vom.
It is expected to be complete in a couple of weeks, and we hope to use it
in syncbase soon after that.

vdl.RawBytes will allow us to transfer a value with it type being exposed
by the RPC system, but

[2016-01-14 18:37] jhahn21 opened #1077 "Global discovery repository"
Some apps use mount table alongside local discovery as a way to implement non-local discovery. Having a global discovery service would simplify these apps.

As a first step, we're going to provide a simple global discovery API that looks similar to the current discovery API to see its feasibility and set the long-term goal. It will use the current mountable and will not consider any performance is

[2016-01-14 18:39] jhahn21 commented on #874
I created an issue #1077 for it. I think I can start working on it in 2 weeks after finishing larger payload support.

[2016-01-14 22:51] nlacasse commented on #1076
Note that this problem occurs with regular (non-jiri) git usage:

[code]

My earlier suggestion of `Chdir`ing to the project root and then `Chdir`ing back does not solve the issue.  (In fact, the code already does this.)  Although we are changing the cwd of the jiri process, we can't change the cwd of the parent shell.  So when `jiri cl mail` finishes, the shell is in the same directory it was in

[2016-01-14 23:22] nlacasse commented on #1075
https://vanadium-review.googlesource.com/19106

[2016-01-14 23:22] nlacasse commented on #1075
Yes.  It looks like there is a typo in the code that installs libssl-dev.

Thanks for reporting!

[2016-01-14 23:55] aghassemi commented on #835
https://vanadium-review.googlesource.com/#/c/19068/

[2016-01-14 23:55] #835 closed, assigned to aghassemi

[2016-01-15 00:40] tatatodd opened #1078 ""jiri v23-profile install base go syncbase" fails"
Our logic for "jiri v23-profile install a b c" behaves differently from installing each profile (a, b, c) separately.  E.g. see below
### Installing profiles that are already installed results in an error

$ cd $JIRI_ROOT
$ mv .jiri_v23_profiles{,.OLD}
$ jiri v23-profile install base go syncbase
dpkg-query: package 'g++-multilib' is not installed
Use dpkg --info (= dpkg-deb --info) to examine arch

[2016-01-15 01:21] #1075 closed, assigned to nlacasse

[2016-01-15 01:36] #915 closed, assigned to nlacasse

[2016-01-15 04:54] jeffallen opened #1079 "panic: namespace: At least one root is not a rooted name"
While playing around with the namespace command, I made a panic. Seems like it should have given me a nice error instead.

$ vanadium/release/go/bin/namespace -v23.namespace.root=/@104.155.90.4:8101 glob *
Error: : v.io/v23/verror.NoServers: namespace <rpc.Client>"".__Glob  failed to find any compatible servers: [server=/@104.155.90.4:8101: malformed endpoint: invalid version: strconv.ParseUint: p

[2016-01-15 06:14] jeffallen opened #1080 "v.io/v23/naming/doc.go says that version 5 is current"
v.io/v23/naming/doc.go says that version 5 is current but the current behavior seems to be that version 6 is current.

It would be nice to have the v6 format documented here:
    https://github.com/vanadium/docs/blob/master/concepts/naming.md
(in section Endpoints, I think)

instead of in v.io/x/ref/runtime/internal/naming/endpoint.go:parseV6

[2016-01-15 16:20] #975 closed, assigned to aghassemi

[2016-01-15 16:34] jeffallen opened #1081 ""principal get publickey" is incompatible with "principal recognize""
$ principal get publickey
MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE2xhOU1JaMGDjPZCy0K_XsUAIcsRGww4jbnJ07d-nc-isXXkq4flcFCMESxcw_obYnZ5MrFeduxOygeTXBSjUDw==

$ principal recognize MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE2xhOU1JaMGDjPZCy0K_XsUAIcsRGww4jbnJ07d-nc-isXXkq4flcFCMESxcw_obYnZ5MrFeduxOygeTXBSjUDw== mounttabled
ERROR: invalid base64 encoding of public key: illegal base64 data at input byte 8

Everyt

[2016-01-15 17:00] jeffallen commented on #1081
Use the source, luke! Turns out this is just a problem with the help text. Putting the blessing pattern first fixes it:

principal recognize mounttabled "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE2xhOU1JaMGDjPZCy0K_XsUAIcsRGww4jbnJ07d-nc-isXXkq4flcFCMESxcw_obYnZ5MrFeduxOygeTXBSjUDw=="

A CL that fixes this is: https://vanadium-review.googlesource.com/#/c/19091/

[2016-01-15 18:30] caprita commented on #1080
@suharshs : I think you incremented the version from 5 to 6, can you please update v.io/v23/naming/model.go and see if there are other places as well?

@jeffallen : Thanks for reporting. Regarding the places where we document the endpoint format, we've been resisting putting that in the public v23 API. The idea was to make the endpoint format an implementation detail (akin to the RPC protocol for

[2016-01-15 18:46] suharshs commented on #1080
Thanks for pointing this out: https://vanadium-review.googlesource.com/#/c/19117/

[2016-01-15 18:48] caprita commented on #1079
The difference in failure behavior between the two cases stems from where in the execution path the error gets encountered:

in the first case, the error happens when the Glob RPC is prepared to be issued, and appears like an RPC error

in the second case, the error happens right at the beginning, when the runtime gets initialized; specifically, the namespace's New method throws an error and inter

[2016-01-15 19:50] tatatodd opened #1082 "Gosh cmd pipelines don't have expected failure behavior"
As a reminder, if a user wants to run a cmd pipeline "a | b | c", we tell them to do this:

  A, B, C := sh.Cmd("a"), sh.Cmd("b"), sh.Cmd("c")
  A.AddStdoutWriter(B.StdinPipe())
  B.AddStdoutWriter(C.StdinPipe())
  A.Start()
  B.Start()
  C.Start()
  C.Wait()

Our current advice is that they only need to wait on C.  We've coded A.AddStdoutWriter to close B.StdinPipe when A exits, and ditto for B a

[2016-01-15 19:51] aghassemi opened #1083 "Syncbase: Values are inconsistently exposed as []byte or vdlValue or interface{} throughout the client libraries"
Currently the value of a row in exposed in three different ways throughout the client API: `[]byte` or `VdlValue` or a method that force decoding to a type or interface{}

There are a few parts of the API where value of a row is surfaced. `row.get`, `scan`, `query`, `watch` and `conflict resolver` and each is different in how it exposes value. (Might be missing some)
- `row.get` and `scan` force d

[2016-01-15 20:01] asadovsky commented on #1082
First: what an outstanding issue description! :)
Second: yeah, that's a great point about pipefail, and I didn't think of it before. I like the gist of this proposal, and I think hashing it out in person next Tuesday sounds good. (The cleanups that follow adding gosh.Pipeline indeed sound nice, though I can't remember off the top of my head whether they break any other assumptions; we could try ch

[2016-01-15 20:20] kenashcraft commented on #1083
Agreed that this is an important issue, but don't jump into it right away.  This is very closely related to the VOM type discussions that are going on.

[2016-01-15 21:12] tatatodd commented on #1082
I don't actually have a gosh-based command pipeline use-case.  So originally I didn't want to spend too much time thinking about pipelines.  But once I realized that this would enable clean-up of AddStdoutWriter and NopWriteCloser, I figured we should work this out.

I started thinking about this stuff after our discussion about Wait() wrt the Terminate() call yesterday.  In particular, I realized

[2016-01-15 21:31] tatatodd opened #1084 "Remove gosh Send{Ready,Vars} and Await{Ready,Vars}"
These functions have always bothered me, because they don't seem to belong in gosh.

The child implementation just writes special `#! {Type: "ready"}` strings to stdout, which are parsed by the parent gosh shell, which is also very weird.  After all what's preventing a user from writing `#! INVALID` to stdout themselves?  At the moment that'll cause our recvWriter to fail the json.Unmarshal call,

[2016-01-15 21:34] m3bm3b commented on #1083
One of the reasons for the confusion in types used is that if we
presented the fully decoded value, VOM did not make it easy for
us to avoid unnecessary marhsalling and unmarshalling.
(The data might be retrieved as an array of bytes from the disc,
unmarshalled a first time to give to the RPC system, then the RPC
system would remarshal it into an array of bytes for transmission
over the wire to th

[2016-01-15 21:41] asadovsky commented on #1083
WRT @m3bm3b's last paragraph: one can imagine a special per-language type (perhaps named `RawBytes`) that, when presented to the `Get(key string, value interface{})` API (and other such APIs), results in the bytes not getting decoded. This would provide an escape hatch for performance-conscious developers who don't want the decoding to happen, while avoiding adding an extra method and preserving A

[2016-01-15 21:50] asadovsky commented on #1084
I agree that the message-passing implementation may not be ideal (in particular the `#! INVALID` handling), but I would like for there to be a simple/recommended way to transmit vars from child to parent, without bringing in heavier dependencies such as `expect`. (For example, I use `AwaitReady` here: https://github.com/asadovsky/goatee/blob/master/demo/main.go#L61)

How would you feel if we dropp

[2016-01-15 21:51] m3bm3b commented on #1083
Yes, though you might need a different scheme if you wished to support it
in a language lacking well-defined types, or one lacking reflection.

On 15 January 2016 at 13:42, Adam Sadovsky notifications@github.com wrote:

[2016-01-15 22:17] AsturaPhoenix commented on #1077
I like this plan. To illustrate, the Covalence code cited here actually only does register, and doesn't handle unregister at all. A CL still under review shows the extra code needed to attain feature parity with @jhahn21's second example:

[code]

Having most of that handled by the discovery API would be great.

[2016-01-15 22:22] tatatodd commented on #1084
Here's a simple way to transmit vars from child to parent:

// CHILD
fmt.Println("ready")

// PARENT
var str string
if fmt.Fscanln(c.StdoutPipe(), &str); str != "ready" {
  ...
}

I like this better than SendVars / AwaitVars, because I think it's very clear what we're doing, and it doesn't require any special gosh logic.

[2016-01-15 22:35] asadovsky commented on #1084
That assumes the first line of output is "ready" - or perhaps you meant to use a for loop?

I'd probably be fine with moving {Send,Await} out of gosh.Cmd, but I think I'd at least want to provide standalone helper functions in gosh for SendVars/AwaitVars.

There are two annoyances with making AwaitVars a helper function:
1. One must call StdoutPipe() before starting the command
2. (minor) There's

[2016-01-15 22:48] aghassemi commented on #1083
So what I had in mind when I was thinking about this for the Dart API is something like below. I quickly checked with @tatatodd  and he liked the idea so maybe it can serve as a starting point for the conversation.

Idea is to express the value of a row as a new struct called `RowValue` everywhere; so we would have
`Get(key String) RowValue` for Row API and `Value RowValue` as a field in `WatchCha

[2016-01-15 23:16] tatatodd commented on #1084
I was indeed assuming the first line of output is "ready".  I think that's better for the simple case; the user is in control of what output is showing up on their stdout anyways.

Good point about (1) where we must call StdoutPipe() before starting the command.  In practice I don't think it'll be that bad (see example below).

I'm still in favor of removing SendVars/AwaitVars from gosh completely

[2016-01-15 23:21] kenashcraft commented on #1083
Ali's change seems reasonable to me, but I don't see the need to rush to make this change.  Let's finish the VOM type problem first and see if that informs this problem.

Also, RowValue is just a few pixels different from RawValue.  Maybe pick a name that is more visually different.

[2016-01-15 23:22] tatatodd commented on #1084
BTW - I agree in concept with the BuildGoPkg observation, but I haven't thought through the details, especially wrt BinDir handling.

[2016-01-15 23:29] tatatodd commented on #1083
Just to be clear, the name that we're actually using is vom.RawBytes.  When you decode into vom.RawBytes, we only decode the type information, but leave the value part as raw bytes.  And when you encode vom.RawBytes, we only need to encode the type information, while the value part is just written out directly.

(Earlier in this thread it's been called vdl.RawBytes and vdl.RawValue, both of which

[2016-01-15 23:57] asadovsky commented on #1083
I agree with Ken - these API changes seem to be on the right track, but I'd like to put them off for a bit. There are various other API cleanups to do, and in general these kinds of cleanups should be done holistically (both across languages and across methods), so my inclination would be to get a few of us in a room sometime later this quarter to hash this stuff out.

[2016-01-16 00:28] aghassemi opened #1085 "Discovery: Client can receive unnecessary Found/Lost"

[2016-01-16 00:54] jhahn21 commented on #1085
Just to be clear.

We guarantee that clients always get `Found` before `Lost`.

One possible flaky situation is when an advertisement is stopped before all plugins finish the advertisement.

For example, if one plugin is much slower than the others and a client stop the advertisement before the advertisement is delivered through the slow plugin, then a client can receive unnecessary `Found`/`Lost`

[2016-01-16 01:15] aghassemi commented on #1085
Updated description. I think this is fairly low priority then if we already guarantee found is always before lost.

[2016-01-16 01:24] aghassemi commented on #1083
This might be a higher priority for Dart API with supporting mojom and/or json work and since it will be used externally and ideally we can minimize breaking changes. But we can decide on that as we discuss what we should currently do to support structured data in Dart.

[2016-01-16 03:04] jeffallen opened #1086 "xproxyd: unknown message type: 100"
I started an xproxyd, registered to a mounttabled as "servers/proxy":
  vbecome -name proxy xproxyd -name servers/proxy --v23.tcp.address :8102

I talked to it via "vrpc indentify servers/proxy", and got the right answer:
  $ vrpc identify servers/proxy
  PRESENTED: mounttabled:proxy
  VALID:     [mounttabled:proxy]
  PUBLICKEY: 6d:12:d7:17:bb:dc:8a:55:40:31:cc:26:66:77:0f:ec

But the proxy says:

[2016-01-16 03:10] jeffallen commented on #1080
@caprita I get it, makes sense. I was trying to understand the endpoints because I was still booting up to understanding name resolution. (It wasn't working yet for me due to unrelated credential problems, so I was digging and digging looking for what was broken.)

[2016-01-16 03:10] #1080 closed, assigned to suharshs

[2016-01-16 03:37] caprita commented on #1086
The short story is that the proxy server listening on the port published as 'servers/proxy' in your example does not behave like a typical Vanadium RPC server. Instead, it's running the proxy logic, which is probably why it's not responding to a StartCall the way the client expects when it makes an RPC (with empty method name).

A better choice to inspect a xproxyd server is to use its "-mon" serv

[2016-01-16 03:47] jeffallen commented on #1086
Got it. When using alpha software, I assume every error is significant, so that's why I filed this. If you guys think this error should be silenced somehow, you can reopen it.

[2016-01-16 03:47] #1086 closed, assigned to suharshs

[2016-01-16 07:44] suharshs commented on #1086
Hmm, interesting. Its actually just luck that `vrpc identify` works with the proxy.
In fact, its only because the proxy uses a similar protocol to a normal server that `vrpc identify` is working. Hurray for accidental features! :)
Here's whats happening:

The client thinks that its talking to a normal RPC Server with the following protocol:
1. Auth handshake (client, server).
2. Send RPC Request t

[2016-01-16 08:41] tatatodd opened #1087 "Embed gosh.Opts in gosh.Shell"
Our current gosh usage looks like this:

[code]

The Opts is kind of annoying, since it's inconsistent with Cmd (where all options are at the top-level), and its easy to forget.  If we embed gosh.Opts in gosh.Shell, we can write this instead, which seems better:

[code]

Of course for this particular example, we could always use the literal directly, which is even simpler.  But the general problem

[2016-01-18 01:39] asimshankar commented on #1081
Thanks for the fix Jeff! Submitted it.

[2016-01-18 01:39] #1081 closed, assigned to nobody

[2016-01-19 19:09] jhahn21 commented on #1071
Fixed by https://vanadium-review.googlesource.com/#/c/19119/, https://vanadium-review.googlesource.com/#/c/19120

[2016-01-19 19:09] #1071 closed, assigned to jhahn21

[2016-01-19 19:24] jhahn21 commented on #1050
I'm not sure yet whether it's a good idea to add `WithSession` to `context` until we have more general use cases for it.
So I'll add `WithSession()` to discovery.T for now like

[code]

Please let me know if you have any better idea.

[2016-01-19 21:57] jhahn21 commented on #1050
And we also have Service and Mojo interface for discovery, which have no `context`.
So, we need to pass a `SessionId` or something like that to `Advertise()` and `Scan()`

[2016-01-20 18:12] jhahn21 commented on #1029
This happens quite frequently. Any idea what is the issue here?

[2016-01-20 19:30] aghassemi opened #1088 "Union type vs. using an enum field to define type inconsistencies"
For similar APIs, sometimes we use union types and sometimes we use a simple enum value to indicate the type.

For instance, Discovery's `Scan` API and Syncbase's `Watch` API are very similar conceptually, they both provide a steam of updates and each update can be of two different types (`put` and `delete` in case of Watch and `found` and `lost` in case of Scan)

Inconsistency is that Discovery u

[2016-01-22 18:58] tatatodd commented on #1088
Note: conceptually union and enum types both represent the notion of disjoint unions: https://en.wikipedia.org/wiki/Tagged_union

In particular the enum type can be seen as a degenerate simple form of a union.  I.e. unions let you pick one out of a set of possible types, identified by the field name.  Enums let you do the same thing, but the type of the result is empty.  An example:

[code]

You m

[2016-01-24 17:39] jeffallen opened #1089 "panic failing to connect to agentd"
I accidentally pointed "principal dump" at a non-existing agent.sock:

jra@ns:~$ V23_AGENT_PATH=$HOME/.credentials/agent.sock principal dump

I got this panic. I was expecting a nice error message.

panic: dial unix /home/jra/.credentials/agent.sock: connect: no such file or directory

goroutine 1 [running]:
v.io/v23.internalInit(0x2, 0x2)
    /home/jra/vanadium/release/go/src/v.io/v23/model.go:48

[2016-01-24 21:56] caprita commented on #1089
I think this is related to #1079 in that at runtime initialization, the error in setting up the principal eventually becomes a panic.

[2016-01-25 16:32] aghassemi commented on #660
Just assigning issues so everything has an owner.

[2016-01-25 16:32] aghassemi commented on #444
Just assigning issues so everything has an owner.

[2016-01-25 21:26] #392 closed

[2016-01-25 22:30] aghassemi opened #1090 "debug.TestV23DebugGlobLogs is flaky on Darwin"
it fails with

[code]

Seems specific to Mac. Some of the pre-submits it has failed (while the Linux version has passed):
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/18839/
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/18834/
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/18829/
https://veyron.corp.google.com/jenkins/job/vanadium-pres

[2016-01-25 23:25] jinjingforever opened #1091 "Errors before syncbase watch api starts working"
I am developing a flutter+syncbase app. In general it works like this:
- I have a mouttable server and a syncbase server running on a GCE instance.
- I have a "writer" program that writes incrementing integers every second to a row in the cloud syncbase server.
- A syncgroup is created for that row.
- I have a flutter app (with --v23.namespace set to the cloud mounttable and running through v23 pr

[2016-01-26 00:33] ghost commented on #1079
Sorry for the slow response, I think my email filtering is broken.

There are three things we can do:
1. Return an error from v23.Init().  The only downside is boilerplate, as you mentioned.
2. Panic as we do now, the downside is we get an ugly stack trace.
3. Fatal log or os.Exit.  The downside is that defers in main will not be called, which has proven annoying in the past.

If we want to switch

[2016-01-26 00:36] ghost commented on #1089
Did you find the message itself (dial unix /home/jra/.credentials/agent.sock: connect: no such file or directory) insufficient?  Or just annoyed by the noisy stack trace?

[2016-01-26 00:51] caprita commented on #1079
I vote for a separate version of Init that returns an error (along the lines of MustInit and Init in your suggestion above). It would be easy to re-wire cmd-line tools to use the 'with error' version of init, given the existence of the v23cmd package. We could achieve a similar effect in v23cmd alone (no change to v23) by catching the panic, but that seems icky.

[2016-01-26 07:49] asadovsky commented on #1090
Took a look. I don't think this is gosh-related, though it's hard to be sure. The test itself is pretty confusing - I don't see any obvious reason why the glob output should include the filename of the temp file, and I also don't see why the test would be flaky. Reassigning to @asimshankar for triage - I think we need someone familiar with v.io/x/ref/services/debug to help with this.

FWIW, here's

[2016-01-26 16:53] jeffallen commented on #1089
I was raised by my momma to think that a well behaved program does not panic. Certainly not when it knows exactly what's wrong and can tell me what to do about it... :)

[2016-01-26 19:27] rthellend commented on #1090
I added more logging. The debug glob command fails with a timeout.

[code]

I'm increasing the timeout to 1m (from 10s). If the test passes, I'll try to figure out why 10s isn't enough.

[2016-01-26 19:31] aghassemi opened #1092 "Syncbase: Change how BlobRefs are detected"
Currently we rely on the Type to detect BlobRefs, this does not work well with JSON where we only basic type information.

Maybe we can detect BlobRefs based on some other common property, such as looking for a specific field name.

[2016-01-26 20:38] joeblew99 commented on #1061
its of use to me :)

I am using Vanadium as a prototype. So far its pretty nice to be able to get so much done with just golang. This is an awesome project.

I need BT access on IOS and Android
I also need the same on Linux (currently running in NUC's and RaspberryPis.

I am currently using c codebase for reading RFID tags for now, as i need that too. However, i am still working through the hardwa

[2016-01-26 20:55] ghost commented on #1061
Hello,

This bug is particularly for Mojo, are you planning to use Mojo?

One problem is that as far as we can see there is no general access to Bluetooth on IOS devices.

See for example:
http://stackoverflow.com/questions/18884705/transfer-data-between-ios-and-android-via-bluetooth
http://www.themethodology.net/2015/03/how-to-use-classic-bluetooth-on-ios.html

We could implement RPC over BLE, bu

[2016-01-26 22:27] joeblew99 commented on #1061
@mattr-google
I can plan to use Mojo is needed. If i have to then i will if that gets the job done.

I read the link. Lots of people hitting this nice Apple road block..
I heard that Apple had made BT access restricted, but guessed it would be for maybe BT indoor positioning, not standard BT access. Huge pain for trying to just get things done eh...

One idea ? Maybe sucks...
It sounds like making

[2016-01-26 23:20] rthellend commented on #1090
Increasing the timeout seems to have fixed the problem. Now, the question is why does it take more than 10 seconds to send a Glob RPC on Darwin?

@mattr-google

[2016-01-27 02:56] afandria opened #1093 "croupier-unit presubmit doesn't pass"
I looked into it and it's not really clear why `pub` is unable to resolve dependencies. It does the same test as the croupier-unit test (which does pass). Since the failure is based on `pub packages`, I can fix this after I am able to upgrade my Flutter version.

Note: The Flutter upgrade depends on us being able to upgrade our Syncbase Mojo + Discovery Mojo packages to use a later version of `moj

[2016-01-27 08:02] tatatodd opened #1094 "baku-java-test is flaky"
@aghassemi @jwnichls [assigning to build cop, feel free to reassign]

My presubmits have seen baku-java-test repeatedly flaking out.  Example below.  I'm TBR'ing since it's too painful to watch it fail repeatedly.

https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=baku-java-test/18966/console

[code]

[2016-01-27 08:06] aghassemi commented on #1094
@AsturaPhoenix looking at the trends here https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=baku-java-test/buildTimeTrend looks like it stated becoming very flaky around 3pm on 26th.

[2016-01-27 08:12] aghassemi commented on #1094
+@spetrovic77 for possible insights.

[2016-01-28 08:08] tatatodd opened #1095 "vanadium-android-build is flaky in presubmits"
@spetrovic77 @aghassemi @sjamesr

Here's an example:
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=vanadium-android-build/19066/console

Here's the history, showing large swaths of redness:
https://veyron.corp.google.com/jenkins/job/vanadium-presubmit-test/ARCH=amd64,OS=linux,TEST=vanadium-android-build/

As with all other flaky tests recently, my work

[2016-01-28 16:41] aghassemi commented on #1095
The Java profile was messed up on `node76`, running `cleanup-profiles` to clean it up.

This can happen if an open CL that is trying to upgrade a profile fails to do so. When presubmit for that CL runs, it upgrades the profile for the whole machine.

In this case @mattr-google's https://vanadium-review.googlesource.com//#/c/19292/ was trying to upgrade the java profile and failed in its first pres

[2016-01-28 17:02] spetrovic77 commented on #1095
Thanks Ali, indeed, all the failures are on node 76...

On Thu, Jan 28, 2016 at 8:41 AM, Ali Ghassemi notifications@github.com
wrote:

[2016-01-28 17:32] jeffallen opened #1096 "query: doc formatting is non optimal"
See https://godoc.org/v.io/v23/query

Also: s/client's/clients/.

[2016-01-28 17:38] jeffallen opened #1097 "vbecome causes child to say "error calling BlessingStoreCacheDischarge" on exit"
When I run a Vanadium server with V23_AGENT_PATH set to talk to agentd, it works. A ctrl-C terminates normally, no errors.

When I run the same server under vbecome with V23_AGENT_PATH, it works (i.e. gets the correct blessing, etc). But when I do ctrl-C in the server, it says this during exit:

^CI0128 23:34:22.371970    8416 client.go:250] error calling BlessingStoreDischarge: EOF
I0128 23:34:22

[2016-01-28 18:29] jinjingforever commented on #1095
@aghassemi yes I think this can be done. I will create a CL.

[2016-01-28 18:30] ghost commented on #1095
Sorry!

[2016-01-28 18:33] ghost commented on #1061
Having devices talk through a proxy is already supported, and is a good way around NAT issues.  We also have a discovery service which can help devices find each other.  I would say if both devices have access to WiFi we have pretty good support.

There has been some experimental work using NFC to transfer credentials, but I don't think there's been anything more general.

[2016-01-28 18:48] afandria opened #1098 "croupier: Remove Ask command"
The Ask command is fine in theory, but the extra sync required to transmit the command makes Hearts gameplay feel too slow. It'll take a minor amount of work to remove the Ask command, but for expediency, it will be left in an "unused" form. (i.e., Every Play command will have an Ask command paired with it in the short term, before the Ask command is removed.)

[2016-01-28 19:28] suharshs commented on #156
This should be resolved with the new RPC system.

[2016-01-28 19:28] #156 closed

[2016-01-28 19:41] joeblew99 commented on #1061
Thanks. I am using golang for talking to RFID and NFC on embedded hardware. It's very easy so far.
But that's because I got to choose the hardware.

I guess its a matter of trying it. Like everything I guess you guys have to prioritise what sensor APIs you wrap with golang from the ndk layer ?

[2016-01-28 20:40] ghost commented on #1061
@asimshankar Has more info about the ongoing NFC work.

[2016-01-28 20:43] asimshankar commented on #1061
I'm curious about what hardware and Golang libraries you're using for RFID and NFC on the Pis.

We don't have many plans when it comes to NFC integration with Android, but you might find [this](https://docs.google.com/document/d/12jVwksEdyWbDVSXB6ffR24dIl18moGovxZKKN5zrIlA/edit?usp=sharing) interesting

[2016-01-28 21:32] afandria commented on #1098
It's possible that we may convert the Ask command into a Show command.

The cards will still be played but are only shown when the Show command is pressed. This makes buffering cards more reasonable, in that they play one at a time instead of >= 1 at a time.

[2016-01-28 23:30] afandria commented on #983
The Mojo Media Service is hosted [here](https://pantheon.corp.google.com/m/cloudstorage/b/mojo_services/o/media_service.mojo) and if you want to build it yourself, you should apply [this patchset](https://codereview.chromium.org/1644593004/) to your local checkout of Mojo and perform the Android Build.

[2016-01-28 23:30] #983 closed, assigned to afandria

[2016-01-28 23:31] #1054 closed, assigned to afandria

[2016-01-28 23:32] afandria commented on #969
Since Croupier will primarily be used for demos and user testing, support for landscape will only be done on the Hearts Table view.

[2016-01-28 23:32] #969 closed, assigned to afandria

[2016-01-28 23:45] #1096 closed, assigned to aghassemi

[2016-01-28 23:48] aghassemi commented on #1096
Thanks @jeffallen. Fixed with https://github.com/vanadium/go.v23/commit/e3e90b904bb2af548608a0e96cd495c846523b44

[2016-01-29 00:13] aghassemi commented on #1094
@AsturaPhoenix This has started failing on Linux quite often today as well. https://veyron.corp.google.com/jenkins/job/baku-java-test/

[2016-01-29 00:18] AsturaPhoenix commented on #1094
I recently put in an increase to this timeout but it's behind CR. Bumping
it to the head of the line as a TBR (but keeping this issue open for
further investigation to make sure it's just a slowdown in Jenkins and not
an actual regression in the method blocking).

On Thu, Jan 28, 2016 at 4:13 PM Ali Ghassemi notifications@github.com
wrote:

[2016-01-29 00:19] AsturaPhoenix commented on #1094
To clarify, I'm fixing the blocking-method flakiness. I have no idea why the Robolectric thing is happening.

[2016-01-29 00:20] aghassemi commented on #1094
Thanks! Recent failure seem only related to `testJoinAlreadyMounted` test

[2016-01-29 00:21] jinjingforever commented on #1095
v.io/c/19330 and v.io/c/19331 added the profiles cleanup feature. I will submit them tomorrow.

[2016-01-29 00:21] sjamesr commented on #1094
The robolectric failure shouldn't have happened after
https://vanadium-review.googlesource.com/#/c/19252/

On Thu, Jan 28, 2016 at 4:19 PM, Ross Wang notifications@github.com wrote:

[2016-01-29 00:23] aghassemi commented on #1095
wow thanks @jinjingforever ! That was quick.

[2016-01-29 00:23] #1095 closed, assigned to aghassemi

[2016-01-29 00:29] AsturaPhoenix commented on #1094
Excellent! https://vanadium-review.googlesource.com/#/c/19336/ is in. It looks like one of the failures took > 400 ms, but the rest should be good now. I'll investigate to see if I can set a much more conservative timeout to assert on (> 5s).

[2016-01-29 01:50] tatatodd commented on #1095
FYI I just got another failure, on Veyrons-Mac-Pro-3.local

https://dashboard.staging.v.io/index.html?type=presubmit&n=19127&arch=amd64&os=darwin&job=vanadium-android-build

[2016-01-29 01:57] spetrovic77 commented on #1095
James is on it!

On Thu, Jan 28, 2016 at 5:50 PM, Todd Wang notifications@github.com wrote:

[2016-01-29 02:06] spetrovic77 commented on #1095
I've disabled the test for now, until we figure out why the profiles keep
reverting to non-default android version "4".

On Thu, Jan 28, 2016 at 5:57 PM, Srdjan Petrovic spetrovic@google.com
wrote:

[2016-01-29 02:12] jhahn21 opened #1099 "Discovery: Change Service.InstanceId type to [16]byte"
Currently Service.InstanceId type is string, and its size is limited to 32 bytes due to the usage in the underlying protocol. This might confuse users about assigning their own InstanceIds, since string type has no limitation on its size. Also, we may waste space since we need to use UTF-8 compatible string as a InstanceId.

So, I'm proposing change to the type of InstanceId to [16]byte.

@aghasse

[2016-01-29 07:09] joeblew99 commented on #1061
No libs. Just raspberry and talking to their hardware direct. I might be
able to share the code too. Have to check with management

https://www.adafruit.com/products/364

Thanks for the doc.

On Thu, 28 Jan 2016, 21:43 Asim Shankar notifications@github.com wrote:

[2016-01-29 18:08] aghassemi opened #1100 "Syncbase: Clarify if we do support non-VOM data"
Currently we have tests for reading/writing non-VOM data. Problem is queries (even if a simple `SELECT k, v FROM table`) fails on non-VOM data since queries return `VdlValue` rather than bytes.

We should clarify if we want to support non-VOM bytes as that decision can effect the design of client APIs being discussed in https://github.com/vanadium/issues/issues/1083

If we do want to support non-V

[2016-01-29 18:35] afandria commented on #782
We're now able to use the proxy and global mount table.

[2016-01-29 18:35] #782 closed, assigned to afandria

[2016-01-29 19:44] yyoon opened #1101 "android-lib: calling Server.getStatus() freezes the app in vanadium-android:1.5"
@spetrovic77 @sjamesr

When I apply https://v.io/c/19341 and test the app with the universal apk, the call to `Server.getStatus()` never returns and the app freezes. Internally, the call to `nativeGetStatus(this.nativePtr)` seems to be causing the problem.

You can see the code here:
https://github.com/vanadium/reader/blob/1ca627cc0924615a8d2683c0521e50d79dff3181/android/app/src/main/java/io/v/and

[2016-01-29 21:23] aghassemi opened #1102 "dart/discovery: Code examples in comments are not formatted properly"
https://www.dartdocs.org/documentation/v23discovery/0.0.12/discovery/Client/scan.html

[2016-01-29 23:13] asimshankar commented on #1097
Thanks for the report Jeff.

Those INFO log messages are harmless (if we failed to store a discharge in the cache hosted by the agent, it just means that we'll refetch it again when needed, so there is no correctness issue there). But yeah, it is concerning to see them.

I'm tempted to simply suppress messages on benign failures (changing `Infof` to `VI(1).Infof` for example, [here](https://github

[2016-01-30 14:44] jeffallen opened #1103 "reserved.Signature docs mention non-existing client arg"
See https://godoc.v.io/pkg/v.io/v23/rpc/reserved/#Signature where argument "client" is mentioned. It does not exist (anymore).

[2016-01-31 01:03] tatatodd commented on #1103
Jeff - thanks for reporting!

Matt - can you fix this up?  Normally I'd just do it, but I'm on vacation.  :)

[2016-01-31 18:20] aghassemi opened #1104 "Jenkins Upstart failed"
Jenkins VM was restarted due to an outage but upstart did not start Jenkins.

Running `service jenkins start` also failed on `permission denied` when trying to write to `pid/jenkings.pid` file. Inspecting ACLs, looks like something changed the `pid` directory to be read-only and reverted ownership to root. I had to manually reset ACLs on the `pid` directory before `service jenkins start` started w

[2016-02-01 18:12] sjamesr commented on #1101
I could reproduce a freeze inside `createHierarchy` on x86_64. As discussed, I believe the issue is as follows:
1. UI thread kicks off an RPC (e.g. `sync(result.app.exists(mVContext))`)
2. `app.exists` creates a future. Vanadium attempts to ensure that all callbacks are handled on the UI thread
3. the main thread returns back to `sync`, which then calls `get()` on the future returned by `exists`,

[2016-02-01 18:43] spetrovic77 commented on #1101
Awesome job figuring this out, James!!

We'll work on fixing this issue, likely by forbidding sync on a UI thread.

On Mon, Feb 1, 2016 at 10:12 AM, James Ring notifications@github.com
wrote:

[2016-02-01 18:48] yyoon commented on #1101
That would be great.

So the Vanadium lib tries to run all the callbacks on the UI thread by default, correct? Does that mean I can override that behavior by specifying a different `Executor` in the `Futures.addCallback()` call?

[2016-02-01 19:04] sjamesr commented on #1101
FWIW this is probably not specific to x86_64 :)

[2016-02-01 20:06] spetrovic77 commented on #1101
You can call V.setExecutor(), which will run all callbacks and server
methods on that executor.
On Feb 1, 2016 11:05 AM, "James Ring" notifications@github.com wrote:

[2016-02-01 20:58] yyoon commented on #1101
I think you meant `V.withExecutor()`, and presumably it would return a derived sub-context.
That's what @sjamesr told me to use, and it's submitted in https://github.com/vanadium/reader/commit/05e815cee9935d64b7d30e444cae09f8f13b47b3.

Should I close this issue, or would you like to keep this open for now and close it when you implement the `sync` call prevention?

[2016-02-01 21:36] spetrovic77 commented on #1101
Yeah, please leave the issue open.

Note that by using your own executor, you run the risk of callbacks to a
destroyed activity.  For example, if you rotate your screen, the old
activity will be destroyed, but some callbacks (e.g., syncbase watch) may
still get scheduled.  If you use the default executor (i.e., the UI
thread), we make sure that this scenario can never happen.

On Mon, Feb 1, 2016

[2016-02-01 22:03] jinjingforever commented on #1104
I suspect somebody restarted Jenkins last time under the root user instead of the veyron user. I added a line to the init script to chown the pid file/dir to user veyron before starting Jenkins.

Thanks!

[2016-02-01 22:03] #1104 closed, assigned to jinjingforever

[2016-02-01 22:29] aghassemi opened #1105 "Discovery: Automated tests for Dart"
There is none right now. Multi-device could be tricky but at least we should be able to test in a single mojo shell.

[2016-02-01 23:36] monopole opened #1106 "unlock of unlocked mutex on attempt to create/run a server"
In [moments](https://vanadium.googlesource.com/release.java/+/master/projects/moments/), step 3 crashes
1) create a server (V.withNewServer)
2) let it run a bit, then cancel the associated context
3) attempt to create a new server - crash:

02-01 15:31:12.687 10067-0/io.v.moments E/Go: panic: sync: unlock of unlocked mutex
02-01 15:31:12.687 10067-0/io.v.moments E/Go: goroutine 51 [running, locked

[2016-02-01 23:37] afandria opened #1107 "mojo/discovery: Go Panic Crash"
When I'm playing Croupier, I will randomly have the discovery binary crash in the background.

I collected some log files, and naively, it seems like there's an issue with mdns packing.

The log file is here since the panic is massive: [log.txt](https://github.com/vanadium/issues/files/113177/log.txt)

@aghassemi @bjornick @jhahn21

[2016-02-01 23:46] afandria commented on #1093
With the upgrade to Flutter, it passes now.

[2016-02-01 23:46] #1093 closed, assigned to afandria

[2016-02-01 23:46] afandria commented on #992
This has been here since mojo profile v4, but I need to actually verify that it can be used. (In any case, I should also update mojo.shared to have the shortcut making rule. #942)

[2016-02-01 23:47] #752 closed

[2016-02-01 23:50] monopole commented on #1106
To repro
1. start moments
2. take a picture
3. advertise it (click the on/off slider next to the photo)
4. stop advertisement
5. attempt to start advertising again

The last step tries to create and start a new server, which crashes.

The start server call is here: https://vanadium.googlesource.com/release.java/+/master/projects/moments/app/src/main/java/io/v/moments/model/AdvertiserImpl.java#70

[2016-02-01 23:52] afandria opened #1108 "failures not being reported in presubmits"
From the looks of this [CL](https://vanadium-review.googlesource.com/#/c/19390/3/vom/binary_util.go), we don't seem to be running vanadium-copyright in presubmit tests.

[2016-02-01 23:55] jhahn21 commented on #1107
@afandria, can you please check whether https://vanadium-review.googlesource.com/#/c/19413/ fix this issue?

[2016-02-01 23:57] afandria commented on #1107
Sure, I'll try it out.

If Croupier survives a "long time" (i.e., a few hours) without crashing, then that is probably the fix.

[2016-02-02 00:02] nlacasse commented on #1108
Strange.  The copyright check did run, and it did fail.  Not sure why the presubmit thought it passed.

[2016-02-02 00:02] nlacasse commented on #1108
It looks like failures are not being reported in presubmits.  @jinjingforever

[2016-02-02 00:08] afandria commented on #1108
Oh shoot, yes. I see it too. That's why. `croupier-unit-go` failed earlier, and I didn't see it in my recent CLs.

[2016-02-02 00:09] jinjingforever commented on #1108
Sorry, looks like one of my recent changes broke it.. Fixing it now.

[2016-02-02 00:16] jinjingforever commented on #1108
Should be fixed by v.io/c/19416.

[2016-02-02 00:16] #1108 closed, assigned to jinjingforever

[2016-02-02 00:23] afandria opened #1109 "mojo/discovery: Cannot compile mojom file with mojo v6"
Note that this isn't something we should have to fix (https://github.com/domokit/mojo/issues/648). For now, avoid installing mojo profile version 6.

The error message is:

[code]

If you accidentally do install mojo profile version 6, and you need to work with v23discovery, do the following to get back to version 5.

[code]

FYI, @bjornick @jhahn21

I'll update once this is no longer an issue, wh

[2016-02-02 00:24] afandria commented on #1109
You can also use arm-android@5 for Android.

[2016-02-02 00:32] afandria commented on #1108
Thanks!

[2016-02-02 00:55] #1106 closed, assigned to suharshs

[2016-02-02 01:21] aghassemi opened #1110 "Syncbase: Watch should not require Resolve permission"
The set of permissions needed to do a `Scan` v.s. `Watch` should be the same, that's not currently the case.

I  ran into  issue where my new integration test was failing when I was using `watch` but not when I was using `scan`.

It turned out that although I had `read` permission on the table, I did not have 'resolve' which was required by `watch`. These ACL errors were also not surfaced (the row

[2016-02-02 01:53] afandria commented on #1109
Actually, this (https://github.com/domokit/mojo/issues/648) is likely going to be a problem for us. If it is, I will update our discovery package.

[2016-02-02 01:56] afandria opened #1111 "mojo/discovery: Cannot build on Android"
Discussed earlier with @bjornick and @jhahn21

There is some trickiness around building for Android. I end up with a gradle build exception:

[code]

Supposedly having a `MOJO_DIR` and Android build matters here, but I haven't had any success yet. This should be mentioned in the Makefile (or a README).

[2016-02-02 02:21] afandria commented on #1111
It looks like the missing jar file is NOT in out/android_Debug.

@sjamesr @spetrovic77 : Do you have any ideas? It's possible that one of the Maven dependencies have disappeared recently.

[2016-02-02 02:24] sjamesr commented on #1111
Looks like you don't have the Android support library installed. You should
use Jake Wharton's SDK manager to install it automatically. See the
android-lib/build.gradle file for an example or go to
https://github.com/JakeWharton/sdk-manager-plugin for instructions. Let me
know how you go.
On Feb 1, 2016 6:21 PM, "Alex Fandrianto" notifications@github.com wrote:

[2016-02-02 02:25] afandria commented on #1111
Thanks, I'll give it a try.

[2016-02-02 02:40] afandria commented on #1111
It looks like `release/mojo/discovery/java/build.gradle` already has the sdk manager.

I tried changing `classpath 'com.jakewharton.sdkmanager:gradle-plugin:0.12.0'` to `classpath 'com.jakewharton.sdkmanager:gradle-plugin:0.12.+'`, but it didn't help.

I'll ask in person in the morning.

[2016-02-02 17:23] aghassemi opened #1112 "Discovery: Update Dart API to include the session changes"
Need to port https://vanadium-review.googlesource.com/#/c/19411 to Dart API. Ideally it would be all internal with no public API impact.

@jhahn21 @asimshankar

[2016-02-02 17:25] aghassemi opened #1113 "Discovery: Service Attachments in Dart"
Service Attachments are currently missing in Dart.

@jhahn21

[2016-02-02 17:48] sjamesr commented on #1111
Ok, this is https://github.com/JakeWharton/sdk-manager-plugin/issues/14. As a workaround, try the following patch:

[code]

[2016-02-02 22:55] bjornick opened #1114 "Flaky test - raft election sometimes takes too long"
There seems to be some flakiness in the raft election test.  Often (around 50% of the time on the release tests), the TestElection fails because it takes too long to elect a master.  Here are some sample jenkins outputs:

https://veyron.corp.google.com/jenkins/job/release-candidate-2-test/666/ARCH=amd64,OS=linux,TEST=vanadium-go-race-part4/console
https://veyron.corp.google.com/jenkins/job/release

[2016-02-02 22:57] bjornick opened #1115 "https://vanadium-review.googlesource.com/#/c/19347/ causes a deadlock in v.io/x/ref/lib/signals test"
I rolled this change back, but creating this issue to track it.  It is fairly reliable to repro.

@tatatodd @caprita

[2016-02-03 00:22] caprita commented on #1115
Shyam showed me how to reproduce it and I've been looking into it. I have a theory as to what's going on but need to confirm.

[2016-02-03 16:50] jeffallen opened #1116 "docs on how to set a timeout out of date"
https://godoc.v.io/pkg/v.io/v23/rpc/#Client mentions v23.CallTimeout, which does not exist.

I think it should be updated to v.io/v23/options.ChannelTimout.

[2016-02-03 19:16] caprita commented on #1115
The implementation of WaitTo in bufferedPipe seems incorrect, causing it to return as soon as the internal buffer is drained (instead of waiting for any future Writes up until the pipe Close). The result of this is that lib/signals_test fails in places where it writes more than one message to the cmd's stdinpipe.

Fix (and unit test case) in https://vanadium-review.googlesource.com/#/c/19490/

[2016-02-03 21:07] aghassemi opened #1117 "Syncbase: Ability to ignore certain fields when putting values"
Use-case is, a developer wanting to ignore certain fields in their type definition from being stored in Syncbase. This granular control allows developers to reuse types they have defined throughout the application for other purposes than just storage (e.g. using them for RPCs) without being forced to store unwanted data. This use-case has already come up with other teams using Syncbase.
There are

[2016-02-03 22:45] ankurtaly commented on #1116
Thanks for pointing this out, sent out a CL to fix this.
https://vanadium-review.googlesource.com/#/c/19506/1

[2016-02-03 22:48] ankurtaly opened #1118 "Failing website tests"
Websites tests have started failing as of Feb 3, 11:30AM. These include:
vanadium-website-deploy-production
vanadium-website-deploy-staging
vanadium-website-tutorials-core
vanadium-website-tutorials-external

From the console output it seems like the makefile is running into errors.
See: https://veyron.corp.google.com/jenkins/job/vanadium-website-deploy-staging/1555/console

[2016-02-03 22:52] suharshs commented on #1118
After whatever is causing the tests to fail is fixed, vanadium-website-tutorials-core will continue to fail until https://vanadium-review.googlesource.com/#/c/19499/ is submitted.

[2016-02-03 22:57] monopole opened #1119 "android discovery: secondary attempts to advertise always fail"
In the [moments app](https://vanadium.googlesource.com/release.java/+/master/projects/moments/) at head,

The sequence start and stop advertising works fine:

[code]

But following this with a new attempt to start advertising

[code]

always fails with

[code]

[2016-02-04 00:05] afandria opened #1120 "website: Wrong link"
On http://vanadium.github.io/tos.html, use `vanadium.github.io` instead of `v.io` for the Website.

[2016-02-04 01:04] afandria commented on #1120
I changed the ones that are user facing. There are a few that point to downloads or redirects on v.io, but that seems fine for now.

[2016-02-04 01:04] #1120 closed, assigned to afandria

[2016-02-04 01:10] aghassemi opened #1121 "SyncQL: Filter and Transform functions for array, map and sets"
- [ ]  Lambda support
- [ ] `Filter()` implemented
- [ ]  `Any()` implemented using Filter
- [ ]  `All()` implemented using Filter
- [ ]  `Transform` implemented

[2016-02-04 01:11] afandria commented on #1118
https://vanadium-review.googlesource.com/#/c/19522/ seems to address this.

[2016-02-04 01:12] aghassemi opened #1122 "Syncbase: Parameterized query support in Dart"

[2016-02-04 01:12] afandria commented on #1118
@jinjingforever

[2016-02-04 01:15] jinjingforever commented on #1118
vanadium-website-deploy-production and vanadium-website-deploy-staging have been disabled because we don't need them anymore. And I think Adam is looking at the other two. The CL Alex mentioned only addressed some results comparison issues in presubmit test.

[2016-02-04 02:52] asadovsky commented on #1118
@nlacasse
With help from Nick and others I think I've managed to fix most of the tests.
There are two remaining issues:
- https://veyron.corp.google.com/jenkins/job/vanadium-website-tutorials-external/1477/OS=darwin/console fails because `jiri` is already in `PATH` - we need to remove it from `PATH` somehow for that test
- https://veyron.corp.google.com/jenkins/job/vanadium-website-tutorials-js-no